<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
</head>
<style>
    body {
        margin:0;
        padding:0;
        border:0;
        overflow:hidden;
    }
    #proxy-image {
        max-height:100%;
        max-width:100%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        margin-right:50%;
        position:absolute;"
    }
    #proxy-pdf {
        width:100vw;
        height:100vh;
        margin:0;
        border:0;
        padding:0;
    }
    #dh-nothing-text {
        line-height:200%;
        max-width:500px;
        font-size:20px;
        text-align:center;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        margin-right:-50%;
        position:absolute;
        font-family:"roboto",Helvetica,sans-serif;
    }
</style>
<body>

    <%# LOAD DOMALOGIC / JQUERY / FONTS / QUANTCAST %>
    <%- include("proxy-index.ejs"); %>

    <%#-- CONTENT IS AN IMAGE OR PDF %>
    <% if (image != "" && doma_rental_info.type == 0) { %>

        <!-- CONTENT IS AN IMAGE -->
        <% if (content.indexOf("pdf") == -1) { %>
            <img id="proxy-image" src="<%= image %>"/>
            <script>
                document.getElementById('proxy-image').ondragstart = function() { return false; };
            </script>

        <!-- CONTENT IS A PDF -->
        <% } else { %>
            <iframe src="<%= image %>"></iframe>
        <% } %>

    <% } else { %>

        <div id="dh-nothing-text">

            <!-- FORWARDING WEBSITE -->
            <% if (doma_rental_info.type == 1) { %>
                The website <%= doma_rental_info.domain_name %><%= (doma_rental_info.path) ? "/" + doma_rental_info.path : "" %> will forward to
                <a href="<%= doma_rental_info.address %>">this link (<%= (doma_rental_info.address.length > 20) ? doma_rental_info.address.substr(0, 20) + "..." : doma_rental_info.address %>)</a>
                at the specified rental time.

            <!-- THERE IS NO CONTENT -->
            <% } else { %>
                There&#146;s nothing here! Move along now :)
            <% } %>

        </div>
    <% } %>

    <%# EDIT BUTTON IF LOGGED IN %>
    <% if (edit) { %>
        <%- include("proxy-edit.ejs"); %>
    <% } else { %>
        <%- include("proxy-noedit.ejs"); %>
    <% } %>

    <%# PREVIEW BANNER IF ITS A RENTAL PREVIEW %>
    <% if (preview) { %>
        <%- include("proxy-preview.ejs"); %>
    <% } %>
</body>
</html>
