<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>New offer on DomaHub!</title>
        <style type="text/css">
          #bodyTable {
            font-family: Verdana, sans-serif;
          }
          #emailHeader {
            background-color: #3cbc8d;
          }
          #emailBody {
            padding: 20px;
          }
          #emailFooter {
            background-color:#eee;padding:20px 30px;
          }
          a {
            cursor:pointer;text-decoration:none;
          }
          .list-item {
            border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;
          }
          .message {
            word-wrap:break-word;padding-left:20px;white-space:pre-wrap;
          }
          .button {
            color:#fff !important;background-color:#3cbc8d;padding:10px 20px;box-sizing:border-box;border-radius:5px;
          }
        </style>
    </head>

    <body>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="font-family:Verdana,sans-serif;">
          <tr>
              <td align="center" valign="top">
                  <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                      <tr>
                          <td align="center" valign="top">
                              <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader" style="background-color:#3cbc8d;">
                                  <tr>
                                      <td align="center" valign="top">
                                          <a href="https://www.domahub.com" style="border:0;margin:0;padding:0" rel="noreferrer" target="_blank" title="DomaHub">
                                            <img alt height="72" width="72" style="border:0;margin:0;padding:0" alt="Logo" src="https://domahub.com/images/dh-assets/circle-logo/dh-circle-logo-white-500x500.png" />
                                          </a>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td align="center" style="border:0;margin:0;padding-bottom:25px;color:#fff;font-size:24px;font-weight:700;line-height:2;">
                                      You have a new offer for <a href="<%= domain_name %>" style="color:#fff;text-decoration:none;"><%= domain_name %></a>!
                                    </td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td align="center" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" id="emailBody" style="padding:20px;">
                                  <tr>
                                    <td align="center" valign="top" colspan="5" style="font-size:18px;padding-bottom:20px;">
                                      Hello <%= owner_name %>!
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top" colspan="5" style="padding-bottom:20px;">
                                      The details of the offer are below:
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" class="list-item" colspan="1" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Name
                                    </td>
                                    <td aling="right" class="list-item" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offerer_name %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" class="list-item" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Email
                                    </td>
                                    <td align="left" class="list-item" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offerer_email %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" class="list-item" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Phone
                                    </td>
                                    <td align="left" class="list-item" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offerer_phone %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" class="list-item" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Offer
                                    </td>
                                    <td align="left" class="list-item" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offer %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" class="list-item" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Message
                                    </td>
                                    <td align="left" class="list-item message" style="line-height:1.5;border:0;margin:0;border-bottom:1px solid #ddd;word-wrap:break-word;padding-left:20px 0;white-space:pre-wrap;"><%= message %></td>
                                  </tr>
                                  <tr>
                                    <td colspan="5" style="line-height:1.5;padding-top:20px;">
                                      Please respond to this offer on your listings page. You can view the offer details by clicking on the button below.
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="5" align="center" style="line-height:1.5;padding-top:30px;">
                                      <a class='button' href="https://domahub.com/profile/mylistings?listing=<%= domain_name %>&tab=offers" style="color:#fff !important;background-color:#3cbc8d;padding:10px 20px;box-sizing:border-box;border-radius:5px;">View Offer Details</a>
                                    </td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td align="center" valign="top">
                              <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter" style="background-color:#eee;padding:20px 30px;">
                                  <tr>
                                      <td align="center" valign="top">
                                          Thank you for using DomaHub!
                                      </td>
                                  </tr>
                                    <tr>
                                      <td align="center" valign="top">
                                        Powered by <a href="https://www.domahub.com">DomaHub.com</a>.Have questions? <a href="https://www.domahub.com/contact">Contact us</a>!
                                      </td>
                                    </tr>
                              </table>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>
    </body>
</html>
