<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style type="text/css" >
          #bodyTable {
            font-family: Verdana, sans-serif;
          }
          #emailHeader {
            background-color: #3cbc8d;
          }
          .list-item {
             border:0;margin:0;padding:5px 20px;
          }
          .message {
            work-break:break-all;
            border: 1px solid #ddd;
          }
          #emailFooter {
            background-color: #ddd;
          }
        </style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                                    <tr>
                                        <td align="center" valign="top">
                                          <a href="https://www.domahub.com" style="border:0;margin:0;padding:0" rel="noreferrer" target="_blank">
                                            <img alt height="72" width="72" style="border:0;margin:0;padding:0" src="/images/dh-assets/circle-logo/dh-circle-logo-white-500x500.png" />
                                          </a>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td align="center" style="border:0;margin:0;padding-bottom:25px;color:#fff;font-size:24px;font-weight:700;">
                                        Please verify your offer for <%= domain_name %>
                                      </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                                    <tr>
                                      <td align="center" valign="top">
                                        Hello <%= offerer_name %>!
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        This email is to verify your offer for <a style="text-decoration: none;"><%= domain_name %></a>! Please see below for details on your offer:
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" class="list-item">
                                        Name: <%= offerer_name %>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" class="list-item">
                                        Email: <%= offerer_email %>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" class="list-item">
                                        Phone: <%= offerer_phone %>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" class="list-item">
                                        Offer: <%= offer %>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" class="list-item message">
                                        Message: <%= message %>
                                      </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                                    <tr>
                                        <td align="center" valign="top">
                                            This is where my footer content goes.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
