<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>New offer on DomaHub!</title>
    </head>

    <body style="margin:0;">
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="background-color:#f2f5f7;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',Verdana,sans-serif;">
          <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:40px 0 0;background-color:#3cbc8d">
                    <tbody>
                      <tr>
                        <td>
                            <table border="0" cellspacing="0" cellpadding="0" width="600" id="emailHeader" style="border-radius:8px 8px 0 0;border-collapse:collapse!important;margin:0 auto;">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top" style="padding-bottom:40px;">
                                            <a href="https://www.domahub.com" style="border:0;margin:0;padding:0" rel="noreferrer" target="_blank" title="DomaHub">
                                              <img alt height="72" width="72" style="border:0;margin:0;padding:0" alt="Logo" src="https://domahub.com/images/dh-assets/circle-logo/dh-circle-logo-white-500x500.png" />
                                            </a>
                                        </td>
                                    </tr>
                                    <td align="center" style="background-color:#fff;border-radius:8px 8px 0 0;">
                                      <div style="border:0;margin:0;font-size:24px;line-height:2;padding:20px;margin:0 20px;border-bottom:1px solid #ddd;">
                                        You have a new offer for <a href="<%= domain_name %>" style="color:#000;text-decoration:none;"><%= domain_name %></a>!
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer" style="background-color:#fff;border-radius:0 0 8px 8px;">
                    <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" id="emailBody" style="padding:20px 40px;">
                                  <tr>
                                    <td align="center" valign="top" colspan="5" style="font-size:18px;padding-bottom:20px;">
                                      Hello <%= owner_name %>!
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top" colspan="5" style="padding-bottom:20px;">
                                      The details of the offer are below:
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" colspan="1" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Name
                                    </td>
                                    <td aling="right" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offerer_name %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Email
                                    </td>
                                    <td align="left" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offerer_email %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Phone
                                    </td>
                                    <td align="left" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offerer_phone %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Offer
                                    </td>
                                    <td align="left" style="line-height:1.5;padding-left:20px;border:0;margin:0;border-bottom:1px solid #ddd;">
                                      <%= offer %>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" style="line-height:1.5;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                      Message
                                    </td>
                                    <td align="left" style="line-height:1.5;border:0;margin:0;border-bottom:1px solid #ddd;word-wrap:break-word;padding:10px 0 10px 20px;white-space:pre-wrap;"><%= message %></td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" style="line-height:1.5;padding-top:20px;">
                                      Please respond to this offer on your listings page. You can view the offer details by clicking on the button below.
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2" align="center" style="padding-top:20px;">
                                      <div style="width:100%;">
                                        <a href="https://domahub.com/profile/mylistings?listing=<%= domain_name %>&tab=offers" style="display:block!important;font-weight:bold;text-decoration:none;padding:15px 20px;box-sizing:border-box;border-radius:5px;background-color:#3cbc8d; color:#fff;">
                                          View Offer Details</a>
                                      </div>
                                    </td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </td>
          </tr>
          <tr>
              <td align="center" valign="top">
                  <table border="0" cellpadding="10" cellspacing="0" width="600" id="emailFooter" style="padding:40px;">
                      <tr>
                          <td align="center" valign="top" style="color:#676767;line-height:1.5;font-size:12px;">
                              Thank you for using DomaHub!
                          </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top" style="color:#676767;line-height:1.5;font-size:12px;">
                          Have questions? <a href="https://www.domahub.com/contact">Contact us</a>!
                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top" style="color:#676767;line-height:1.5;font-size:12px;">
                          &#169; DomaHub.com <%= (new Date()).getFullYear() %>
                        </td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>
    </body>
</html>
