<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Verify your offer on DomaHub!</title>
    <style type="text/css" >
      #bodyTable {
        font-family: Verdana, sans-serif;
      }
      #emailBody {
        padding: 20px;
      }
      #emailFooter {
        background-color:#eee;padding:20px 30px;
      }
      a {
        cursor:pointer;text-decoration:none;
      }
      .list-item {
        border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;
      }
      .message {
        word-wrap:break-word;padding-left:20px;white-space:pre-wrap;
      }
      .button {
        padding:10px 20px;box-sizing:border-box;border-radius:5px;
      }
    </style>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="font-family:Verdana,sans-serif;">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader" style="background-color:<%= (premium) ? listing_info.primary_color : '#3cbc8d' %>">
                                <tr>
                                    <td align="center" valign="top">
                                      <% if (premium == true && listing_info.logo) { %>
                                        <a href="http://www.<%= domain_name %>">
                                           <img height="72" width="72" src="<%= listing_info.logo %>" alt="Logo" />
                                        </a>
                                      <% } else if (premium == true && !listing_info.logo) { %>
                                        <img height="72" width="72" src="https://domahub.com/images/lib/sign.png" alt="Logo" />
                                      <% } else { %>
                                        <a href="https://www.domahub.com" style="border:0;margin:0;padding:0" rel="noreferrer" target="_blank" title="DomaHub">
                                          <img alt height="72" width="72" alt="Logo" style="border:0;margin:0;padding:0" src="https://domahub.com/images/dh-assets/circle-logo/dh-circle-logo-white-500x500.png" />
                                        </a>
                                      <% } %>
                                    </td>
                                </tr>
                                <tr>
                                  <td align="center" style="color:<%= (premium) ? listing_info.font_luminance : '#fff' %>;border:0;margin:0;padding-bottom:25px;;font-size:24px;font-weight:700;line-height:2;">
                                    Please verify your offer for <a href="<%= domain_name %>" style="color: <%= (premium) ? listing_info.font_luminance : '#fff' %>;"><%= domain_name %></a>.
                                  </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" id="emailBody" style="padding:20px;">
                                <tr>
                                  <td align="center" valign="top" colspan="5" style="font-size:18px;padding-bottom:20px;">
                                    Hello <%= offerer_name %>!
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" colspan="5" style="padding-bottom:20px;">
                                    This email is to verify your offer for <%= domain_name %>! Please see below for details on your offer:
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" class="list-item" colspan="1" style="border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    Name
                                  </td>
                                  <td aling="right" class="list-item" style="padding-left:20px;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    <%= offerer_name %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" class="list-item" style="border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    Email
                                  </td>
                                  <td align="left" class="list-item" style="padding-left:20px;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    <%= offerer_email %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" class="list-item" style="border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    Phone
                                  </td>
                                  <td align="left" class="list-item" style="padding-left:20px;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    <%= offerer_phone %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" class="list-item" style="border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    Offer
                                  </td>
                                  <td align="left" class="list-item" style="padding-left:20px;border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    <%= offer %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" class="list-item" style="border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;">
                                    Message
                                  </td>
                                  <td align="left" class="list-item message" style="border:0;margin:0;padding:10px 0;border-bottom:1px solid #ddd;word-wrap:break-word;padding-left:20px;white-space:pre-wrap;"><%= message %></td>
                                </tr>
                                <tr>
                                  <td colspan="5" align="center" style="padding-top:30px;">
                                    <a class="button" href="https://domahub.com/listing/<%= domain_name %>/contact/<%= verification_code %>" style="padding:10px 20px;box-sizing:border-box;border-radius:5px;background-color: <%= (premium) ? listing_info.primary_color : '#3cbc8d' %>; color: <%= (premium) ? listing_info.font_luminance : '#fff' %>;">
                                      Click Here to Verify Offer</a>
                                  </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter" style="background-color:#eee;padding:20px 30px;">
                                <tr>
                                    <td align="center" valign="top">
                                        You are receving this email because you made an offer to purchase
                                        <span style="text-decoration:none;"><%= domain_name %></span>. If you did not do this, please disregard this email.
                                    </td>
                                </tr>
                                <% if (!premium) { %>
                                  <tr>
                                    <td align="center" valign="top">
                                      Powered by <a href="https://www.domahub.com">DomaHub.com</a>. Have questions? <a href="mailto:support@domahub.com">Send us an email</a>!
                                    </td>
                                  </tr>
                                <% } %>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
