<!DOCTYPE html>
<html>
<head>
    <script async src="https://use.fontawesome.com/b36602cf54.js"></script>
    <link rel="stylesheet" type="text/css" href="https://domahub.com/css/min/master.min.css" />
</head>
<body>
  <div>
      <div id="text-wrapper">
          <a tabindex="0" title="Home" href="https://domahub.com">
              <div id="nav-logo"></div>
          </a>
          <p>
             Hello <%= owner_name %>!
          </p>
          <p>
             You have a new offer for <%= domain_name %>! Please see below for details on the offer:
          </p>
          <div>
            <ul>
                <li>Name - <%= offerer_name %></li>
                <li>Email - <%= offerer_email %></li>
                <li>Phone - <%= offerer_phone %></li>
                <li>Offer - <%= offer %></li>
            </ul>
            <p>Message - <%= message %></p>
          </div>
          <p>
              Please click on a button below to reply to this offer.
          </p>
          <a id="accept_button" class='button is-primary' href="https://domahub.com/listing/<%= domain_name %>/contact/<%= verification_code %>/accept">Accept offer</a>
          <a id="reject_button" class='button is-danger' href="https://domahub.com/listing/<%= domain_name %>/contact/<%= verification_code %>/reject">Reject offer</a>
          <p>
              Thank you!
          </p>
          <p style="text-align:right;">
              -- DomaHub
          </p>
      </div>
  </div>
</body>
</html>
