<!DOCTYPE html>

<html>

	<head>
		<title>w3bbi</title>
		<link rel="stylesheet" href="/css/style_base.css" type="text/css" />
		<link rel="stylesheet" href="/css/fullcalendar.min.css" type="text/css" />
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
		<script src="/js/jquery/jquery.js" type="text/javascript"></script>
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script src="/js/fullcalendar.min.js" type="text/javascript"></script>
		<script src="/js/listing.js" type="text/javascript"></script>
		<script type="text/javascript">
			var user = <% if(user){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
			var info = <% if(info){ %><%-JSON.stringify(info)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/profile.js" type="text/javascript"></script>
		<link rel="icon" type="image/ico" href="/images/favicon.ico">
	</head>
	
	<body>

		<div class="body_wrapper">
			<% if (user) {%>
				<p>Logged in: <%= user.email %></p>
				<p><a href="/logout">Log Out</a></p>
			<% } else {%>
				<div id="form_wrapper">
				<form id="target" action="/login" method="post">
					<input name="email" placeholder="Email" type="text" id="email_input" autofocus>
					<input name="password" placeholder="Password" type="password" id="pw_input">
					<input id="submit" type="submit" value="Sign in">
				</form>
				<div id="signup_wrapper">
					<a id="signup" href="/signup">Create an account</a>
				</div>
			</div>
			<% } %>
			<a href="/">Home</a>
			<table>
				<th>Date Created</th>
				<th>Domain Name</th>
				<tr>  
					<td><%= info.date_created %></td>  
					<td><%= info.domain_name %></td>  
				</tr>                                   
			</table>

			<div id="form_wrapper">
				<form id="listing_form">
					<input name="type" value="0" type="radio" class="type_input" id="radio_0_input">
					<input name="type" value="1" type="radio" class="type_input" id="radio_1_input">
					<input id="submit" type="submit" value="Rent now!">
				</form>
			</div>
			
			<div id="calendar"></div>
			
		</div>

	</body>
	
</html>