<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title>w3bbi</title>
		<link rel="stylesheet" href="/css/style_base.css" type="text/css" />
		<link rel="stylesheet" href="/css/fullcalendar.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/listing.css" type="text/css" />
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
		<script src="/js/jquery/jquery.js" type="text/javascript"></script>
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script src="/js/fullcalendar.min.js" type="text/javascript"></script>
		<script src="/js/cookie.js" type="text/javascript"></script>
		<script src="/js/routes/client_listing.js" type="text/javascript"></script>
		<script type="text/javascript">
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
			var old_rental_info = <% if(typeof old_rental_info != "undefined"){ %><%-JSON.stringify(old_rental_info)%><% }else{ %>""<% } %>;
		</script>
		<link rel="icon" type="image/ico" href="/images/favicon.ico">
	</head>
	
	<body>
		<div class="body_wrapper">
		
			<!-- checks if user is logged in -->
			<% if (typeof user == "undefined") {%>
				<div id="form_wrapper">
					<form id="target" action="/login" method="post">
						<input name="email" placeholder="Email" type="text" id="email_input" autofocus>
						<input name="password" placeholder="Password" type="password" id="pw_input">
						<input id="submit" type="submit" value="Sign in">
					</form>
					<div id="signup_wrapper">
						<a id="signup" href="/signup">Create an account</a>
					</div>
				</div>
			
			<!-- user is logged in! -->
			<% } else {%>
				<p>Logged in: <%= user.email %></p>
				<p><a href="/profile">Profile</a></p>
				<p><a href="/logout">Log Out</a></p>
			<% } %>
			
			<a href="/">Home</a>
			
			<!-- information about the current listing -->
			<% if (typeof listing_info != "undefined") {%>
				<table>
					<th>Date Created</th>
					<th>Domain Name</th>
					<th>Owner Email</th>
					<th>Owner Name</th>
					<th>Price Type</th>
					<th>Set Price</th>
					<tr>  
						<td><%= listing_info.date_created %></td>  
						<td><%= listing_info.domain_name %></td>  
						<td><%= listing_info.email %></td>
						<td><%= listing_info.fullname %></td>
						<td><%= listing_info.price_type %></td>
						<td><%= listing_info.set_price %></td>
					</tr>                                   
				</table>
			<% } %>
			
			<!-- any messages from the server -->
			<div id="message">
				<% if (typeof message != "undefined") {%>
					<%= message %>
				<% } else {%>
					Welcome
				<% } %>
				
				<% if (old_rental_info != false) {%>
					<div>Currently editing existing rental!</div>
				<% } %>
			</div>
			
			<div id="price">$0</div>

			<div id="form_wrapper">
				<form id="listing_form">
					<input name="type" value="0" type="radio" class="type_input" id="radio_0_input" checked="checked">
					<input name="type" value="1" type="radio" class="type_input" id="radio_1_input">
					<input id="submit" type="submit" value="Rent now!">
				</form>
			</div>
			
			<input type="button" id="remove_events" value="Remove all events"></input>
			
			<div id="calendar"></div>
			
		</div>

	</body>
	
</html>