<!-- user profile page, should not see unless logged in -->

<!DOCTYPE html>

<html>

	<head>
		<title>w3bbi</title>
		<link rel="stylesheet" href="/css/style_base.css" type="text/css" />
		<link rel="stylesheet" href="/css/profile.css" type="text/css" />
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
		<script src="/js/jquery/jquery.js" type="text/javascript"></script>
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			//redirect to homepage if user is not defined
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
			var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
			var rentals = <% if(typeof rentals != "undefined"){ %><%-JSON.stringify(rentals)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/client_profile.js" type="text/javascript"></script>
		<link rel="icon" type="image/ico" href="/images/favicon.ico">
	</head>

	<body>

		<% if (typeof user != "undefined") {%>
			<p>Logged in: <%= user.email %></p>
			<p><a href="/">Home</a></p>
			<p><a href="/logout">Log Out</a></p>


			<p id="message">Welcome!</p>

			<h2>My Domains:</h2>
			<% if (typeof listings != "undefined") {%>
				<table id="domain_table">
					<th>Domain Name</th>
					<th>Active?</th>
					 <% listings.forEach(function (listing) { %>
						<tr>
							<td><a href="/listing/<%= listing.domain_name %>"><%= listing.domain_name %></a></td>
							<td><%= (listing.price_type != 0) ? "True" : "False"%></td>
							<% if (listing.price_type == 0){ %>
								<td class="activate_button" id="activate_<%= listing.domain_name %>">Activate?</td>
							<% } %>
						</tr>
					 <% }) %>
				</table>
			<% } else { %>
				<p>You have no domains currently!</p>
			<% } %>

			<div id="new_listing_wrapper">
				<div id="form_wrapper">
					<form id="listing_form" action="/profile" method="post" novalidate>
						<input id="listing_form_domain_name" type="url" name="domain_name" placeholder="https://myawesomedomain.com">
						<input id="listing_form_description" type="text" name="description" placeholder="The best website ever!">
						<input id="submit" type="submit" value="Create new listing!">
					</form>
				</div>

				<div id="hash_wrapper">
					<div id="hash_txt">

					</div>
					<div id="hash_html">

					</div>
					<div id="hash_meta">

					</div>
					<div id="hash_htaccess">
						<p>Copy the below code into the .htaccess file of your website to prove that you own the domain name!</p>
						<p>What is the .htaccess file?</p>
						<p>An .htaccess file is a list of various settings for your website. By entering in your unique code below to your .htaccess file, we can create a link that will prove the ownership of this website name.</p>
						<p>How do I edit my .htaccess file?</p>
						<code>Header set w3bbi "<span id="hash_code"></span>"</code>
					</div>
				</div>
			</div>


			<h2>My Rentals:</h2>
			<% if (typeof rentals != "undefined") {%>
				<table id="rental_table">
					<th>Domain Name</th>
					<th>Start Date</th>
					<th>End Date</th>
				</table>
			<% } else { %>
				<p>You have no rentals currently!</p>
			<% } %>

		<% } else {%>
			<%- include("login"); %>
		<% } %>
	</body>

</html>
