<!-- user profile page, should not see unless logged in -->

<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub - Dashboard</title>
		<%- include("templates/head_links"); %>
		<link rel="stylesheet" href="/css/profile.css" type="text/css" />
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			//redirect to homepage if user is not defined
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
			var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
			var rentals = <% if(typeof rentals != "undefined"){ %><%-JSON.stringify(rentals)%><% }else{ %>""<% } %>;
		</script>
	</head>

<body>

	<%- include("templates/navbar", {user: user}); %>

	<div class="container clear-nav-profile">
		<div class="tabs is-centered">
		  <ul>
		    <li class="is-active"><a href="/profile/dashboard">Dashboard</a></li>
		    <li><a href="/profile/inbox">Inbox</a></li>
		    <li><a href="/profile/mylistings">Listings</a></li>
		    <li><a href="/profile/myrentals">Rentals</a></li>
		    <li><a href="/profile/settings">Settings</a></li>
		  </ul>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="columns">

				<div class="column is-one-quarter">
					<div class="card bottom-margin-25">
						<div class="card-image">
							<figure class="image is-4by3">
								<img src="https://goo.gl/XilFJ5" />
							</figure>
						</div>
						<div class="card-content">
							<h2 class="has-text-centered"><%= user.fullname %></h2>
							<h3 class="has-text-centered"><%= user.email %></h3>
						</div>

						<footer class="card-footer">
							<a class="card-footer-item black-link" href="/profile/settings">Edit Profile</a>
						</footer>
					</div>
					<article class="message bottom-margin-25">
						<div class="message-header is-primary has-text-centered">
							Account Settings
						</div>
						<div class="message-body has-text-centered">
							<div class="content quick-links">
								<a href="/authorizestripe">Manage Payments</a>
								<a href="/profile/settings">Change Email Address</a>
							</div>
						</div>
					</article>
					<article class="message">
						<div class="message-header is-primary has-text-centered">
							Quick Links
						</div>
						<div class="message-body has-text-centered">
							<div class="content quick-links">
								<a>FAQ</a>
								<a>Terms of Service</a>
								<a>Privacy Policy</a>
								<a>Support Center</a>
							</div>
						</div>
					</article>
				</div>

				<div class="column">
					<box class="box">
						<table id="domain_table" class="table">
							<caption class="caption">
								My Listings
							</caption>
							<% if (listings.length){ %>
							<thead>
								<tr>
									<th>Domain Name</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<% listings.forEach(function (listing) { %>
								 <tr>
									 <td><a href="/listing/<%= listing.domain_name %>"><%= listing.domain_name %></a></td>
									 <% if (listing.price_type != 0) { %>
										 <td>Active</td>
									 <% } else { %>
										 <td><a href="#">Verify?</a></td>
									 <% } %>
								 </tr>
								<% }) %>
							</tbody>
							<% } %>
						</table>

						<% if (!listings.length) { %>
							<article class="message has-text-centered">
								<div class="message-body">
									You have no listings yet!
								</div>
							</article>
						<% } %>

						<a class="button is-primary is-outlined" href="/listing/create">Create new listing</a>
					</box>
					<div class="box">
						<table id="rental_table" class="table">
							<caption class="caption">
								My Rentals
							</caption>
							<% if (rentals.length){ %>
							<thead>
								<tr>
									<th>Domain Name</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th></th>
								</tr>
							</thead>
							<% } %>
						</table>

						<% if (!rentals.length) { %>
							<article class="message has-text-centered">
								<div class="message-body">
									You have no rentals yet!
								</div>
							</article>
						<% } %>

					</div>
				</div>

				<% if (user.type != 2){ %>
					<div class="column is-one-quarter">
						<article class="message">
							<div class="message-body has-text-centered">
								<div class="content">
									<p>
										As a domain owner, you must connect your account with <a href="https://stripe.com/about">Stripe</a> before you can receive payments.
									</p>
									<a href="/authorizestripe" class="button is-success">Connect with Stripe</a>
								</div>
							</div>
						</article>
					</div>
				<% } %>

			</div>
		</div>

	</section>

	<%- include("templates/footer"); %>
	<script src="/js/routes/profile_logic.js" type="text/javascript"></script>
	</body>

</html>
