<html>

	<head>
		<title>w3bbi</title>
		<%- include("templates/head_links"); %>
		<link rel="stylesheet" href="/css/profile.css" type="text/css" />
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			//redirect to homepage if user is not defined
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
			var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
			var rentals = <% if(typeof rentals != "undefined"){ %><%-JSON.stringify(rentals)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/client_profile.js" type="text/javascript"></script>
	</head>

<body>
	<%- include("templates/navbar", {user: user}); %>

	<div class="container clear-nav">
		<div class="tabs is-centered">
			<ul>
				<li><a href="/profile/dashboard">Dashboard</a></li>
				<li><a href="/profile/inbox">Inbox</a></li>
				<li><a href="/profile/mylistings">My Listings</a></li>
				<li class="is-active"><a href="/profile/myrentals">My Rentals</a></li>
			</ul>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="columns">

				<div class="column is-one-quarter">
					<nav class="panel">
						<p class="panel-heading has-text-centered">
							Search and Filter
						</p>
						<!-- <p class="panel-tabs">
							<a class="is-active" href="#">All</a>
							<a href="#">Public</a>
							<a href="#">Private</a>
							<a href="#">Sources</a>
							<a href="#">Forks</a>
						</p> -->
						<div class="panel-list">
						<a class="panel-block is-active" href="#">
							<p class="control has-icon">
								<input class="input" type="text" placeholder="Search" />
								<i class="fa fa-search"></i>
							</p>
						</a>
						<a class="panel-block" href="#">
							<span class="panel-icon">
								<i class="fa fa-list-alt"></i>
							</span>
							Currently listed
						</a>
						<a class="panel-block" href="#">
							<span class="panel-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							Pending approval
						</a>
						<a class="panel-block" href="#">
							<span class="panel-icon">
								<i class="fa fa-exclamation-circle"></i>
							</span>
							Expiring soon
						</a>
						<a class="panel-block" href="#">
							<span class="panel-icon">
								<i class="fa fa-history"></i>
							</span>
							History
						</a>
						<div class="panel-block">
							<a class="button is-primary is-outlined is-fullwidth">
								Reset all filters
							</a>
						</div>
						</div>
					</nav>
				</div>

				<div class="column is-three-quarters">
					<div class="box">
						<% if (typeof rentals != "undefined") {%>
						<table id="rental_table" class="table">
							<caption class="caption">
								My Rentals
							</caption>
							<thead>
								<tr>
									<th>Domain Name</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th></th>
								</tr>
							</thead>
						</table>
						<% } else { %>
							<p>You have no rentals currently!</p>
						<% } %>
					</div>
				</div>

			</div>
		</div>
	</section>

</body>
</html>
