<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub - Inbox</title>
		<%- include("templates/head_links"); %>
		<link rel="stylesheet" href="/css/profile.css" type="text/css" />
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			//redirect to homepage if user is not defined
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
			var convo_list = <% if(typeof convo_list != "undefined"){ %><%-JSON.stringify(convo_list)%><% }else{ %>""<% } %>;
		</script>
	</head>

<body>
	<%- include("templates/navbar", {user: user}); %>

	<div class="container clear-nav-profile">
		<div class="tabs is-centered">
			<ul>
				<li><a href="/profile/dashboard">Dashboard</a></li>
				<li class="is-active"><a href="/profile/inbox">Inbox</a></li>
				<li><a href="/profile/mylistings">Listings</a></li>
				<li><a href="/profile/myrentals">Rentals</a></li>
				<li><a href="/profile/settings">Settings</a></li>
			</ul>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-one-quarter">
					<nav class="panel is-hidden-mobile">
						<p class="panel-tabs">
							<a class="is-active" href="#">Recent</a>
							<a href="#">Message Requests</a>
						</p>
						<a class="panel-search">
							<p class="control has-icon">
								<input id="search-user" class="input" type="text" placeholder="Search contacts" />
								<i class="fa fa-search"></i>
							</p>
						</a>
						<div class="panel-list">

						</div>
					</nav>

				</div>
				<%# <div class="column has-text-centered">
					<div class="box">
						Your inbox is currently empty.
					</div>
				</div>%>

				<div class="column is-two-thirds">
					<div class="box no-shadow radius-right-only">
						<form action="/messages" method="post" id="messenger_form">
							<div class="chat-box-header bottom-margin-25">
								<div class="chat-box-header-item">
									<input id="msg_receiver_input" class="input" placeholder="New Message To: "name="msg_receiver" type="text" />
								</div>
								<div id="inbox-message" class="chat-box-header-item"></div>
								<div class="chat-box-header-item">
									<p id="new-message-controls" class="is-hidden control has-addons">
									  <a id="new-message" class="button is-small">
									    <span>&#43 New Message</span>
									  </a>
									  <a class="button is-small">
									    <span class="icon is-small no-margin">
									      <i class="fa fa-cog"></i>
									    </span>
											<span></span>
									  </a>
									  <a class="button is-small">
									    <span class="icon is-small no-margin">
									      <i class="fa fa-search"></i>
									    </span>
											<span></span>
									  </a>
									</p>
								</div>
							</div>

							<div id="chat_wrapper">
								<div id="convo-loading" class="loader-primary is-blank no-shadow is-hidden"></div>
							</div>

							<div id="msg-text-wrapper">
								<textarea id="msg_text_input" class="textarea to-reset" name="msg_text" placeholder="Press Enter to send"></textarea>
								<div id="msg-text-footer">
									<div class="msg-text-footer-item">
										<a class="button is-small is-blank">
											<span class="icon">
												<i class="fa fa-smile-o"></i>
											</span>
											<span>Emoji</span>
										</a>
									</div>
									<div class="msg-text-footer-item">
										<p>
											Press enter to send
										</p>
										<input id="enter-checkbox" type="checkbox" checked class="checkbox" />
										<input id="msg_submit" value="SEND" class="button is-small is-accent" type="submit" />
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include("templates/footer"); %>
	<script src="/js/routes/profile_inbox_logic.js" type="text/javascript"></script>
</body>
</html>
