<!DOCTYPE html>

<html>

	<head>
		<title>w3bbi</title>
		<%- include("templates/head_links"); %>
		<link rel="stylesheet" href="/css/profile.css" type="text/css" />
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			//redirect to homepage if user is not defined
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
			var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
			var rentals = <% if(typeof rentals != "undefined"){ %><%-JSON.stringify(rentals)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/client_profile.js" type="text/javascript"></script>
	</head>

	<body>
	<%- include("templates/navbar", {user: user}); %>

		<div class="container clear-nav-profile">
			<div class="tabs is-centered">
				<ul>
					<li><a href="/profile/dashboard">Dashboard</a></li>
					<li><a href="/profile/inbox">Inbox</a></li>
					<li class="is-active"><a href="/profile/mylistings">My Listings</a></li>
					<li><a href="/profile/myrentals">My Rentals</a></li>
					<li><a href="/profile/settings">Account Settings</a></li>
				</ul>
			</div>
		</div>

		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-one-quarter">

						<nav class="panel">
						  <p class="panel-heading has-text-centered">
						    Search and Filter
						  </p>
						  <!-- <p class="panel-tabs">
						    <a class="is-active" href="#">All</a>
						    <a href="#">Public</a>
						    <a href="#">Private</a>
						    <a href="#">Sources</a>
						    <a href="#">Forks</a>
						  </p> -->
							<div class="panel-list">
						  <a class="panel-block is-active" href="#">
						    <p class="control has-icon">
									<input class="input" type="text" placeholder="Search" />
									<i class="fa fa-search"></i>
								</p>
						  </a>
						  <a class="panel-block" href="#">
						    <span class="panel-icon">
						      <i class="fa fa-list-alt"></i>
						    </span>
						    Currently rented
						  </a>
						  <a class="panel-block" href="#">
						    <span class="panel-icon">
						      <i class="fa fa-ellipsis-h"></i>
						    </span>
						    Pending approval
						  </a>
							<a class="panel-block" href="#">
						    <span class="panel-icon">
						      <i class="fa fa-exclamation-circle"></i>
						    </span>
						    Expiring soon
						  </a>
							<a class="panel-block" href="#">
								<span class="panel-icon">
									<i class="fa fa-history"></i>
								</span>
								History
							</a>
						  <div class="panel-block">
						    <a class="button is-fullwidth">
						      Reset all filters
						    </a>
						  </div>
							</div>
						</nav>

						<div class="container bottom-margin-25">
							<a class="button is-info is-medium is-fullwidth" href="/listing/create">Create new listing</a>
						</div>

					</div>

					<div class="column is-three-quarters">
						<% if (listings.length) {%>
						<box class="box">
							<table id="domain_table" class="table">
								<thead>
									<tr>
										<th>Domain Name</th>
										<th>Status</th>
										<th>Date Created</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% listings.forEach(function (listing) { %>
									 <tr>
										 <td><%= listing.domain_name %></td>
										 <% if (listing.price_type != 0) { %>
										 <td>Active</td>
										 <% } else { %>
										 <td>
											 <span class="select">
										    <select>
										      <option>Active</option>
										      <option>Inactive</option>
										    </select>
										  </span>
										</td>
										 <% } %>
										 <td><%= listing.date_created %></td>
										 <td>
											<a class="button" href="/listing/<%= listing.domain_name %>">
												<span class="icon">
													<i class="fa fa-television"></i>
												</span>
												<span>View</span>
											</a>
										 </td>
										 <td>
											<a class="button" href="">
												<span class="icon">
											    <i class="fa fa-gear"></i>
											  </span>
											  <span>Edit</span>
											</a>
										 </td>
									 </tr>
									<% }) %>
								</tbody>
							</table>

							<% } if (!listings.length) { %>
								<div class="box has-text-centered">
									You have no listings yet!
								</div>
							<% } %>

							<nav class="pagination">
								<a class="button">Previous</a>
								<a class="button">Next page</a>
								<ul>
									<li>
										<a class="button">1</a>
									</li>
									<li>
										<span>...</span>
									</li>
									<li>
										<a class="button">45</a>
									</li>
									<li>
										<a class="button is-primary">46</a>
									</li>
									<li>
										<a class="button">47</a>
									</li>
									<li>
										<span>...</span>
									</li>
									<li>
										<a class="button">86</a>
									</li>
								</ul>
							</nav>

						</box>
					</div>

				</div>
			</div>
		</section>

	<%- include("templates/footer"); %>
	<script src="/js/routes/profile_logic.js" type="text/javascript"></script>
	</body>

</html>
