<!DOCTYPE html>
<html>
<head>
  <title>Redirecting... - DomaHub</title>
  <%- include("templates/head_links.ejs"); %>
  <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
  <script>
    var redirect = <% if(typeof redirect != "undefined"){ %><%-JSON.stringify(redirect)%><% }else{ %>"/"<% } %>;
    var auto_redirect = <% if(typeof auto_redirect != "undefined"){ %><%-JSON.stringify(auto_redirect)%><% }else{ %>true<% } %>;
    var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>{}<% } %>;
  </script>
</head>

<body id="compare-preview" class="is-hidden" style="height:100vh;">
  <div class="content has-text-centered clear-nav">
    <h2 class="margin-bottom-5 has-text-centered">
      <% if (listing_info.premium) { %>

        <!--custom logo -->
        <% if (listing_info.logo) { %>
          <a href="http://www.<%= listing_info.domain_name %>">
             <img height="72" width="72" src="<%= listing_info.logo %>" />
          </a>
        <% } else { %>
          <h1 id="domain-title" class="is-primary" href="http://www.<%= listing_info.domain_name %>"><%= listing_info.domain_name %></h1>
        <% } %>
      <% } else { %>
        <a class='is-inline-block flat-logo is-primary' tabindex="0" title="Home" href="/">
          <div class='is-inline-block flat-logo is-primary'></div>
        </a>
      <% } %>
    </h2>
  </div>

  <div id="login-form" class="account-form">
    <form id="target" action="/login" method="post">
      <p id="message" class="has-text-centered margin-bottom-25">
        <%= message %>
      </p>
      <div id="redirect">
        <a id="redirect-button" class="login-button is-primary button is-stylish is-fullwidth" href="<%= redirect %>"><%= button %></a>
      </div>
    </form>
  </div>

  <%- include("templates/js_scripts.ejs"); %>
  <script src="/js/redirect_logic.js" type="text/javascript"></script>
  <script src="/js/routes/listings/theming.js" type="text/javascript"></script>

</body>

</html>
