<!-- editing rental page -->

<!DOCTYPE html>

<html>

	<head>
		<title>w3bbi</title>
		<link class="w3bbi_main_css" rel="stylesheet" href="/css/style_base.css" type="text/css" />
		<link rel="stylesheet" href="/css/rental.css" type="text/css" />
		<link rel="stylesheet" href="/css/fullcalendar.min.css" type="text/css" />
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<script src="/js/jquery/jquery.js" type="text/javascript"></script>
		<script src="/js/jquery/jquery-ui.js" type="text/javascript"></script>
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script src="/js/sanitize-html.js" type="text/javascript"></script>
		<script type="text/javascript">
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var rental_info = <% if(typeof rental_info != "undefined"){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
			var rental_details = <% if(typeof rental_details != "undefined"){ %><%-JSON.stringify(rental_details)%><% }else{ %>""<% } %>;
			var rental_html = <% if(typeof rental_html != "undefined"){ %><%-JSON.stringify(rental_html)%><% }else{ %>""<% } %>;
			var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/cookie.js" type="text/javascript"></script>
		<script src="/js/routes/client_rental.js" type="text/javascript"></script>
		<link rel="icon" type="image/ico" href="/images/favicon.ico">
	</head>
	
	<body>

		<div class="body_wrapper">
			
			<div class="w3bbi_wrapper" id="w3bbi_hider">w3bbi Rental Info</div>
			<div class="w3bbi_wrapper" id="w3bbi_wrapper">
				<div id="account_wrapper" class="border_white w3bbi_content_wrapper">
				
					<!-- checks if user is logged in -->
					<% if (typeof user == "undefined") {%>
						<div id="form_wrapper">
							<form id="target" action="/login" method="post">
								<input name="email" placeholder="Email" type="text" id="email_input" autofocus>
								<input name="password" placeholder="Password" type="password" id="pw_input">
								<input id="submit" type="submit" value="Sign in">
							</form>
							<div id="signup_wrapper">
								<a class="button" id="signup" href="/signup">Create an account</a>
							</div>
						</div>
					<!-- if not logged in -->
					<% } else {%>
						<div>Logged in as <%= user.email %></div>
						<a class="button" href="/logout">Log Out</a>
					<% } %>
					
					<a class="button" href="/">Home</a>
					
					<!-- listing information, this should never error -->
					<% if (typeof listing_info != "undefined") {%>
						<a class="button" href="/listing/<%=listing_info.domain_name%>">Back to listing</a>
					<% } %>
				</div>
				
				<div id="message" class="w3bbi_content_wrapper">Currently editing</div>

				<!-- listing information, this should never error -->
				<% if (typeof listing_info != "undefined") {%>
					<div id="listing_wrapper" class="w3bbi_content_wrapper">
						<table id="listing_table">
							<th>Domain Name</th>
							<th>Owner Name</th>
							<tr>  
								<td><a href="http://www.<%= listing_info.domain_name %>"><%= listing_info.domain_name %></a></td>  
								<td><a href="<%= listing_info.email %>"><%= listing_info.fullname %></a></td>  
							</tr>                                   
						</table>
					</div>
				<% } %>
				
				<% if (typeof rental_info != "undefined") { %>
					<div id="rental_wrapper" class="w3bbi_content_wrapper">
						<div>Rented from:</div>
					</div>
				<% } %>
				<% if (typeof new_rental_info != "undefined") { %>
					<div id="new_rental_wrapper" class="w3bbi_content_wrapper">
						<div>Renting for:</div>
					</div>
				<% } %>
				
				<!-- editing existing rental, add more time -->
				<% if (typeof rental_info != "undefined") { %>
					<form id="edit_rental_info" action="/listing/<%=listing_info.domain_name%>/edit" method="post">
						<input name="rental_id" type="hidden" value=<%= rental_info.rental_id %>>
						<input id="edit_info_submit" class="button form_submit" type="submit" value="Add more time">
					</form>
				<% } %>
				
				<!-- rental edit wrapper -->
				<div id="rental_edit" class="border_white w3bbi_content_wrapper">
				
					<!-- if new rental -->
					<% if (typeof new_rental_info != "undefined") { %>
						<form class="edit_rental_details" id="edit_rental_details_pay" action="/listing/<%=listing_info.domain_name%>/pay" method="post">
						<% if (new_rental_info.type == 0) { %>
							<div id="edit_now" class="button">Edit page</div>
						<% } else if (new_rental_info.type == 1) { %>
							<input name="redirect" placeholder="http://url-to-redirect-to.com" type="url" id="url_input" autofocus>
						<% } %>
							<button class="form_submit button btn btn-primary btn-lg" id="stripe-button">
								Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
							</button>
						</form>
	
					<!-- if editing existing rental -->
					<% } else {%>
						<form class="edit_rental_details" id="edit_rental_details" action="/listing/<%=listing_info.domain_name%>/<%=rental_info.rental_id%>" method="post">
							<div id="edit_now" class="button">Edit page</div>
							<input id="edit_details_submit" class="button form_submit" type="submit" value="Submit">
						</form>
					<% } %>
				</div>
				
				<!-- more rental edits -->
				<div id="edit_now_details" class="w3bbi_content_wrapper">
					<form id="edit_details_form">
						<div>Background image:</div>
						<input class="edit_input" name="background" placeholder="http://URL-of-background-image.com" type="url" id="background_input" autofocus>
					</form>
				</div>
				
			</div>
			
			<div id="rental_preview"></div>
		</div>	
	</body>
	
</html>