<!DOCTYPE html>

<html>

	<head>
		<title>w3bbi</title>
		<link rel="stylesheet" href="/css/style_base.css" type="text/css" />
		<link rel="stylesheet" href="/css/fullcalendar.min.css" type="text/css" />
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
		<script src="/js/jquery/jquery.js" type="text/javascript"></script>
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script src="/js/fullcalendar.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var user = <% if(user){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
			var listing_info = <% if(listing_info){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var rental_info = <% if(rental_info){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
			var rental_details = <% if(rental_details){ %><%-JSON.stringify(rental_details)%><% }else{ %>""<% } %>;
			var new_listing_info = <% if(new_listing_info){ %><%-JSON.stringify(rental_details)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/profile.js" type="text/javascript"></script>
		<link rel="icon" type="image/ico" href="/images/favicon.ico">
	</head>
	
	<body>

		<div class="body_wrapper">
			<% if (user) {%>
				<p>Logged in: <%= user.email %></p>
				<p><a href="/logout">Log Out</a></p>
			<% } else {%>
				<div id="form_wrapper">
				<form id="target" action="/login" method="post">
					<input name="email" placeholder="Email" type="text" id="email_input" autofocus>
					<input name="password" placeholder="Password" type="password" id="pw_input">
					<input id="submit" type="submit" value="Sign in">
				</form>
				<div id="signup_wrapper">
					<a id="signup" href="/signup">Create an account</a>
				</div>
			</div>
			<% } %>
			<a href="/">Home</a>
			<a href="/listing/<%=listing_info.domain_name%>">Back to calendar</a>
			
			<div>Rental Information</div>
			<% for (var x = 0; x < rental_info.length; x++) { %>
				<div>Start: <%=rental_info[x].start %></div>
				<div>End: <%=rental_info[x].end %></div>
			<% } %>
			
			<div>Rental Details:</div>
			<% if (rental_details) { %>
				
			<% } else {%>
				
			<% } %>
			
			<div>Listing Information:</div>
			<table>
				<th>Date Created</th>
				<th>Domain Name</th>
				<th>Owner Email</th>
				<th>Owner Name</th>
				<th>Price Type</th>
				<th>Set Price</th>
				<tr>  
					<td><%= listing_info.date_created %></td>  
					<td><%= listing_info.domain_name %></td>  
					<td><%= listing_info.email %></td>  
					<td><%= listing_info.fullname %></td>  
					<td><%= listing_info.price_type %></td>  
					<td><%= listing_info.set_price %></td>  
				</tr>                                   
			</table>
			
		</div>

	</body>
	
</html>