<!-- editing rental page -->

<!DOCTYPE html>

<html>

	<head>
		<%# function to help with checking for default vs rented rental info %>
		<%
			function checkRental(rental_info, def_rental_info, key){
				return (typeof rental_info == undefined || rental_info[key] == null) ? def_rental_info[key] : rental_info[key];
			}
		%>
		<title>w3bbi</title>
		<link class="w3bbi_main_css" rel="stylesheet" href="/css/style_base.css" type="text/css" />
		<link rel="stylesheet" href="/css/rental.css" type="text/css" />
		<link rel="stylesheet" href="/css/fullcalendar.min.css" type="text/css" />
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<script src="/js/moment/moment.min.js" type="text/javascript"></script>
		<script src="/js/sanitize-html.js" type="text/javascript"></script>
		<script type="text/javascript">
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var rental_info = <% if(typeof rental_info != "undefined"){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
			var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/jquery/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="/js/jquery/poshytip/src/jquery.poshytip.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/js/jquery/editable/css/jquery-editable.css" type="text/css" />
		<script src="/js/jquery/editable/js/jquery-editable-poshytip.js" type="text/javascript"></script>
		<script src="/js/jquery/jquery-ui.js" type="text/javascript"></script>

		<script src="/js/cookie.js" type="text/javascript"></script>
		<script src="/js/routes/client_rental.js" type="text/javascript"></script>
	</head>

	<body>

		<div class="w3bbi_wrapper" id="w3bbi_hider">w3bbi Rental Info</div>
		<div class="w3bbi_wrapper" id="w3bbi_wrapper">
			<div id="account_wrapper" class="border_white w3bbi_content_wrapper">

				<!-- checks if user is logged in -->
				<% if (typeof user == "undefined") {%>
					<div id="form_wrapper">
						<form id="target" action="/login" method="post">
							<input name="email" placeholder="Email" type="text" id="email_input" autofocus>
							<input name="password" placeholder="Password" type="password" id="pw_input">
							<input id="submit" type="submit" value="Sign in">
						</form>
						<div id="signup_wrapper">
							<a class="button" id="signup" href="/signup">Create an account</a>
						</div>
					</div>
				<!-- if not logged in -->
				<% } else {%>
					<div>Logged in as <%= user.email %></div>
					<a class="button" href="/profile">Profile</a>
					<a class="button" href="/logout">Log Out</a>
				<% } %>

				<a class="button" href="/">Home</a>

				<!-- listing information, this should never error -->
				<% if (typeof listing_info != "undefined") {%>
					<a class="button" href="/listing/<%=listing_info.domain_name%>">Back to listing</a>
				<% } %>
			</div>

			<% if (rental_info.times) { %>
				<div id="rental_wrapper" class="w3bbi_content_wrapper">
					<div>Rented from:</div>
				</div>
			<% } %>
			<% if (new_rental_info.times) { %>
				<div id="new_rental_wrapper" class="w3bbi_content_wrapper">
					<div>Renting for:</div>
				</div>
			<% } %>

			<!-- listing information, this should never error -->
			<% if (typeof listing_info != "undefined") {%>
				<div id="listing_wrapper" class="w3bbi_content_wrapper">
					<table id="listing_table">
						<th>Domain Name</th>
						<th>Owner Name</th>
						<tr>
							<td><a href="http://www.<%= listing_info.domain_name %>"><%= listing_info.domain_name %></a></td>
							<td><a href="<%= listing_info.email %>"><%= listing_info.fullname %></a></td>
						</tr>
					</table>
				</div>
			<% } %>

			<div id="message" class="w3bbi_content_wrapper">Welcome!</div>

			<!-- rental edit wrapper -->
			<div id="rental_edit" class="border_white w3bbi_content_wrapper">

				<!-- add more time -->
				<a class="button" href="/listing/<%=listing_info.domain_name%>">Add more time</a>
				<div id="edit_now" class="button">Edit page</div>

				<!-- if editing existing rental -->
				<% if (!new_rental_info) { %>
					<form class="edit_form edit_details_form" id="edit_details" action="/listing/<%=listing_info.domain_name%>/<%=rental_info.rental_id%>" method="post">
						<input id="edit_details_submit" class="button form_submit" type="submit" value="Submit">
					</form>
				<!-- if new rental -->
				<% } else {%>
					<form class="edit_form edit_details_form" id="edit_details_pay" action="/listing/<%=listing_info.domain_name%>/pay" method="post">
						<button class="form_submit button btn btn-primary btn-lg" id="stripe-button">
							Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
						</button>
					</form>
				<% } %>
			</div>

			<!-- more rental edits -->
			<div id="edit_now_details" class="w3bbi_content_wrapper">
				<form id="edit_details_form">
					<% if (new_rental_info.type == 2 || (new_rental_info.type != 2 && rental_info == 2)) { %>
						<div class="x-editable_wrapper">Page title: </br><a href="#" data-value="<%= checkRental(rental_info, def_rental_info, 'title'); %>" class="x-editable editable-info" id="title_input">Default value</a></div>
						<div class="x-editable_wrapper">Background image: </br><a href="#" data-type="url" data-value="<%= checkRental(rental_info, def_rental_info, 'background_image'); %>" class="x-editable editable-info" id="background_image_input">Default value</a></div>
						<div class="x-editable_wrapper">Favicon: </br><a href="#" data-type="url" data-value="<%= checkRental(rental_info, def_rental_info, 'favicon'); %>" class="x-editable editable-info" id="favicon_input">Default value</a></div>
					<% } else { %>
						<div class="x-editable_wrapper">IP Address: </br><a href="#" data-type="url" data-value="<%= rental_info.background_image || "" %>" class="x-editable editable-info" id="background_image_input"></a></div>
					<% } %>
				</form>
			</div>

		</div>

		<div id="rental_preview">
			<% if (new_rental_info.type == 2 || (new_rental_info.type != 2 && rental_info == 2) || (new_rental_info.type == 1 && !rental_info)) { %>
				<% def_rental_info.details[0].middle_text = "Customize me!"; %>
				<%- include('reset', {
					domain_name: listing_info.domain_name,
					rental_info: rental_info,
					def_rental_info: def_rental_info
				}); %>
			<% } else { %>

			<% } %>
		</div>

	</body>

</html>
