<!-- reset page for all rentals -->

<!DOCTYPE html>

<html>
	<head>
		<%# function to help with checking for default vs rented rental info %>
		<%
			function checkRental(rental_info, def_rental_info, key){
				return (typeof rental_info == undefined || rental_info[key] == null) ? def_rental_info[key] : rental_info[key];
			}
		%>

		<link class="rental_main_css" rel="stylesheet" type="text/css" href="/reset/css/reset.css">
		<meta name="viewport" content="width=device-width, height=device-height">
		<script>
			var domain_name = <% if(typeof domain_name != "undefined"){ %><%-JSON.stringify(domain_name)%><% }else{ %>""<% } %>;
			var rental_info = <% if(typeof rental_info != "undefined"){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
			var def_rental_info = <% if(typeof def_rental_info != "undefined"){ %><%-JSON.stringify(def_rental_info)%><% }else{ %>""<% } %>;
		</script>
		<title><%= checkRental(rental_info, def_rental_info, "title"); %></title>
		<link rel="shortcut icon" href="<%= checkRental(rental_info, def_rental_info, 'favicon'); %>" type="image/x-icon">
	</head>

	<body>
		<div id="background_image_wrapper" class="background_image_wrapper">
			<img id="background_image" class="background_image" width="100%" height="100%" src="<%= checkRental(rental_info, def_rental_info, 'background_image'); %>">
			<script> document.getElementById('background_image').ondragstart = function() { return false; }; </script>
		</div>

		<%# for rental details (the boxes)%>
		<% if (typeof rental_info.details != "undefined") { %>
			<% for (var x = 0; x < rental_info.details.length; x++){ %>
				<%- include("reset_details", {
					details: rental_info.details[x],
					default_details : def_rental_info.details[0]
				 }); %>
			<% } %>
		<% } else { %>
			<%- include("reset_details", {details: def_rental_info.details[0], default_details : false}); %>
		<% } %>

		<%# footer %>
		<% if (typeof rental_info == "undefined" || rental_info.type != 0) { %>
			<div id="footer_wrapper" class="center_horizontal">
 				<a href="http://www.w3bbi.com/listing/<%= listing_info.domain_name %>">
					What is this website?
				</a>
			</div>
		<% } %>
	</body>

</html>
