<%# function to help with checking for default vs rented rental info %>
<%
    function checkRental(details, default_details, key){
        return (typeof details == undefined || details[key] == null) ? default_details[key] : details[key];
    }
%>

<%# custom google font %>
<link href="https://fonts.googleapis.com/css?family=<%= checkRental(details, default_details, 'main_font'); %>|<%= checkRental(details, default_details, 'middle_font'); %>" rel="stylesheet">

<%# rental boxes %>
<div id="text_wrapper" class="text_wrapper">
    <div data-editable data-name="text_wrapper">
        <h1 id="main_text" class="main_text x-editable editable-detail noselect" data-font="<%= checkRental(details, default_details, 'main_font') %>" data-color="<%= checkRental(details, default_details, 'main_color') %>" style="color: #<%= checkRental(details, default_details, 'main_color') %>; font-family: <%= checkRental(details, default_details, 'main_font') %>, arial, helvetica;"><%= checkRental(details, default_details, 'main_text') %></h1>
    </div>
    <div data-editable data-font="<%= checkRental(details, default_details, 'middle_font') %>" data-color="<%= checkRental(details, default_details, 'middle_color') %>" data-type="textarea" data-name="middle_text" id="middle_text" class="middle_text x-editable editable-detail noselect" style="color: #<%= checkRental(details, default_details, 'middle_color') %>; font-family: <%= checkRental(details, default_details, 'middle_font') %>, monospace, helvetica;"><%- checkRental(details, default_details, 'middle_text') %></div>
</div>
