<script>
var demo_domains = <%-JSON.stringify(demo_domains)%>;
var referers = <%-JSON.stringify(referers)%>;
</script>
<style>
.inline {
  display:inline-block;
  margin-right:10px;
  padding-right:10px;
  border-right:1px solid black;
  vertical-align:top;
}
table {
  text-align:left;
  border-collapse: collapse;
  table-layout:fixed;
}
tr:hover {
  background-color:#F1F1F1;
}
td {
  padding:5px;
  border:1px solid lightgray;
  max-width: 500px !important;
  word-break: break-all;
}
th {
  border:1px solid black;
  padding:5px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/lib/moment.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){

});
</script>
<div class='inline'>
  <h3>Demo Mode Domains</h3>
  <table>
    <thead>
      <th>
        Domain Name
      </th>
      <th>
        Count
      </th>
    </thead>
    <tbody>
      <% for (var x = 0; x < demo_domains.length ; x++){ %>
        <tr>
          <td>
            <%= demo_domains[x].domain_name %>
          </td>
          <td>
            <%= demo_domains[x].count %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<div class='inline'>
  <h3>Referers & Domains</h3>
  <table>
    <thead>
      <th>
        Referer
      </th>
      <th>
        Count
      </th>
    </thead>
    <tbody>
      <% for (var y = 0; y < referers.length; y++){ %>
        <tr>
          <td class="min-width">
            <%= referers[y].referer %>
          </td>
          <td>
            <%= referers[y].count %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
