<script type="text/javascript">
var compare = <% if(typeof compare != "undefined"){ %><%-JSON.stringify(compare)%><% }else{ %>""<% } %>;
var fonts = <% if(typeof fonts != "undefined"){ %><%-JSON.stringify(fonts)%><% }else{ %>""<% } %>;
</script>
<link rel="stylesheet" href="/css/lib/jquery.minicolors.css" type="text/css" />
<link rel="stylesheet" href="/css/lib/bootstrap-tour-standalone.min.css" type="text/css" />
<script src="/js/jquery/jquery.minicolors.min.js" type="text/javascript"></script>
<script src="/js/lib/bootstrap-tour-standalone.min.js" type="text/javascript"></script>
<script src="/js/routes/listings/listing_compare_logic.js" type="text/javascript"></script>
<script src="/js/themes.js" type="text/javascript"></script>

<div id="show-menu-wrapper" class="control">
  <button id="show-menu-button" class="button">
    <span class="icon">
      <i class="fa fa-bars"></i>
    </span>
    <span>Show Menu</span>
  </button>
</div>

<div id="compare-menu" class="">

  <!-- EDIT LISTING DETAIL TABS BUTTONS  -->
  <div id="compare-buttons" class="">
    <div class="control is-spaced">
      <div class="tabs is-primary margin-bottom-0 control-left">
        <ul>
          <li id="info-edit-tab" class="margin-left-0 compare-tab is-active">
            <a tabindex="0">Information</a>
          </li>
          <li id="design-tab" class="compare-tab">
            <a tabindex="0">Design</a>
          </li>
        </ul>
      </div>
      <div class="control-right">
        <button id="hide-menu-button" class="button no-shadow" tabindex="0" title="Hide Menu">
          <span class="icon"><i class="fa fa-long-arrow-left"></i></span>
          <span>Hide Menu</span>
        </button>
      </div>
    </div>
  </div>

  <!-- EDIT LISTING DETAILS  -->
  <div id="compare-content" class="box no-shadow no-border no-border-radius">
    <div id="info-box" class="compare-box">

      <%# INFO %>
      <div id="compare-description-control" class="control">
        <label class="label" for="description">Listing Description</label>
        <textarea id="description" class="description-input textarea " tabindex="0" placeholder="A great description will help users understand the full potential of this domain."></textarea>
      </div>

      <%# PRICING %>
      <div class="control">
        <label class="label" for="min-price-input">Minimum Purchase Price</label>
        <input id="min-price-input" type="number" min="1" step="1" class="input">
        <small class="tip">The minimum offer / price you will consider.</small>
      </div>
      <div class="control">
        <label class="label" for="buy-price-input">Buy It Now Price</label>
        <input id="buy-price-input" type="number" min="1" step="1" class="input">
        <small class="tip">The price you are willing to immediately sell the domain for.</small>
        <small class="tip"><a target="_blank" rel="noopener" href="/faq#selling" class="is-accent">What are the advantages of buying immediately?</a></small>
      </div>

      <div id="allow-rentals-control" class="control is-spaced">
        <div class="control-left">
          <label class="label" for="rentable-input">Allow Rentals</label>
          <small class="tip">Allows verified users to rent usage of this domain for short amounts of time.</small>
          <small class="tip"><a target="_blank" rel="noopener" href="/faq#renting" class="is-accent">Why should I rent my domain out?</a></small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="rentable-input" type="checkbox" class="checkbox-input " tabindex="0" />
            <label for="rentable-input"></label>
          </form>
        </div>
      </div>
      <div class="control">
        <label class="label" for="price-rate-input">Rental Price</label>
        <div class="control has-addons margin-bottom-0">
          <input id="price-rate-input" placeholder="" type="number" min="1" step="1" class="padding-top-0 input ">
          <span class="select price-type-span">
            <div class="drop-form">
              <select tabindex="0" id="price-type-input" class="">
                <option value="month">Month</option>
                <option value="week">Week</option>
                <option value="day">Day</option>
              </select>
            </div>
          </span>
        </div>
        <small class="tip">Price per unit of time for the domain rental.</small>
      </div>
    </div>

    <%# DESIGN %>
    <div id="design-box" class="is-hidden compare-box">
      <div id="theme-control" class="control">
        <label class="label" for="random-button">Theme</label>
        <div class="control is-grouped">
          <div class="control has-icon">
            <span class="select is-fullwidth">
              <select tabindex="0" id="theme-input" class=""></select>
            </span>
            <i class="fa fa-picture-o"></i>
          </div>
          <div class="control">
            <a id="random-theme-button" class="button is-small is-stylish">Random Theme</a>
          </div>
        </div>
      </div>
      <div class="control">
        <label class="label" for="color-scheme">
          <span>Color Scheme</span>
          <span class="icon is-small is-tooltip " data-balloon-length="medium" data-balloon="The three main colors of your landing page." data-balloon-pos="up">
            <i class="fa fa-question-circle"></i>
          </span>
        </label>
        <input id="primary-color-input" placeholder="#3CBC8D" type="text" class="padding-top-0 input theme-changeable-input">
        <input id="secondary-color-input" placeholder="#FF5722" type="text" class="padding-top-0 input theme-changeable-input">
        <input id="tertiary-color-input" placeholder="#2196F3" type="text" class="padding-top-0 input theme-changeable-input">
      </div>
      <div class="control">
        <label class="label">
          <span>Font Styling</span>
          <span class="icon is-small is-tooltip " data-balloon-length="medium" data-balloon="The color of the main font on your landing page. Font names can include any standard web font or Google web font. Any fonts after the first are used as backup or fallback fonts." data-balloon-pos="up">
            <i class="fa fa-question-circle"></i>
          </span>
        </label>
        <div class="control is-grouped">
          <p class="control">
            <input id="font-color-input" placeholder="#000000" type="text" class="padding-top-0 input theme-changeable-input">
          </p>
          <p class="control has-icon">
            <span class="select is-fullwidth">
              <select tabindex="0" id="font-name-input" class="theme-changeable-input">
                <%# make all the categories %>
                <% for (var x = 0; x < fonts.length; x++){ %>
                  <option value="<%= fonts[x] %>"><%= fonts[x] %></option>
                <% } %>
              </select>
            </span>
            <i class="fa fa-font"></i>
          </p>
        </div>
      </div>
      <div class="control">
        <label class="label" for="background-image-input">Background Image URL</label>
        <div class="control has-addons">
          <input id="background-image-input" type="text" class="input theme-changeable-input">
          <button id="background-image-refresh" class='is-disabled no-shadow is-outlined button'>
            <span class="icon is-small">
              <i class="fa fa-refresh"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="control">
        <label class="label" for="background-color-input">Background Color</label>
        <input id="background-color-input" type="text" class="input theme-changeable-input">
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label" for="info-module-input">Info Module</label>
          <small class="tip">Displays more detailed information about the domain and other related information.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="info-module-input" type="checkbox" class="module-input checkbox-input " tabindex="0" />
            <label for="info-module-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label" for="traffic-module-input">Traffic Module</label>
          <small class="tip">Displays detailed information about domain traffic including
            <a class="is-accent"   href="http://www.alexa.com/siteinfo/<%= listing_info.domain_name %>">Alexa</a> data.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="traffic-module-input" type="checkbox" class="module-input checkbox-input" tabindex="0" />
            <label for="traffic-module-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label" for="history-module-input">History Module</label>
          <small class="tip">Displays recent activity on your domain name; relevant for rentals.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="ticker-module-input" type="checkbox" class="module-input checkbox-input " tabindex="0" />
            <label for="ticker-module-input"></label>
          </form>
        </div>
      </div>
    </div>
    <footer id="compare-footer" class="footer is-white">
        <div class="content">
          <small>
            This page is just an example of what your landing page could look like.
            Powered by <a tabindex="0" id="dh_logo" class="is-accent" href="/">DomaHub</a>.
          </small>
        </div>
        <div class="content">
          <a id="restart-tutorial-button" class="button is-small is-stylish">Restart Tutorial</a>
          <a href="/signup" class="button is-small is-primary is-stylish">Sign Me Up!</a>
        </div>
    </footer>
  </div>
</div>
