<% if ((listing_info.premium && listing_info.info_module) || !listing_info.premium){ %>
  <div id="info-module">

    <%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
    <% if (listing_info.unlisted && !compare) { %>

      <% if (!listing_info.premium ||
        (listing_info.domain_owner ||
         listing_info.domain_age ||
         listing_info.domain_appraisal ||
         listing_info.categories
       )) { %>

      <% } %>

      <% if (!listing_info.available) { %>

        <%# UNLISTED LISTING %>
        <%- include("info/unlisted_module.ejs", {
          listing_info : listing_info
        }); %>

      <% } else { %>

        <%# BUYABLE AT A REGISTRAR %>
        <%- include("info/buyable_module.ejs", {
          listing_info : listing_info
        }); %>

      <% } %>

    <% } else { %>

      <% if (!listing_info.premium ||
        (listing_info.domain_owner ||
         listing_info.domain_age ||
         listing_info.domain_appraisal ||
         listing_info.categories
       )) { %>

        <div class="control">
          <%# LISTING OWNER MODULE temporarily removed %>

          <%# LISTING AGE MODULE %>
          <%- include("info/domain_age_module.ejs", {
            listing_info : listing_info
          }); %>

          <%# APPRAISALS MODULE %>
          <%- include("info/appraisals_module.ejs", {
            listing_info : listing_info
          }); %>

        </div>

        <div class="control">

          <%# CATEGORIES MODULE %>
          <%- include("info/categories_module.ejs", {
            listing_info : listing_info
          }); %>

          <%# SOCIAL SHARING MODULE %>
          <%- include("info/social_share_module.ejs", {
            listing_info : listing_info
          }); %>
        </div>

      <% } %>

    <% } %>
  </div>
<% } %>
