<div id="info-module" class="box has-tabs is-hidden module margin-bottom-0">

    <div class="columns">

        <%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
        <% if (listing_info.unlisted && !compare) { %>

            <div class="column">
            <%# UNLISTED LISTING IS OWNED BY SOMEONE %>
                <% if (!listing_info.available) { %>
                	<%- include("info/unbuyable_module.ejs", {
                	  listing_info : listing_info
                	}); %>
                <% } else { %>
                    <%- include("info/buyable_module.ejs", {
                	  listing_info : listing_info
                	}); %>
                <% } %>
            </div>

        <% } else { %>

            <div class="column">

                <%# CATEGORIES MODULE %>
                <%- include("info/categories_module.ejs", {
                  listing_info : listing_info
                }); %>

                <%# LISTING OWNER MODULE %>
                <%- include("info/listing_owner_module.ejs", {
                  listing_info : listing_info
                }); %>

            </div>

              <%# OTHER BY SAME OWNER DOMAINS MODULE %>
              <%- include("info/same_owner_listings_module.ejs", {
                listing_info : listing_info
              }); %>

        <% } %>
    </div>

    <%# SIMILAR DOMAINS MODULE %>
    <%# include("info/similar_domains_module.ejs", {
      listing_info : listing_info
    }); %>

</div>
