<section id="background_image" class="section listing-section landing-img" style="background-image:url('<%= listing_info.background_image || 'https://source.unsplash.com/category/nature' %>')">

</section>

<section id="top_wrapper" class="page_wrapper section is-small has-borderBottom min-height">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <div class="content">
          <a class="is-primary" href="http://<%= listing_info.domain_name %>">
          <h1 class="title is-1 is-bold is-primary is-inline-block">
          <%= listing_info.domain_name %></h1></a>
        </div>
        <div class="content is-marginless">
          <% if (listing_info.status == 1) { %>
          <span class="tag is-medium is-light">Available</span>
          <% } else { %>
          <span class="tag is-medium is-danger">Unavailable</span>
          <% } %>
        </div>
        <div class="listing-info-wrapper">
          <div class="content">
            <h3 class="is-bold">Listing Description</h3>
            <p>
              <%= listing_info.description %>
            </p>
          </div>
        </div>
        <div class="listing-info-wrapper is-hidden-mobile">
        <% if (listing_info.buy_link || listing_info.categories || listing_info.date_created) { %>
          <div class="content">
            <h3 class="is-bold">Other Information</h3>
          </div>
        <% } %>
        <% if (listing_info.buy_link) { %>
        <div class="columns has-borderBottom">
          <div class="column is-4">
            <div class="content">
              <p class="is-blacklight is-bold">
                Purchase Link
              </p>
            </div>
          </div>
          <div class="column is-4">
            <div class="content">
              <a class="orange-link"><%= listing_info.buy_link %></a>
            </div>
          </div>
        </div>
        <% } %>
        <% if (listing_info.date_created) { %>
        <div class="columns has-borderBottom">
          <div class="column is-4">
            <div class="content">
              <p class="is-blacklight">
                Date Created
              </p>
            </div>
          </div>
          <div class="column is-4">
            <div class="content">
              <p id="date_created"></p>
            </div>
          </div>
        </div>
        <% } %>
        <% if (listing_info.categories) { %>
          <div class="columns has-borderBottom">
            <div class="column is-4">
              <div class="content">
                <p class="is-blacklight">
                  Categories
                </p>
              </div>
            </div>
            <div class="column is-8">
              <div class="content">
                <p>
                  <% var categories_array = listing_info.categories.split(" ");
                    var display_array = [];
                    for (var i = 0; i < categories_array.length; i++) {
                       display_array.push(categories_array[i].charAt(0).toUpperCase() + categories_array[i].substr(1)); %>
                  <% } %>
                  <%= display_array.join(", ") %>
                  </p>
                </div>
              </div>
            </div>
            <% } %>
        </div>
        <div class="listing-info-wrapper is-hidden-mobile">
          <div class="content margin-top-25">
            <h3 class="is-bold">About Owner</h3>
          </div>
          <div class="columns">
            <div class="column">
              <article class="media">
                <figure class="media-left">
                  <p class="image is-circle is-96x96">
                    <% if (listing_info.profile_pic){ %>
                      <img src="<%= listing_info.profile_pic %>">
                    <% } else { %>
                      <%- "<img src='https://placeholdit.imgix.net/~text?txtsize=25&bg=9e9e9e&txtclr=ffffff&txt=" + listing_info.username + "&w=128&h=128'/>" %>
                    <% } %>
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h3 class="is-blacklight is-bold"><%= listing_info.username %></h3>
                    <% if (listing_info.user_created) { %>
                        <p>
                          <small>User since <span id='user-since'></span></small>
                        </p>
                    <% } %>
                  </div>
                  <% if (listing_info.user_created) { %>
                      <p class="control">
                        <a href="/profile/messages/<%=listing_info.username %>" class="button is-primary no-shadow is-small">
                          <span class="icon is-small">
                            <i class="fa fa-envelope"></i>
                          </span>
                          <span>Message</span>
                        </a>
                      </p>
                  <% } %>

                </div>
              </article>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4-desktop is-offset-2-desktop is-5-tablet is-offset-1-tablet">
        <div class="card is-fullwidth">
          <% if (listing_info.status == 1) { %>
          <div class="card-header is-light">
            <h2 class="is-bold card-header-title">$<%= listing_info.month_price %></h2>
            <p class="card-header-title jc-flex-end is-marginless">Per Month</p>
          </div>
          <% } else { %>
            <div class="card-header is-primary">
              <h2 class="is-bold is-white card-header-title has-text-centered">Purchase Links</h2>
            </div>
          <% } %>
          <div class="card-content">
            <div class="content">
              <% if (listing_info.status == 1) { %>
              <p class="is-bold">Pricing Information</p>
              <nav class="level is-mobile has-borderBottom">
                <div class="level-left">
                  <p class="level-item">
                    Hourly:
                  </p>
                </div>
                <div class="level-right">
                  <p class="level-item">
                    $<%= listing_info.hour_price %>
                  </p>
                </div>
              </nav>
              <nav class="level is-mobile has-borderBottom">
                <div class="level-left">
                  <p class="level-item">
                    Daily:
                  </p>
                </div>
                <div class="level-right">
                  <p class="level-item">
                    $<%= listing_info.day_price %>
                  </p>
                </div>
              </nav>
              <nav class="level is-mobile has-borderBottom">
                <div class="level-left">
                  <p class="level-item">
                    Weekly:
                  </p>
                </div>
                <div class="level-right">
                  <p class="level-item">
                    $<%= listing_info.week_price %>
                  </p>
                </div>
              </nav>
              <nav class="level is-mobile has-borderBottom">
                <div class="level-left">
                  <p class="level-item">
                    Monthly:
                  </p>
                </div>
                <div class="level-right">
                  <p class="level-item">
                    $<%= listing_info.month_price %>
                  </p>
                </div>
              </nav>
              <% } else if (listing_info.available) { %>
                <p>
                    While this domain is unavailable for rent at DomaHub,
                    it is available for purchase at any of the sites listed below.
                </p>
                <p>
                    Purchase it today for your own use or list it with us to
                    make some money!
                </p>
              <% } else { %>
                <p>
                    This domain is currently unavailable. You may request
                    the listing by clicking the button below which will
                    notify both DomaHub and the domain owner.
                </p>
              <% } %>
            </div>
          </div>
          <footer class="card-footer">
            <% if (listing_info.status == 1) { %>
                <a id="listing-modal-button" tabindex="1" class="button is-fullwidth is-primary" data-object="#calendar-modal">Rent Now</a>
            <% } else if (listing_info.available) { %>
                <a id="godaddy_link" tabindex="1" class="card-footer-item" href="https://www.godaddy.com/domains/searchresults.aspx?domainToCheck=<%= listing_info.domain_name %>">GoDaddy</a>
                <a id="namecheap_link" tabindex="1" class="card-footer-item" href="https://www.namecheap.com/domains/registration/results.aspx?domain=<%= listing_info.domain_name %>">Namecheap</a>
                <a id="google_link" tabindex="1" class="card-footer-item" href="https://domains.google.com/registrar?s=<%= listing_info.domain_name %>">Google</a>
            <% } else { %>
                <a class="button is-fullwidth is-primary" tabindex="1">Request Listing</a>
            <% } %>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
