<section id="background_image" class="section listing-section landing-img" style="background-image:url('<%= listing_info.background_image || 'https://source.unsplash.com/category/nature' %>')">
  <div class="img-wrapper">
    <div id="listing-hero" class="container">
      <div>

      </div>
      <div class="content has-text-centered">
        <a tabindex="1" href="http://<%= listing_info.domain_name %>">
        <h1 id="domain-display" class="title is-1 is-bold is-primary is-inline-block">
        <%= listing_info.domain_name %></h1></a>
        <h2 class="subtitle is-4 is-white margin-top-15">
        <% if (listing_info.status == 1) { %>
          Currently Available
          <% } else { %>
          Currently Unavailable
          <% } %>
        </h2>
      </div>
      <div id="price-display">
        <% if (listing_info.status == 1) { %>
        <h2 class="is-black is-bold has-text-centered">
          $<%= listing_info.month_price %> Per Month
        </h2>
        <% } else { %>
        <h2 class="is-black is-bold has-text-centered">
          Purchase Links
        </h2>
        <% } %>
      </div>
    </div>
  </div>
</section>

<section id="top_wrapper" class="page_wrapper min-height">
  <div class="container">
    <div id="test" class="columns">
      <div id="one" class="column is-half">
        <div class="content padding-top-25 listing-info">
          <nav class="level">
            <div class="level-item has-text-centered">
              <h3 class="heading">Alexa Ranking</h3>
              <h3 class="is-bold">#2,003,581</h3>
            </div>
            <div class="level-item has-text-centered">
              <h3 class="heading">DomaHub Ranking</h3>
              <h3 class="is-bold">#5,608</h3>
            </div>
            <div class="level-item has-text-centered">
              <h3 class="heading">Visits this Month</h3>
              <h3 class="is-bold">150,000</h3>
            </div>
          </nav>
        </div>
        <div class="content listing-info">
          <h3 class="is-bold">Listing Description</h3>
          <p>
            <% if (listing_info.categories) { %>
            <%= listing_info.description %>
            <% } else { %>
            This domain is currently unavailable for rent at DomaHub. Please
            view the information on the right side of this page for more options.
            <% } %>
          </p>
        </div>
        <% if (listing_info.categories) { %>
        <div class="content listing-info">
          <h3 class="is-bold margin-bottom-15">Categories</h3>
          <span class="tag is-primary is-medium">
          <% var categories_array = listing_info.categories.split(" ");
            var display_array = [];
            for (var i = 0; i < categories_array.length; i++) {
               display_array.push(categories_array[i].charAt(0).toUpperCase() + categories_array[i].substr(1)); %>
          <% } %>
          <%= display_array.join(", ") %>
          </span>
        </div>
        <% } %>
        <div class="content listing-info">
          <h3 class="is-bold margin-bottom-15">Listed By</h3>
          <article class="media">
            <figure class="media-left">
              <p class="image is-circle is-64x64">
                <% if (listing_info.profile_pic){ %>
                  <img src="<%= listing_info.profile_pic %>">
                <% } else { %>
                  <%- "<img src='https://placeholdit.imgix.net/~text?txtsize=25&bg=9e9e9e&txtclr=ffffff&txt=" + listing_info.username + "&w=128&h=128'/>" %>
                <% } %>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h3 class="is-primary is-bold"><%= listing_info.username %></h3>
                <% if (listing_info.user_created) { %>
                  <p>
                    User since <span id='user-since'></span>
                  </p>
                <% } %>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div id="two" class="column is-half">
        <div id="checkout-card" class="card">
          <div class="card-content">
            <div class="content">
              <% if (listing_info.status == 1) { %>
                <% if (listing_info.date_created) { %>
                <div class="content">
                  <p class="is-inline-block is-bold">
                    Date Listed:
                  </p>
                  <p class="is-inline-block" id="date_created">
                  </p>
                  <p>
                    Click the button below to see available dates.
                  </p>
                </div>
                <% if (listing_info.status == 1) { %>
                    <a id="listing-modal-button" tabindex="1" class="button is-fullwidth is-primary" data-object="#calendar-modal">Rent Now</a>
                <% } %>
                <% } %>
              <% } else if (listing_info.available) { %>
                <p>
                    While this domain is unavailable for rent at DomaHub,
                    it is available for purchase at any of the sites listed below.
                </p>
                <p>
                    Purchase it today for your own use or list it with us to
                    make some money!
                </p>
              <% } else { %>
                <p>
                    This domain is currently unavailable. You may request
                    the listing by clicking the button below which will
                    notify both DomaHub and the domain owner.
                </p>
              <% } %>
            </div>
          </div>
          <footer class="card-footer">
            <% if (listing_info.status == 1) { %>
                <a tabindex="1" class="card-footer-item has-icon">
                  <span class="icon is-small">
                    <i class="fa fa-bookmark"></i>
                  </span>
                  <span>Save</span>
                </a>
                <a tabindex="1" class="card-footer-item has-icon">
                  <span class="icon is-small">
                    <i class="fa fa-flag"></i>
                  </span>
                  <span>Report</span>
                </a>
                <a tabindex="1" class="card-footer-item has-icon">
                  <span class="icon is-small">
                    <i class="fa fa-share-alt"></i>
                  </span>
                  <span>Share</span>
                </a>
            <% } else if (listing_info.available) { %>
                <a id="godaddy_link" tabindex="1" class="card-footer-item" href="https://www.godaddy.com/domains/searchresults.aspx?domainToCheck=<%= listing_info.domain_name %>">GoDaddy</a>
                <a id="namecheap_link" tabindex="1" class="card-footer-item" href="https://www.namecheap.com/domains/registration/results.aspx?domain=<%= listing_info.domain_name %>">Namecheap</a>
                <a id="google_link" tabindex="1" class="card-footer-item" href="https://domains.google.com/registrar?s=<%= listing_info.domain_name %>">Google</a>
            <% } else { %>
                <a class="button is-fullwidth is-primary" tabindex="1">Request Listing</a>
            <% } %>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
