<!DOCTYPE html>

<html>

<head>
	<title>My Listings - DomaHub</title>
	<link rel="stylesheet" href="/css/min/profile_dashboard.min.css" />
	<link rel="stylesheet" href="/css/lib/jquery.tagit.css" type="text/css" />
	<link rel="stylesheet" href="/css/lib/jquery.minicolors.css" type="text/css" />
	<%- include("../templates/head_links"); %>
</head>

<body>
	<%- include("../templates/navbar", {user: user}); %>


	<section class="section is-medium min-height is-clipped">
		<div class="container">
			<div id="listing-msg-error" class="is-hidden is-danger notification is-popup">
				<button class="delete"></button>
			</div>
			<div id="listing-msg-success" class="is-hidden is-primary notification is-popup">
				<button class="delete"></button>
				<p id="listing-msg-success-text" class='is-white'></p>
			</div>
			<div class="columns">
				<div id="filter-menu" class="column is-3">
					<div class="content">
						<h2>
							My Listings
							<span class="delete filter-menu-toggle is-hidden-tablet"></span>
						</h2>
					</div>

					<!-- FITER MENU -->
					<div id="filters">
						<div class="control">
							<span class="select is-fullwidth">
								<select id="filter-select" tabindex="0">
									<option selected value="id">View All</option>
									<option value="premium">Premium</option>
									<option value="basic">Basic</option>
									<option value="unverified">Unverified</option>
									<option value="rented">Rented Now</option>
								</select>
							</span>
						</div>
						<div class="control">
							<span class="select is-fullwidth">
								<select id="sort-select" tabindex="0">
									<option disabled selected>Sort By</option>
									<option value="date">Date Created</option>
									<option value="az">Name (A - Z)</option>
									<option value="za">Name (Z - A)</option>
									<option value="price_asc">Price (Low - High)</option>
									<option value="price_desc">Price (High - Low)</option>
								</select>
							</span>
						</div>
						<div class="control is-expanded has-icon">
							<i class="fa fa-search"></i>
							<input id="domain-search" tabindex="0" class="input is-expanded" type="text" placeholder="Search domains" />
						</div>
						<div class="button-wrapper control">
							<button id="select-all" data-selected="false" tabindex="0" class="button no-shadow" title="Select All">
								<span class="icon is-small">
									<i class="fa fa-square-o"></i>
								</span>
								<span>Select All</span>
							</button>
							<button id="multi-delete" class="button is-disabled no-shadow" tabindex="0" title="Delete Listing(s)">
								<span class="icon is-small">
									<i class="fa fa-trash"></i>
								</span>
								<span>Delete</span>
							</button>
							<button id="multi-verify" class="button is-disabled no-shadow" tabindex="0" title="Verify Listing(s)">
								<span class="icon is-small">
									<i class="fa fa-check-circle-o"></i>
								</span>
								<span>Verify</span>
							</button>
						</div>
					</div>

					<!-- DOMAINS TABLE  -->
					<div id="table-body" class="margin-top-15">
						<div id="verified-clone-row" class="clone-row table-row is-hidden">
							<form class="checkbox-form">
								<input class="select-button" data-selected="false" type="checkbox" tabindex="0" title="Select" />
								<label for="select-button"></label>
							</form>
							<p class='td-domain'></p>
						</div>
						<div id="unverified-clone-row" class="clone-row table-row is-hidden">
							<form class="checkbox-form">
								<input class="select-button" data-selected="false" type="checkbox" tabindex="0" title="Select" />
								<label for="select-button"></label>
							</form>
							<div class="table-row-text">
								<span class="icon is-danger is-small is-inline">
									<i class="fa fa-exclamation-circle"></i>
								</span>
								<p class="is-danger td-domain is-inline"></p>
							</div>
						</div>
					</div>
					<div class="control margin-top-20">
						<a class="button is-stylish is-small is-fullwidth" tabindex="0" href="/listings/create">Add Listings</a>
					</div>
				</div>

				<!-- LISTING DETAILS  -->
				<div class="column is-9">
					<!-- CURRENT DOMAIN NAME -->
					<div class="control is-spaced">
						<div class="control-left">
							<button tabindex="0" class="button filter-menu-toggle is-inline-block is-dark is-icon-only no-shadow is-small is-hidden-tablet" title="Filters">
								<span class="icon"><i class="fa fa-bars"></i></span>
							</button>
							<h2 class="current-domain-name yes-listings-elem is-inline-block is-hidden"></h2>
						</div>
						<div class="control-right">
              <a id="status-color" tabindex="0" class="verified-elem unpurchased-elem button is-primary is-small is-icon-only no-shadow" title="Publicly hide or show landing page.">
                <span class="icon"><i id="status-icon" class="fa fa-toggle-on"></i></span>
                <span id="status-text">Active</span>
              </a>
              <input id="status-input" data-name="status" tabindex="0" type="hidden" class="input changeable-input" />
							<a id="current-domain-view" target="_blank" tabindex="0" class="verified-elem yes-listings-elem is-hidden button is-small no-shadow margin-top-0" title="View Domain">
								<span class="icon is-small"><i style="margin-top: 2px" class="fa fa-external-link"></i></span>
								<span>View</span>
							</a>
						</div>
					</div>

					<!-- LISTING DETAIL TABS  -->
					<div class="yes-listings-elem is-hidden tabs no-border">
						<ul>
							<li id="verify-tab" class="unverified-elem is-active is-hidden unpurchased-elem tab">
								<a tabindex="0">Verification Status</a>
							</li>
							<li id="info-tab" class="is-active verified-elem unpurchased-elem tab">
								<a tabindex="0">Information</a>
							</li>
							<li id="rental-tab" class="verified-elem unpurchased-elem tab">
								<a tabindex="0">Rental</a>
							</li>
							<li id="design-tab" class="verified-elem unpurchased-elem tab">
								<a tabindex="0">Design</a>
							</li>
							<li id="offers-tab" class="verified-elem unpurchased-elem tab">
								<a tabindex="0">Offers</a>
							</li>
							<li id="purchased-tab" class="purchased-elem tab is-active is-hidden">
								<a tabindex="0">Next Steps</a>
							</li>
							<li id="upgrade-tab" class="verified-elem unpurchased-elem tab">
								<a id="upgrade-tab-text" tabindex="0">Upgrade</a>
							</li>
						</ul>
					</div>

					<!-- LISTING DETAILS  -->
					<div class="box">
						<div id="loading-tab">
							Now loading listings...
						</div>
						<div id="no-domains-tab" class="no-listings-elem is-hidden">
							<p>
								You have no listings. Let's go make some!
							</p>
							<a class="is-primary button is-stylish" href="/listings/create">Create Listings</a>
						</div>
						<div id="unverified-drop-tab" class="yes-listings-elem drop-tab unverified-elem is-hidden">
							<h3 class="is-bold">You must verify that you own this domain.</h3>
							<p>The table below details the DNS entries that are needed to verify this domain.</p>
							<p id="registrar_url">Please <a>log in to your domain provider</a> to create these entries.</p>
							<p>If you require any assistance, please refer to our <a   style'target-new:="" tab;'="" class="is-accent margin-bottom-25" href="https://intercom.help/domahub/how-to-verify-your-domain-on-domahub"> step-by-step guide</a> on domain verification.</p>
							<table class="table margin-top-15">
                <thead>
									<tr>
	                  <th>Host</th>
	                  <th>Record</th>
	                  <th>Required Data</th>
	                  <th>Current Data</th>
	                  <th>Next Steps</th>
	                </tr>
								</thead>
								<tbody id="dns_table-body">
                  <tr id="loading-records-row" class="">
                    <td colspan=5>Now loading existing DNS records...</td>
                  </tr>
									<tr id="existing_a_record_clone" class='clone-dns-row is-hidden'>
										<td>@</td>
										<td>A</td>
										<td class='required_data'>208.68.37.82</td>
										<td class="existing_data">208.68.37.82</td>
										<td class="next_step"><span class='is-danger'>Create this record</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="verified-drop-tab" class="yes-listings-elem is-hidden verified-elem">
							<div id="info-tab-drop" class="drop-tab">
								<div class="control">
									<label class="label" for="min-price-input">Minimum Price</label>
									<input id="min-price-input" data-name="min_price" type="number" min="1" step="1" class="input changeable-input">
									<small class="tip">The minimum offer price you will consider. Put blank or 0 for no minimum offer price.</small>
								</div>
                <div class="control">
                  <label class="label" for="buy-price-input">Buy It Now Price</label>
                  <input id="buy-price-input" data-name="buy_price" type="number" min="1" step="1" class="input changeable-input">
                  <small class="tip">The price you are willing to immediately sell the domain for. Put blank or 0 for no Buy It Now option.</small>
                  <small class="tip"><a target="_blank" href="/faq#selling" class="is-accent">What are the advantages of buying immediately?</a></small>
                </div>
								<div class="control">
									<label class="label" for="description">Listing Description</label>
									<textarea id="description" class="description-input textarea changeable-input"
									tabindex="0" data-name="description" placeholder="Write anything you want!"></textarea>
								</div>
								<%# <div class="control">
									<label class="label" for="short-desc">Short Description</label>
									<input id="short-desc" data-name="description_hook" tabindex="0" class="input changeable-input"
									placeholder="What is this website?"></input>
									<small class="tip">100 character limit.</small>
								</div>%>
								<div class="control">
									<label class="label margin-bottom-10">
										<span class="v-align-middle">Categories</span>
										<span class="icon is-small is-tooltip v-align-middle" data-balloon-length="medium" data-balloon="Categories help users find similar domains. Incorrect categories can lead to a poor user experience and hurt your domain brand by being associated with non-similar domains." data-balloon-pos="up">
											<i class="fa fa-question-circle"></i>
										</span>
									</label>
									<div id="categories" class="category-control">
									<input id="categories-input" data-name="categories" onchange=""tabindex="0" class="is-hidden input changeable-input" value="" business="" ecard="" marketing="" niche="" personal="" promotion="">

									<%# make all the categories %>
									<% for (var x = 0; x < categories.length; x++){ %>
										<a data-category="<%= categories[x].back %>" class="<%= categories[x].back %>-category tag margin-bottom-5 category-selector"><%= categories[x].front %></a>
										<% } %>
									</div>
								</div>
							</div>
							<div id="rental-tab-drop" class="drop-tab is-hidden">
								<div class="control is-spaced">
									<div class="control-left">
										<label class="label" for="rentable-input">Allow Rentals</label>
										<small class="tip">Allows verified users to rent usage of this domain for short amounts of time.</small>
                    <small class="tip"><a target="_blank" href="/faq#renting" class="is-accent">Why should I rent my domain out?</a></small>
									</div>
									<div class="control-right">
										<form class="checkbox-form">
											<input id="rentable-input" data-name="rentable" type="checkbox" class="checkbox-input changeable-input" tabindex="0" />
											<label for="rentable-input"></label>
										</form>
									</div>
								</div>
								<label class="label">Rental Price</label>
								<div class="control">
									<div class="control has-addons margin-bottom-0">
										<input id="price-rate-input" data-name="price_rate" placeholder="minimum 1" type="number" min="1" step="1" class="padding-top-0 input changeable-input rentable-input">
										<span class="select price-type-span">
											<div class="drop-form">
												<select id="price-type-input" data-name="price_type" class="changeable-input rentable-input">
													<option value="month">Month</option>
													<option value="week">Week</option>
													<option value="day">Day</option>
												</select>
											</div>
										</span>
									</div>
									<small class="tip">Price per unit of time for the domain rental.</small>
								</div>
								<div class="control">
									<label class="label">
										<span class="v-align-middle">Example Paths</span>
										<span class="icon is-small is-tooltip v-align-middle" data-balloon-length="medium" data-balloon="Example paths or subdirectories that users may want to rent on your domain. Must consist of either letters or numbers." data-balloon-pos="up">
											<i class="fa fa-question-circle"></i>
										</span>
									</label>
									<input id="paths-input" data-name="paths" tabindex="0" class="is-hidden input changeable-input rentable-input"></input>
								</div>
							</div>
							<div id="design-tab-drop" class="drop-tab is-hidden">
									<div class="basic-elem control is-spaced">
										<div class="control-left">
											<p>
												Please upgrade to a Premium listing for custom designs!
											</p>
										</div>
										<div class="control-right">
											<a id="other-tab-upgrade-button" class="button is-stylish no-shadow is-small">
												<span class="icon is-small">
													<i class="fa fa-diamond"></i>
												</span>
												<span>Upgrade</span>
											</a>
										</div>
									</div>
									<div id="example-wrapper" class="preview-elem padding-25 control has-border-bottom">
										<div class="control">
											<span id="example-buy-price-tag" class="tag is-primary margin-right-5 margin-bottom-10 is-medium"></span>
											<span id="example-rent-price-tag" class="tag is-primary margin-right-5 margin-bottom-10 is-medium"></span>
											<h1 id="example-domain-name" class="preview-elem is-bold current-domain-name"></h1>
										</div>
										<div class="control">
											<p id="example-font" class="preview-elem is-black">This is a preview of your chosen design. Use the settings below to customize your landing page!</a>
										</div>
										<div class="control box" style="display:inline-block">
											<a id="example-button-primary" class="v-align-middle preview-elem is-primary is-small button is-stylish">Send Offer</a>
											<a id="example-button-accent" class="v-align-middle preview-elem is-accent is-small button is-stylish">Buy Now</a>
											<a id="example-link-info" class="v-align-middle preview-elem is-info margin-left-10">Do I need this?</a>
										</div>
									</div>
									<div class="control">
			                <label class="label" for="random-button">Theme</label>
			                <div class="control is-grouped">
			                    <div class="control has-icon">
			                        <span class="select is-fullwidth">
			                            <select tabindex="0" id="theme-input" class="premium-input changeable-input"></select>
			                        </span>
			                        <i class="fa fa-picture-o"></i>
			                    </div>
			                    <div class="control">
			                        <a id="random-theme-button" class="no-shadow premium-input button is-small is-stylish">Random Theme</a>
			                    </div>
			                </div>
			            </div>
									<div class="control">
										<label class="label">
											<span class="v-align-middle">Color Scheme</span>
											<span class="icon is-small is-tooltip v-align-middle" data-balloon-length="medium" data-balloon="The three main colors of your landing page." data-balloon-pos="up">
												<i class="fa fa-question-circle"></i>
											</span>
										</label>
										<div class="control">
											<input id="primary-color-input" data-name="primary_color" placeholder="#3CBC8D" type="text" class="premium-input padding-top-0 input changeable-input">
										</div>
										<div class="control">
											<input id="secondary-color-input" data-name="secondary_color" placeholder="#FF5722" type="text" class="premium-input padding-top-0 input changeable-input">
										</div>
										<div class="control">
											<input id="tertiary-color-input" data-name="tertiary_color" placeholder="#2196F3" type="text" class="premium-input padding-top-0 input changeable-input">
										</div>
									</div>
									<div class="control">
										<label class="label">
											<span class="v-align-middle">Font Styling</span>
											<span class="icon is-small is-tooltip v-align-middle" data-balloon-length="medium" data-balloon="You can choose both the color and the font-family. We are working on offering more extensive fonts in the near future." data-balloon-pos="up">
												<i class="fa fa-question-circle"></i>
											</span>
										</label>
										<div class="control is-grouped">
											<div class="control">
												<input id="font-color-input" data-name="font_color" placeholder="#000000" type="text" class="premium-input padding-top-0 input changeable-input">
											</div>
											<div class="control has-icon">
												<span class="select is-fullwidth">
													<select tabindex="0" data-name="font_name" id="font-name-input" class="premium-input changeable-input">
														<option selected default value="Rubik">Rubik</option>
														<option value="Times New Roman">Times New Roman</option>
														<option value="Helvetica">Helvetica</option>
														<option value="Courier">Courier</option>
														<option value="Verdana">Verdana</option>
														<option value="Tahoma">Tahoma</option>
													</select>
												</span>
												<i class="fa fa-font"></i>
											</div>
										</div>
									</div>
									<div class="control">
										<label class="label">
											<span class="v-align-middle">Background Color</span>
											<span class="icon is-small is-tooltip v-align-middle" data-balloon-length="medium" data-balloon="This color is only used if there is no background image." data-balloon-pos="up">
												<i class="fa fa-question-circle"></i>
											</span>
										</label>
										<div class="control">
											<input id="background-color-input" data-name="background_color" placeholder="#FFFFFF" type="text" class="premium-input padding-top-0 input changeable-input">
										</div>
									</div>
									<div class="control is-spaced">
										<div class="control-left">
											<div class="label">Background Image</div>
											<small class="tip">This image will display as the full-screen background on your landing page.</small>
										</div>
										<div class="control-right">
											<figure class="image listing-img">
												<button id="background" tabindex="0" class="premium-input delete delete-image on-img"></button>
												<img data-default-img="https://placeholdit.imgix.net/~text?txtsize=20&txt=NO%20IMG&w=96&h=64" id="background-image" alt="Image not found" src="">
											</figure>
											<form class="drop-form-file" method="post" enctype="multipart/form-data">
												<input tabindex="0" id="background-image-input" data-name="background_image" type="file" name="background_image" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
												<label for="background-image-input" class="premium-input button is-small is-fullwidth no-shadow">
													<i class="fa fa-upload" aria-hidden="true"></i>
													<p data-default-name="Background Image" id="background-image-label" class="file-label">Upload</p>
												</label>
											</form>
										</div>
									</div>
									<%#<div class="control is-spaced">
										<div class="control-left">
											<div class="label">Logo</div>
											<small class="tip">The logo will be utilized for email communications and branding.</small>
										</div>
										<div class="control-right">
											<figure class="image listing-img">
												<button id="logo" tabindex="0" class="premium-input delete delete-image on-img"></button>
												<img data-default-img="https://placeholdit.imgix.net/~text?txtsize=20&txt=NO%20LOGO&w=96&h=64" id="logo-image" alt="Image not found" src="">
											</figure>
											<form class="drop-form-file" method="post" enctype="multipart/form-data">
												<input tabindex="0" id="logo-image-input" data-name="logo" type="file" name="logo" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
												<label for="logo-image-input" class="premium-input button is-small no-shadow is-fullwidth">
													<i class="fa fa-upload" aria-hidden="true"></i>
													<p data-default-name="Logo" id="logo-image-label" class="file-label">Upload</p>
												</label>
											</form>
										</div>
									</div>%>
									<div class="control is-spaced">
										<div class="control-left">
											<label class="label">Traffic Module</label>
											<small class="tip">Displays detailed traffic data from <a class="is-accent"  id="alexa_link">Alexa</a>.</small>
										</div>
										<div class="control-right">
											<form class="checkbox-form">
												<input id="traffic-module-input" data-name="traffic_module" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
												<label for="traffic-module-input" class="premium-input"></label>
											</form>
										</div>
									</div>
									<div class="control is-spaced">
										<div class="control-left">
											<label class="label">History Module</label>
											<small class="tip">Displays recent activity on your domain name - useful if you have rentals enabled.</small>
										</div>
										<div class="control-right">
											<form class="checkbox-form">
												<input id="history-module-input" data-name="history_module" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
												<label for="history-module-input" class="premium-input"></label>
											</form>
										</div>
									</div>
									<div class="control is-spaced">
										<div class="control-left">
											<label class="label">Info Module</label>
											<small class="tip">Displays other domains the owner has for sale as well as other relevant information.</small>
										</div>
										<div class="control-right">
											<form class="checkbox-form">
												<input id="info-module-input" data-name="info_module" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
												<label for="info-module-input" class="premium-input"></label>
											</form>
										</div>
									</div>
								</div>
							<div id="offers-tab-drop" class="drop-tab is-hidden">
								<div id="loading-offers" class="content">
									<p>
										Now loading offers...
									</p>
								</div>
								<div id="no-offers" class="content is-hidden">
									<p>
										You have no offers on this domain yet.
									</p>
								</div>
                <div id="accepted-offer" class="is-hidden">
                  <div class="content">
                    <h3 class='is-bold'>
                      Congratulations on selling your domain!
                    </h3>
                    <p>
                      The money has been deposited to your DomaHub account. You must now transfer the ownership of this domain to the new owner.
                      Once the new owner has verified that the ownership has been transferred over, the money will become available for withdrawal.
                    </p>
                    <p>
                      <a class="is-accent" href="/contact">
                        Having issues? Contact us for assistance.
                      </a>
                    </p>
                  </div>
                </div>
								<div id="offers-wrapper">

								</div>
								<div id="offer-clone" class="media is-hidden">
									<%# <div class="media-left">
										<form class="checkbox-form">
											<input class="select-offer" data-selected="false" type="checkbox" tabindex="0" title="Select Offer" />
											<label for="select-offer"></label>
										</form>
									</div>%>
									<div class="media-content">
										<div class="media-heading">
											<h3 class="offer-name is-bold is-inline">
											</h3>
											<small class="offer-timestamp"></small>
										</div>
										<div class="media-items">
											<div class="media-item">
												<span class="icon is-small is-primary"><i class="fa fa-envelope-o"></i></span>
												<a class="offer-email"></a>
											</div>
											<div class="media-item">
												<span class="icon is-small is-primary"><i class="fa fa-phone"></i></span>
												<p class="offer-phone"></p>
											</div>
										</div>
									</div>
									<div class="media-right has-text-right">
										<p class="is-bold"><span class="offer-accepted"></span><span class="offer-offer"></span></p>
										<button class="offer-view button is-primary is-small no-shadow is-outlined" tabindex="0">Respond</button>
										<a  class="offer-accept button is-primary is-small is-hidden no-shadow" tabindex="0">Accept Offer</a>
										<a  class="offer-reject button is-danger is-small is-hidden no-shadow" tabindex="0">Reject Offer</a>
									</div>
								</div>
							</div>
							<div id="upgrade-tab-drop" class="drop-tab is-hidden">
									<div class="control is-spaced">
										<div class="control-left">
											<p>
												Premium Status
											</p>
											<small id="renew-status" class="tip">Now loading Premium details...</small>
										</div>
										<div class="control-right">
											<a id="upgrade-button" class="margin-top-5 is-stylish is-small basic-elem button no-shadow">
												<span class="icon is-small">
													<i class="fa fa-diamond"></i>
												</span>
												<span>Upgrade</span>
											</a>
											<div class="premium-elem control">
												<a id="cancel-premium-button" class="margin-top-5 is-hidden is-outlined is-small is-stylish button no-shadow is-danger">
													<span class="icon is-small">
														<i class="fa fa-times-circle"></i>
													</span>
													<span>Cancel Plan</span>
												</a>
												<a id="renew-premium-button" class="margin-top-5 is-hidden is-outlined is-small is-stylish button no-shadow is-primary">
													<span class="icon is-small">
														<i class="fa fa-repeat"></i>
													</span>
													<span>Renew Plan</span>
												</a>
											</div>
										</div>
									</div>

									<div class="control margin-bottom-0 is-spaced">
										<div class="control-left">
											<p>
												Default Payment Method
											</p>
											<small id="existing-cc" class="tip">Click the button on the right to add a default credit card!</small>
										</div>
										<div class="control-right">
											<a id="change-card-button" tabindex="0" title="Change Payment Method" class="button is-primary is-outlined is-small is-stylish no-shadow">
												<span class="icon is-small">
													<i class="fa fa-credit-card"></i>
												</span>
												<span>Change Payment Method</span>
											</a>
										</div>
									</div>

									<form id="stripe-form" class="is-hidden margin-top-20" autocomplete="on">
										<div class="control">
											<label class="label">
												<span class="v-align-middle">Card Number</span>
											</label>
											<div class="control is-grouped">
												<p class="control has-icon">
													<input id="cc-num" tabindex="0" data-stripe="number" class="input stripe-input" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
													<i id="cc-icon" class="fa fa-credit-card"></i>
												</p>
											</div>
										</div>

										<div class="control">
											<label class="label">
												<span class="v-align-middle">Expiration Date</span>
											</label>
											<div class="control is-grouped">
												<p class="control has-icon">
													<input id="cc-exp" tabindex="0" maxlength="7" data-stripe="exp" class="input stripe-input" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
													<i class="fa fa-calendar-o"></i>
												</p>
											</div>
										</div>

										<div class="control">
											<label class="label">
												<span class="v-align-middle">Security Code</span>
											</label>
											<div class="control is-grouped">
												<p class="control has-icon">
													<input id="cc-cvc" tabindex="0" data-stripe="cvc" class="input stripe-input" type="tel" placeholder="•••" autocomplete="off"/>
													<i class="fa fa-lock"></i>
												</p>
											</div>
										</div>

										<div class="control">
											<label class="label">
												<span class="v-align-middle">Zip Code</span>
											</label>
											<div class="control is-grouped">
												<p class="control has-icon">
													<input id="cc-zip" tabindex="0" maxlength="6" data-stripe="address_zip" class="input stripe-input" type="tel" autocomplete="postal-code" placeholder="•••••"/>
													<i class="fa fa-map-marker"></i>
												</p>
											</div>
										</div>
									</form>
								</div>
						</div>
						<footer id="tab-buttons-wrapper" class="yes-listings-elem is-hidden margin-top-25">
							<a id="verify-button" class="unverified-elem button is-primary is-stylish is-small no-shadow" title="Verify this domain">
								<span class="icon is-small"><i class="fa fa-check-circle-o"></i></span>
								<span>Verify Now</span>
							</a>
							<a id="refresh-dns-button" class="unverified-elem button is-outlined is-stylish is-small no-shadow" title="Refresh DNS">
								<span class="icon is-small"><i class="fa fa-refresh"></i></span>
								<span>Refresh Table</span>
							</a>
							<div class="verified-elem">
								<button id="save-changes-button" class="button is-disabled is-stylish is-small no-shadow">Save</button>
								<button id="cancel-changes-button" class="button is-danger is-inverted is-hidden is-stylish is-small no-shadow">Cancel</button>
								<button id="checkout-button" class="button is-primary is-disabled is-hidden is-stylish is-small no-shadow">Checkout</button>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include("../templates/footer"); %>
	<%- include("../templates/js_scripts"); %>
	<script src="/js/jquery/jquery-ui.js" type="text/javascript"></script>
	<script src="/js/lib/moment.min.js" type="text/javascript"></script>
	<script src="/js/lib/tag-it.min.js" type="text/javascript"></script>
	<script src="/js/lib/wNumb.js" type="text/javascript"></script>
	<script src="https://js.stripe.com/v2/" type="text/javascript" ></script>
	<script src="/js/jquery/jquery.payment.min.js" type="text/javascript"></script>
	<script src="/js/jquery/jquery.minicolors.min.js" type="text/javascript"></script>
  <script src="/js/themes.js" type="text/javascript"></script>
	<script type="text/javascript">
		//redirect to homepage if user is not defined
		var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
		var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
		var categories = <% if(typeof categories != "undefined"){ %><%-JSON.stringify(categories)%><% }else{ %>""<% } %>;
	</script>
	<script src="/js/routes/profile/profile_mylistings_logic.js" type="text/javascript"></script>
</body>

</html>
