<!DOCTYPE html>

<html>

<head>
	<title>My Rentals - DomaHub</title>
	<%- include("../templates/head_links"); %>
	<link rel="stylesheet" href="/css/profile.css" type="text/css" />
</head>

<body>
	<%- include("../templates/navbar", {user: user}); %>

	<div class="container clear-nav-profile">
    <div class="tabs is-centered">
    	<ul>
        <li><a href="/profile/dashboard" tabindex="1">Dashboard</a></li>
        <li><a href="/profile/messages" tabindex="1">Messages</a></li>
        <li><a href="/profile/mylistings" tabindex="1">Listings</a></li>
        <li class="is-active"><a href="/profile/myrentals" tabindex="1">Rentals</a></li>
        <li><a href="/profile/settings" tabindex="1">Settings</a></li>
      </ul>
    </div>
	</div>

	<section class="section min-height">
		<div class="container">
			<div class="columns">
				<div class="column">

					<div id="no-rows" class="box has-text-centered is-hidden">
						There are no rentals!
					</div>

					<div class="rows-exist">

						<div class="control has-icon">
							<input id="search-domain" tabindex="1" class="input" type="text" placeholder="Search listings" />
							<i class="fa fa-search"></i>
						</div>

						<nav class="level filter-panel">
							<div class="level-item">
								<a class="filter-local" id="reset_filter" tabindex="1">
									View All
								</a>
							</div>
							<div class="level-item">
								<a class="filter-local" id="expiring_filter" tabindex="1">
									Expiring
								</a>
							</div>
							<div class="level-item">
								<a class="filter-local" id="expired_filter" tabindex="1">
									Expired
								</a>
							</div>
							<div class="level-item">
								<a class="filter-local" id="active_filter" tabindex="1">
									Active
								</a>
							</div>
							<div class="level-item">
								<a class="filter-local" id="inactive_filter" tabindex="1">
									Inactive
								</a>
							</div>
						</nav>

						<table class="table">
							<thead class="">
								<tr>
									<th class="td-arrow"></th>
									<th class="td-domain">
										Domain Name
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-status">
										Status
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-address">
										Address
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-view"></th>
								</tr>
							</thead>
							<tbody id="table_body"></tbody>
						</table>

						<!-- add this section to the dropdown-->
						<div class="box">
							<div class="columns">
								<div class="column is-3">
									<p class="is-bold">
										Rental Start
									</p>
									<p>
										Dec 20, 2016 12:00AM
									</p>
								</div>
								<div class="column is-3">
									<p class="is-bold">
										Rental End
									</p>
									<p>
										Dec 31, 2016 12:00AM
									</p>
								</div>
							</div>
							<div class="columns">
								<div class="column">
									<p class="control">
										<a class="button is-primary">Save Changes</a>
										<a class="button is-danger">Cancel Changes</a>
									</p>
								</div>
							</div>
						</div>

						<nav class="pagination margin-bottom-25">
							<a id="prev-page" class="button no-shadow">Previous page</a>
							<a id="next-page" class="button no-shadow">Next page</a>
							<ul id="page-list"></ul>
						</nav>

						<nav class="pagination-control">
							<div class="control is-horizontal">
								<div class="control-label">
									<label class="label">Show per page:</label>
								</div>
								<div class="control">
									<div class="select">
										<select id="domains-per-page">
											<option selected value="5">5</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
									</div>
								</div>
							</div>
							<div class="control">
								<p class="control has-addons has-addons-right">
									<input id="go-to-page-input" class="input" type="number" min="1" value="1" />
									<a id="go-to-page-button" class="button is-primary">
										Go to page
									</a>
								</p>
							</div>
						</nav>

					</div>
				</div>

			</div>
		</div>
	</section>

	<%- include("../templates/footer"); %>
	<%- include("../templates/js_scripts"); %>
	<script src="/js/lib/moment.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	//redirect to homepage if user is not defined
	var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
	var rentals = <% if(typeof rentals != "undefined"){ %><%-JSON.stringify(rentals)%><% }else{ %>""<% } %>;
	</script>
	<script src="/js/routes/profile/profile_myrentals_logic.js" type="text/javascript"></script>
	<script src="/js/routes/profile/profile_pagination_logic.js" type="text/javascript"></script>
</body>
</html>
