<div id="domain-editor" class="is-hidden">

  <!-- EDIT LISTING DETAILS -->
  <div id="editing-section" class="edit-elem non-offer-elem non-verify-elem">
    <!-- LISTING EDIT TOOLBAR -->
    <div id="edit-toolbar" class="edit-elem non-offer-elem non-verify-elem">

      <!-- CURRENT DOMAIN NAME -->
      <div class="content">
        <a class="show-selector-button button is-black is-transparent no-shadow" tabindex="0" title="Back To My Listings">
          <div class="icon is-small">
            <i class="far fa-long-arrow-left"></i>
          </div>
          <span>Go Back To Listings</span>
        </a>
      </div>
      <div class="control is-spaced">
        <div class="control-left content">
          <h2 class="title-wrapper is-bold">
            <span class="editor-title">My Offers</span>
            <span class="current-domain-name"></span>
          </h2>
        </div>
        <div class="control-right is-flex">
          <a id="status-toggle-button" tabindex="0" class="button control-item is-primary is-inverted is-stylish is-small" title="Publicly hide or show listing page(s).">
            <div id="status-icon" class="icon is-small"><i class="far fa-toggle-on"></i></div>
            <span id="status-text" class="is-hidden-mobile"></span>
          </a>
          <div id="view-listings-button-wrapper" class="control-item is-relative">
            <a id="view-listings-button" class="button is-stylish is-small" target="_blank" rel="noopener" tabindex="0">
              <div class="icon is-small"><i class="far fa-external-link"></i></div>
              <span class="is-hidden-mobile">View Page<span class="edit-domain-plural is-hidden">s</span></span>
            </a>
            <div id="view-listings-button-drop" class="box domain-tooltip is-hidden"></div>
          </div>
        </div>
      </div>

      <div class="tabs is-boxed">
        <ul>
          <li id="info-tab" class="verified-elem unpurchased-elem tab">
            <a tabindex="0" class="">
              <%# <span class="icon is-hidden-tablet"><i class="far fa-info"></i></span>%>
              <span class="">Information</span>
            </a>
          </li>
          <li id="design-tab" class="verified-elem unpurchased-elem tab">
            <a tabindex="0" class="">
              <%# <span class="icon is-hidden-tablet"><i class="far fa-magic"></i></span>%>
              <span class="">Design</span>
            </a>
          </li>
          <div class="button-wrapper is-mobile control">
            <div class="control is-grouped">
              <div class="control is-marginless">
                <a id="save-changes-button" class="button is-primary is-stylish is-small is-hidden">
                  <div class="icon is-small"><i class="far fa-check-circle"></i></div>
                  <span>Save</span>
                </a>
              </div>
              <div class="control">
                <a id="cancel-changes-button" class="button is-danger is-stylish is-small is-hidden">
                  <div class="icon is-small"><i class="far fa-ban"></i></div>
                  <span>Cancel</span>
                </a>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div id="info-tab-drop" data-title="Edit Information Details" class="tab-drop is-hidden">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent is-6">
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Pricing</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="min-price-input">
                  Minimum Price
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Must be a whole number. Leave blank or set to 0 for no minimum price." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">The minimum offer you will consider selling <span class="this-domain">this domain</span> for.</small>
                <input id="min-price-input" class="input changeable-input" data-name="min_price" type="number" min="1" step="1">
              </div>
              <div class="control">
                <label class="label" for="buy-price-input">
                  Buy It Now Price
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Must be a whole number. Leave blank or set to 0 to disable the buy-it-now option." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">The price you are willing to sell <span class="this-domain">this domain</span> for immediately.</small>
                <input id="buy-price-input" class="input changeable-input" data-name="buy_price" type="number" min="1" step="1">
              </div>
            </div>
          </div>
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Descriptions</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="categories-input">
                  Categories
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Incorrect categories can lead to a poor user experience and hurt your domain brand by being associated with non-similar domains." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Categories or industries <span class="this-domain">this domain</span> belong to. Helpful for users to find similar domains.</small>
                <input id="categories-input" class="input changeable-input" data-name="categories" type="text">
                <div id="categories-dropdown" class="is-hidden">
                  <%# make all the categories %>
                  <% for (var x = 0; x < categories.length; x++){ %>
                    <div class="category-checkbox-wrapper">
                      <input type="checkbox" id="<%= categories[x].back %>-category-input" class="category-checkbox-input" value="<%= categories[x].back %>" />
                      <label for="<%= categories[x].back %>-category-input"><%= categories[x].front %></label>
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="control">
                <label class="label" for="description-footer">
                  <span>Footer Description</span>
                  <% if (!user.stripe_subscription_id) { %>
                    <div class="icon is-small is-tooltip" data-balloon="Premium Feature" data-balloon-pos="up">
                      <i class="far fa-trophy-alt"></i>
                    </div>
                  <% } %>
                  <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Must be a maximum of 75 characters." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Text that is displayed on the footer of the listing page. An ideal location for a slogan, phrase, or trademark.</small>
                <input id="description-footer" data-name="description_footer" tabindex="0" class="premium-input input changeable-input" placeholder="The best domain names in the industry." />
                </div>
              <div class="control">
                <label class="label" for="description">
                  Listing Description
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="A good description helps your potential customers understand the value of your domain name." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Text description that will appear as a paragraph below the domain name on the listing page.</small>
                <textarea id="description" class="description-input textarea changeable-input"
                tabindex="0" data-name="description" placeholder="The greatest domain name to ever have existed. Buy it today and start investing in your next project or venture!"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-vertical is-parent is-6">
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Registrar Information</h3>
              <a id="lookup-dns-button" class="button is-icon is-stylish is-small">
                <span class="icon is-small"><i class="far fa-search"></i></span>
                <span>Lookup Automatically</span>
              </a>
            </div>
            <div class="card-content">
              <div class="control">
                <div class="control">
                  <label class="label" for="registrar-name-input">
                    Registrar Name
                  </label>
                  <small class="tip">The registrar or company you first purchased <span class="this-domain">this domain</span> from.</small>
                  <input id="registrar-name-input" class="input changeable-input" data-name="registrar_name" type="text">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="date-expire-input">
                    Domain Expiration Date
                  </label>
                  <small class="tip">When <span class="this-domain">this domain</span> will expire with your registrar.</small>
                  <input id="date-expire-input" class="input changeable-input" data-name="date_expire" type="datetime-local">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="annual-cost-input">
                    Annual Renewal Cost
                    <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Registrar specific costs cannot be obtained automatically, please enter this information in manually." data-balloon-pos="top">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">How much it costs per year to renew <span class="this-domain">this domain</span> with your registrar.</small>
                  <input id="annual-cost-input" class="input changeable-input" data-name="registrar_cost" type="number" min="1" step="1">
                </div>
              </div>
            </div>
          </div>
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Domain Rentals</h3>
              <a target="_blank" rel="noopener" href="/faq#renting" class="is-primary is-underlined">Why should I rent my domain out?</a>
            </div>
            <div class="card-content">
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label" for="rentable-input">
                    Allow Rentals
                  </label>
                  <small class="tip">Allows users to rent usage of <span class="this-domain">this domain</span> for short amounts of time.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="rentable-input" data-name="rentable" type="checkbox" class="checkbox-input changeable-input" tabindex="0" />
                    <label for="rentable-input"></label>
                  </form>
                </div>
              </div>
              <label class="label">
                Rental Price
                <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Must be a whole number. Leave blank or set to 0 for free rentals on your domain." data-balloon-pos="up">
                  <i class="far fa-question-circle"></i>
                </div>
              </label>
              <small class="tip">The price per unit of time for a domain rental.</small>
              <div class="control">
                <div class="control has-addons">
                  <input id="price-rate-input" data-name="price_rate" type="number" min="1" step="1" class="input changeable-input rentable-input" />
                  <span class="select price-type-span no-shadow">
                    <div class="drop-form">
                      <select id="price-type-input" data-name="price_type" class="changeable-input rentable-input">
                        <option value="month">Month</option>
                        <option value="week">Week</option>
                        <option value="day">Day</option>
                      </select>
                    </div>
                  </span>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Example Paths</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Must consist of either letters or numbers." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Example paths or subdirectories that users may want to rent on <span class="this-domain">this domain</span>.</small>
                <input id="paths-input" data-name="paths" tabindex="0" class="is-hidden input rentable-input" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="design-tab-drop" data-title="Edit Design Details" class="tab-drop is-relative is-hidden">
      <div id="premium-blackscreen" class="blackscreen">
        <div id="premium-only-notification" class="box is-medium">
          <div class="content has-text-centered">
            <p>
              Please upgrade to a <a href="/features#pricing" class="is-underlined is-primary">Premium Account</a> to customize the look and feel of the listing page!
            </p>
            <div class="control has-text-centered">
              <a href="/profile/settings#premium" class="button is-primary is-stylish">
                <div class="icon is-small">
                  <i class="far fa-trophy-alt"></i>
                </div>
                <span>Upgrade Now</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="example-wrapper" class="box preview-elem control has-border-bottom">
        <figure class="image has-shadow is-pulled-right">
          <img id="example-logo" src="" />
        </figure>
        <div class="control">
          <span id="example-buy-price-tag" class="tag is-stylish has-shadow is-primary is-medium preview-elem"></span>
          <span id="example-rent-price-tag" class="tag is-stylish has-shadow is-primary is-medium preview-elem"></span>
        </div>
        <div class="content">
          <h1 id="example-domain-name" class="preview-elem is-bold"></h1>
        </div>
        <div class="control">
          <p id="example-font" class="preview-elem is-black">This is a preview of your chosen design. Use the settings below to customize the listing page!</p>
        </div>
        <div class="button-wrapper is-mobile control">
          <a id="example-button-primary" class="preview-elem button is-stylish">
            <div class="icon is-small">
              <i class="far fa-check-circle" aria-hidden="true"></i>
            </div>
            <span>Send Offer</span>
          </a>
          <a id="example-button-accent" class="preview-elem button is-stylish">
            <div class="icon is-small">
              <i class="far fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <span>Buy Now</span>
          </a>
        </div>
        <div class="control">
          <a id="example-link-info" class="is-underlined preview-elem">This is a link on the listing page.</a>
        </div>
        <div id="example-footer-background" class="box">
          <span id="example-footer-text">This is some text on the footer of the listing page.</span>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent is-6">
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Fonts and Colors</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="random-button">Theme</label>
                <div class="control is-grouped">
                  <div class="control has-icon">
                    <span class="select has-shadow is-fullwidth is-stylish">
                      <select tabindex="0" id="theme-input" class="premium-input"></select>
                    </span>
                    <div class="icon">
                      <i class="far fa-image"></i>
                    </div>
                  </div>
                  <div class="control">
                    <a id="random-theme-button" class="premium-input button is-stylish is-small">
                      <div class="icon is-small">
                        <i class="far fa-random"></i>
                      </div>
                      <span>Random Theme</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Color Scheme</span>
                </label>
                <small class="tip">The three main colors of the listing page.</small>
                <div class="control">
                  <input id="primary-color-input" data-name="primary_color" placeholder="#3CBC8D" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <input id="secondary-color-input" data-name="secondary_color" placeholder="#FF5722" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <input id="tertiary-color-input" data-name="tertiary_color" placeholder="#2196F3" type="text" class="premium-input input changeable-input">
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Font Styling</span>
                </label>
                <div class="control is-grouped">
                  <div class="control">
                    <input id="font-color-input" data-name="font_color" placeholder="#000000" type="text" class="premium-input input changeable-input">
                  </div>
                  <div class="control has-icon">
                    <span class="select has-shadow is-stylish is-fullwidth">
                      <select tabindex="0" data-name="font_name" id="font-name-input" class="premium-input changeable-input">
                        <%# make all the categories %>
                        <% for (var x = 0; x < fonts.length; x++){ %>
                          <option value="<%= fonts[x] %>"><%= fonts[x] %></option>
                        <% } %>
                      </select>
                    </span>
                    <div class="icon">
                      <i class="far fa-font"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Background Color</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The background image takes precedence over the background color. The background color will appear through any transparent layers in the background image." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <div class="control">
                  <input id="background-color-input" data-name="background_color" placeholder="#FFFFFF" type="text" class="premium-input input changeable-input">
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Footer Styling</span>
                </label>
                <small class="tip">The color of the footer background color and the color of the footer text.</small>
                <div class="control">
                  <input id="footer-background-color-input" data-name="footer_background_color" placeholder="#F1F1F1" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <input id="footer-color-input" data-name="footer_color" placeholder="#565656" type="text" class="premium-input input changeable-input">
                </div>
              </div>
            </div>
          </div>
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Information Tab</h3>
              <form class="checkbox-form">
                <input id="info-module-input" data-name="info_module" type="checkbox" class="parent-module checkbox-input premium-input changeable-input" tabindex="0" />
                <label for="info-module-input" class="premium-input"></label>
              </form>
            </div>
            <div class="card-content">
              <div class="control info-module-child child-module is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Domain Owner</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays a small sentence showing your username and when the listing page was created.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="domain-owner-input" data-name="domain_owner" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="domain-owner-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control info-module-child child-module is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Domain Age</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays a small sentence showing the registration date of <span class="this-domain">this domain</span>.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="domain-age-input" data-name="domain_age" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="domain-age-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control info-module-child child-module is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Other Listings</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays a list of other listings you own on DomaHub.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="domain-list-input" data-name="domain_list" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="domain-list-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control info-module-child child-module is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Appraisal Sites</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays links to various domain appraisal sites.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="domain-appraisal-input" data-name="domain_appraisal" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="domain-appraisal-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control info-module-child child-module is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Social Media Sharing Buttons</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays buttons to share the listing on various social media sites.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="social-sharing-input" data-name="social_sharing" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="social-sharing-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-vertical is-parent is-6">
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Images</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label">
                  <span>Background Image URL</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Dimensions can be whatever you wish, but keep in mind your customers will have different resolutions. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Choose an existing image on the web or upload your own image using the upload button.</small>
                <div class="control">
                  <input id="background-link-input" data-name="background_image_link" placeholder="http://link-to-image.com/background.png" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <button id="background-link-refresh" class='button is-stylish is-small is-disabled is-outlined'>
                    <div class="icon is-small">
                      <i class="far fa-sync-alt"></i>
                    </div>
                    <span>Refresh Preview</span>
                  </button>
                  <form class="is-hidden drop-form-file" method="post" enctype="multipart/form-data">
                    <input tabindex="0" id="background-image-input" data-name="background_image" type="file" name="background_image" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
                  </form>
                  <label for="background-image-input" class="premium-input button is-stylish is-small">
                    <div class="icon is-small">
                      <i class="far fa-upload" aria-hidden="true"></i>
                    </div>
                    <span data-default-name="Upload Background Image" id="background-image-label" class="file-label">Upload Image</span>
                  </label>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Logo Image URL</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The logo will be utilized for email communications and branding. The ideal dimensions are 45 x 45 pixels. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <div class="control">
                  <input id="logo-link-input" data-name="logo_image_link" placeholder="http://link-to-image.com/logo.jpg" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <button id="logo-link-refresh" class='button is-stylish is-small is-disabled is-outlined'>
                    <div class="icon is-small">
                      <i class="far fa-sync-alt"></i>
                    </div>
                    <span>Refresh Preview</span>
                  </button>
                  <form class="is-hidden drop-form-file" method="post" enctype="multipart/form-data">
                    <input tabindex="0" id="logo-image-input" data-name="logo" type="file" name="logo" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
                  </form>
                  <label for="logo-image-input" class="premium-input button is-stylish is-small">
                    <div class="icon is-small">
                      <i class="far fa-upload" aria-hidden="true"></i>
                    </div>
                    <span data-default-name="Upload Logo" id="logo-image-label" class="file-label">Upload Logo</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Content Design</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="domain-name-input">
                  Domain Capitalization
                </label>
                <small id="domain-name-cap-missing" class="tip">Change the capitalization of your domain name to fit your custom domain branding.</small>
                <input id="domain-name-input" class="input premium-input changeable-input" data-name="domain_name" type="text">
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label" for="placeholder-input">
                    Placeholder Text
                    <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The placeholder text is a light-hearted way of letting your users know what information to put in what form." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Enables the movie-quote placeholder text on the listing page contact form.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="placeholder-input" data-name="placeholder" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="placeholder-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">Traffic and History Tabs</h3>
            </div>
            <div class="card-content">
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">Traffic Tab</label>
                  <small class="tip">Displays detailed traffic information about the listing.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="traffic-module-input" data-name="traffic_module" type="checkbox" class="parent-module checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="traffic-module-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control traffic-module-child child-module is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Traffic Graph</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The traffic tab must be enabled for this setting to take effect." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays a graph of the listing traffic.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="traffic-graph-input" data-name="traffic_graph" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="traffic-graph-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control traffic-module-child child-module is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Alexa Statistics</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The traffic tab must be enabled for this setting to take effect." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays <a class="is-primary is-underlined" id="alexa_link">Alexa</a> traffic statistics.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="alexa-stats-input" data-name="alexa_stats" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="alexa-stats-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">History Tab</label>
                  <small class="tip">Displays a table of recent activity - useful if you have rentals enabled.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="history-module-input" data-name="history_module" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="history-module-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- OFFERS -->
  <div id="offers-section" class="offer-elem non-edit-elem non-verify-elem is-hidden">
    <div class="content">
      <a class="show-selector-button button is-black is-transparent no-shadow" tabindex="0" title="Back To Domain Selector">
        <div class="icon is-small">
          <i class="far fa-long-arrow-left"></i>
        </div>
        <span>Go Back To Listings</span>
      </a>
    </div>
    <div class="control">
      <div class="content">
        <h2 class="title-wrapper is-bold">
          <span class="editor-title">My Offers</span>
          <span class="current-domain-name"></span>
        </h2>
      </div>
      <div id="offers-toolbar">
        <div class="offer-button control button-wrapper is-mobile">
          <a id="refresh-offers-button" class="is-hidden button is-stylish is-small" title="Refresh Offers">
            <div class="icon is-small"><i class="far fa-sync-alt"></i></div>
            <span class="is-hidden-mobile">Refresh Offers</span>
          </a>
          <a id="show-rejected-offers" title="Show Rejected Offers" class="button is-stylish is-small">
            <div class="icon is-small"><i class="far fa-toggle-off"></i></div>
            <span class="is-hidden-mobile">Show Rejected</span>
          </a>
          <div class="control has-icon">
            <div class="icon">
              <i class="far fa-search"></i>
            </div>
            <input id="offer-search" tabindex="0" class="input is-stylish has-shadow" type="text" placeholder="Search Offers" />
          </div>
        </div>
      </div>
    </div>

    <!-- OFFER ACCEPT / DEPOSIT BOXES -->
    <div id="accepted-offer" class="whats-next-offer control is-hidden">
      <div class="box no-shadow no-border content">
        <h3 class="is-bold">
          I accepted the offer--what's next?
        </h3>
        <p>
          The buyer has been sent an email with instructions on completing payment.
          Once the payment has been verified, you will need to manually transfer the ownership of <span class="this-domain">this domain</span> to him/her.
          If you do not know how to manually transfer a domain, please refer to our <a target="_blank" href="/faq#transferguide" class="is-primary is-underlined">Domain Transfer Guide</a>.
        </p>
        <p>
          If you have changed your mind about this offer, please <a href="/contact" class="is-primary is-underlined">let us know</a>.
        </p>
        <p class="is-bold">
          There is no required action on your part just yet. Hold tight, we are getting you your money.
        </p>
      </div>
      <p class="resend-wrapper">
        <a class="button is-stylish is-small resend-offer-email-button">
          <div class="icon is-small"><i class="far fa-repeat"></i></div>
          <span>Re-send payment email</span>
        </a>
      </p>
    </div>
    <div id="deposited-offer" class="whats-next-offer control is-hidden">
      <div class="box no-shadow no-border content">
        <h3 class="is-bold">
          Congratulations on selling your domain.
        </h3>
        <p>
          The money has been deposited and verified by DomaHub. You must now transfer the ownership of <span class="this-domain">this domain</span> to the new owner.
          Once the new owner has verified that the ownership has been transferred over, the money will become available for withdrawal.
          If you do not know how to manually transfer a domain, please refer to our <a target="_blank" href="https://medium.com/@domahub/how-to-transfer-your-domain-9d3f93070292" class="is-primary is-underlined">Domain Transfer Guide</a>.
        </p>
        <p>
          <span class="this-domain">this domain</span> must be transferred by <span id="deposited-deadline" class="is-bold"></span>. Otherwise your account will be flagged for review.
        </p>
        <p class="is-bold">
          Failure to transfer ownership of the domain within the next 14 days will result in the money being refunded.
        </p>
        <p>
          Having issues? <a class="is-primary is-underlined contact-link" href="/contact">Contact us</a> for assistance.
        </p>

      </div>
      <div class="resend-wrapper">
        <a class="button is-stylish is-small resend-offer-email-button">
          <div class="icon is-small"><i class="far fa-repeat"></i></div>
          <span>Re-send verification email</span></a>
        </a>
      </div>
    </div>
    <div id="transferred-offer" class="whats-next-offer control is-hidden">
      <div class="box no-shadow no-border content">
        <h3 class="is-bold">
          Congratulations on selling your domain.
        </h3>
        <p>
          The money has been deposited and verified by DomaHub. You can see your earnings on your <a class="is-primary is-underlined contact-link" href="/settings#transactions">Account Settings transactions</a> page.
        </p>
        <figure class="image is-64x64">
          <img src="/images/lib/smile.png">
        </figure>
        <p>
          Have questions about this transaction? <a class="is-primary is-underlined contact-link" href="/contact">Contact us</a> for assistance.
        </p>
      </div>
    </div>

    <!-- OFFER MODAL -->
    <div id="offer-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-container">
        <div class="modal-content is-small">
          <div class="content has-text-centered">
            <h3 class="is-bold" id="offer-modal-domain"></h3>
            <p>Received on <span id="offer-modal-timestamp"></span></p>
          </div>
          <div class="content">
            <h1 id="offer-modal-price" class="has-text-centered"></h1>
          </div>
          <div class="content">
            <ul id="offer-info" class="is-vertical offer-info">
              <li>
                <div class="icon is-small" title="From">
                  <i class="far fa-user-alt fa-fw"></i></span>
                </div>
                <span id="offer-modal-name">
              </li>
              <li>
                <div class="icon is-small" title="Email">
                  <i class="far fa-envelope fa-fw"></i></span>
                </div>
                <span id="offer-modal-email">
              </li>
              <li>
                <div class="icon is-small" title="Phone">
                  <i class="far fa-phone fa-fw"></i></span>
                </div>
                <span id="offer-modal-phone">
              </li>
              <li>
                <div class="icon is-small" title="Message">
                  <i class="far fa-comment fa-fw"></i>
                </div>
                <p id="offer-modal-message" class="offer-msg"></p>
              </li>
            </ul>
          </div>
          <div id="offer-response-label" class="content is-hidden">
            <p>
              Your response:
            </p>
          </div>
          <div id="offer-response-wrapper" class="content">
            <textarea id="offer-response" placeholder="You may include an optional response to the offerer." class='textarea'></textarea>
          </div>
          <div id="offer-modal-button-wrapper" class="control is-grouped is-grouped-center">
            <div class="control is-expanded">
              <a id="accept_button" tabindex="0" class='button is-fullwidth is-stylish is-small is-primary '>
                <div class="icon is-small"><i class="far fa-check"></i></div>
                <span>Accept offer</span>
              </a>
            </div>
            <div class="control is-expanded">
              <a id="reject_button" tabindex="0" class='button is-fullwidth is-stylish is-small is-outlined is-danger'>
                <div class="icon is-small"><i class="far fa-times"></i></div>
                <span>Reject offer</span>
              </a>
            </div>
          </div>
          <div class="content">
            <a id="offer-modal-whats-next" tabindex="0" class='is-underlined is-primary'>
              <span>What do I need to do next?</span>
            </a>
          </div>
        </div>
      </div>
      <button class="modal-close"></button>
    </div>

    <!-- OFFER TABLE -->
    <table id="no-verified-listings-table" class="is-hidden has-shadow table is-fixed is-bordered">
      <tbody>
        <tr class="no-hover-effect">
          <td colspan="5">
            <div class="nothing-exists-row has-text-centered">
              <div class="offer-table-no-listings is-hidden">
                <img src="/images/lib/smile.png" />
                <p class="control has-text-centered">
                  You need listings before you can get offers! Let's go make some!
                </p>
                <a class="button is-primary is-stylish" href="/listings/create">
                  <div class="icon is-small">
                    <i class="far fa-plus"></i>
                  </div>
                  <span>Create New Listings</span>
                </a>
              </div>
              <div class="offer-table-no-verified content has-text-centered is-hidden">
                <figure class="image is-64x64">
                  <img src="/images/lib/shock.png" />
                </figure>
                <p>
                  You must verify your domains before you can receive offers!
                </p>
                <a class="button is-primary is-stylish" href="/profile/mylistings?tab=verify">
                  <div class="icon">
                    <i class="far fa-check-circle"></i>
                  </div>
                  <span>Verify Domains</span>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table id="no-offers-table" class="hidden-while-loading-offers has-shadow is-hidden table is-fixed is-bordered">
      <tbody>
        <tr class="no-hover-effect">
          <td colspan="5">
            <div class="nothing-exists-row has-text-centered">
              <img src="/images/lib/ggface.png" />
              <p>Oh, no! There are no existing/matching offers!</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table id="loading-offers-table" class="is-hidden has-shadow table is-fixed is-bordered">
      <tbody>
        <tr class="no-hover-effect">
          <td colspan="5">
            <div class="nothing-exists-row has-text-centered">
              <p class="icon is-medium"><i class="far fa-spin fa-sync-alt"></i></p>
              <p>Now loading domain offers.</p>
              <p>This may take some time.</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table id="offers-table" class="is-hidden has-shadow has-shadow hidden-while-loading-offers table is-fixed is-bordered">
      <thead class="has-hover-effect">
        <tr>
          <th class="offer-header-sort" data-value="domain_name">
            <span>Domain Name</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort" data-value="offer">
            <span>Offer</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort" data-value="accepted">
            <span>Status</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort is-hidden-mobile" data-value="timestamp">
            <span>Date</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort is-hidden-456px" data-value="name">
            <span>Name</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
        </tr>
      </thead>
      <tbody id="offers-wrapper">
        <tr id="offer-clone" class="offer-row has-hover-effect is-hidden">
          <td>
            <span class="td-offer-domain"></span>
            <div class="icon is-tooltip is-inline is-small" data-balloon-length="medium" data-balloon="Click on this offer to view more details or respond to it." data-balloon-pos="right">
              <i class="far fa-question-circle"></i>
            </div>
          </td>
          <td class="td-offer-offer"></td>
          <td class="td-offer-status"></td>
          <td class="td-offer-timestamp is-hidden-mobile"></td>
          <td class="td-offer-name is-hidden-456px"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- STATS -->
  <div id="stats-section" class="is-hidden">
    <div id="loading-stats" class="content">
      <p>
        <div class="icon is-small"><i class="far fa-spin fa-refresh"></i></div>
        <span>Now loading listing statistics...</span>
      </p>
    </div>
    <div id="no-stats" class="content is-hidden">
      <p>
        There is no activity on <span class="this-domain">this domain</span> yet. Need some tips? Check out our <a href="/faq" class="is-primary is-underlined">FAQ</a>.
      </p>
    </div>
    <div class='stats-loading control'>
      <div class="content">
        <p>
          Unique Referers
          <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="What website your users are coming from (where they are being referred from)." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </div>
        </p>
        <div class="chart-min-height">
          <canvas id="referer-chart"></canvas>
        </div>
      </div>
      <div class="content">
        <p>
          Traffic
        </p>
        <div class="chart-min-height">
          <canvas id="traffic-chart"></canvas>
        </div>
      </div>
      <div class="content">
        <p>
          Is there a specific statistic you would like to see for your domains? Please <a class="is-primary is-underlined" href="/contact">let us know</a>!
        </p>
      </div>
    </div>
  </div>

  <!-- VERIFICATION -->
  <div id="verify-section" class="verify-elem non-offer-elem non-edit-elem is-hidden">

    <div class="content">
      <a class="show-selector-button button is-black is-transparent no-shadow" tabindex="0" title="Back To Domain Selector">
        <div class="icon is-small">
          <i class="far fa-long-arrow-left"></i>
        </div>
        <span>Go Back To Listings</span>
      </a>
    </div>
    <div class="content">
      <h2 class="title-wrapper is-bold">
        <span class="editor-title"></span>
        <span class="current-domain-name"></span>
      </h2>
    </div>

    <div class="columns">
      <div class="column is-narrow">
        <div class="card is-fullwidth-mobile">
          <div class="card-image">
            <div id="verification-left" class="notification no-shadow has-icon is-lighter">
              <div class="icon-box">
                <div id="verification-left-load" class="icon">
                  <i class="far fa-spin fa-sync-alt"></i>
                </div>
                <div id="verification-left-danger" class="icon is-white">
                  <i class="far fa-exclamation-triangle"></i>
                </div>
                <div id="verification-left-success" class="icon is-white">
                  <i class="far fa-thumbs-up"></i>
                </div>
              </div>
              <div class="content">
                <p id="verification-left-text" class="is-white"></p>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="control">
              This table details the DNS entries that are needed to verify <span class="verification-domains-plural"></span>.
            </div>
            <div class="control">
              Please note that DNS changes can take up to 72 hours to take effect.
            </div>
            <div class="control">
              If you require any assistance, please refer to our <a tabindex="0" target="_blank" class="is-primary is-underlined" href="https://medium.com/domahub/how-to-verify-domains-on-domahub-7d526c4ce6d"> step-by-step guide</a>.
            </div>
          </div>

        </div>
      </div>
      <div class="column">
        <div class="content">
          <div class="control is-grouped">
            <div class="control button-wrapper is-mobile">
              <a id="refresh-dns-button" class="button is-stylish is-small" title="Refresh DNS Table">
                <div class="icon is-small"><i class="far fa-sync-alt"></i></div>
                <span>Refresh Table<span class="verification-plural"></span></span>
              </a>
              <a id="verify-button" class="verify-hidden-while-loading button is-stylish is-small is-primary is-hidden" title="Verify domain(s)">
                <div class="icon is-small"><i class="far fa-check-circle"></i></div>
                <span>Verify Now</span>
              </a>
              <a id="prev-dns-table-button" data-value="-1" class="verify-hidden-while-loading button is-stylish is-small" title="Previous Domain Name">
                <div class="icon is-small"><i class="far fa-angle-left"></i></div>
                <span class="is-hidden-mobile">Previous</span>
              </a>
              <a id="next-dns-table-button" data-value="1" class="verify-hidden-while-loading button is-stylish is-small" title="Next Domain Name">
                <span class="is-hidden-mobile">Next</span>
                <div class="icon is-small"><i class="far fa-angle-right"></i></div>
              </a>
            </div>
          </div>
        </div>
        <div id="current-dns-tables">
          <table id="loading-dns-table" class="has-shadow table">
            <tbody>
              <tr class="no-hover-effect">
                <td class="has-text-centered">
                  <div class="nothing-exists-row has-text-centered">
                    <p class="icon is-medium"><i class="far fa-spin fa-sync-alt"></i></p>
                    <p>Now loading existing DNS records.</p>
                    <p>This may take some time.</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table id="current-dns-table-clone" class="has-shadow is-hidden table has-shadow no-border-bottom">
            <thead>
              <tr>
                <th class="table-header is-hidden-mobile" colspan=5></th>
                <th class="table-header is-hidden-tablet" colspan=4></th>
              </tr>
              <tr>
                <th>Required Action</th>
                <th class="td-dns-host">Host</th>
                <th class="td-record">Record</th>
                <th>Required Data</th>
                <th class="is-hidden-mobile">Current Data</th>
              </tr>
            </thead>
            <tbody class="dns-table-body">
              <tr class='doma-a-record needs-action-row no-hover-effect'>
                <td class="next_step is-danger"></td>
                <td class="td-dns-host">@</td>
                <td class="td-record">A</td>
                <td class='required_data'>208.68.37.82</td>
                <td class="existing_data is-hidden-mobile"></td>
              </tr>
              <tr class='doma-www-record needs-action-row no-hover-effect'>
                <td class="next_step is-danger"></td>
                <td class="td-dns-host">www</td>
                <td class="td-record">CNAME</td>
                <td class='required_data'>208.68.37.82</td>
                <td class="existing_data is-hidden-mobile"></td>
              </tr>
              <tr class='existing-dns-row needs-action-row no-hover-effect'>
                <td class="next_step is-danger"></td>
                <td class="td-dns-host">@</td>
                <td class="td-record">A</td>
                <td class='required_data'></td>
                <td class="existing_data is-hidden-mobile"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
