<!DOCTYPE html>

<html>

<head>
	<title>My Listings - DomaHub</title>
	<%- include("templates/head_links"); %>
	<link rel="stylesheet" href="/css/profile.css" type="text/css" />
</head>

<body>
	<%- include("templates/navbar", {user: user}); %>

	<div class="container clear-nav-profile">
		<div class="tabs is-centered">
			<ul>
				<li><a href="/profile/dashboard" tabindex="7">Dashboard</a></li>
				<li><a href="/profile/inbox" tabindex="8">Inbox</a></li>
				<li class="is-active"><a href="/profile/mylistings" tabindex="9">Listings</a></li>
				<li><a href="/profile/myrentals" tabindex="10">Rentals</a></li>
				<li><a href="/profile/settings" tabindex="11">Settings</a></li>
			</ul>
		</div>
	</div>

	<section class="section min-height">
		<div class="container">
			<div class="columns">
				<div class="column is-one-quarter">

					<nav class="panel is-hidden-mobile">
						<p class="panel-heading has-text-centered">
							Search and Filter
						</p>
						<a class="panel-search">
							<p class="control has-icon">
								<input id="search-domain" tabindex="12" class="input" type="text" placeholder="Search listings" />
								<i class="fa fa-search"></i>
							</p>
						</a>
						<div class="panel-list">
							<a class="panel-block" tabindex="13" href="#">
								<span class="panel-icon">
									<i class="fa fa-list-alt"></i>
								</span>
								Currently rented
							</a>
							<a class="panel-block" tabindex="14" href="#">
								<span class="panel-icon">
									<i class="fa fa-heart"></i>
								</span>
								Premium listings
							</a>
							<a class="panel-block" tabindex="15" href="#">
								<span class="panel-icon">
									<i class="fa fa-heart-o"></i>
								</span>
								Basic listings
							</a>
							<a class="panel-block" tabindex="16" href="#">
								<span class="panel-icon">
									<i class="fa fa-exclamation-circle"></i>
								</span>
								Unverified listings
							</a>
							<div class="panel-block has-button">
								<a class="button is-primary is-outlined is-fullwidth" tabindex="17">
									Reset all filters
								</a>
							</div>
						</div>
					</nav>

				</div>

				<div class="column is-three-quarters">

					<div id="no-rows" class="box has-text-centered is-hidden no-shadow radius-right-only">
						There are no listings!
					</div>

					<div class="rows-exist box no-shadow radius-right-only">

						<nav class="pagination margin-bottom-25">
							<a id="prev-page" class="button">Previous page</a>
							<a id="next-page" class="button">Next page</a>
							<ul id="page-list"></ul>
						</nav>

						<table class="table">
							<thead>
								<tr>
									<th class="td-arrow"></th>
									<th class="td-domain">
										Domain Name
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-type">
										Type
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-status">
										Status
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-date">
										Date Created
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-view"></th>
								</tr>
							</thead>
							<tbody id="table_body"></tbody>
						</table>

						<nav class="pagination-control">
							<div class="control is-horizontal">
								<div class="control-label">
									<label class="label">Show per page&#58</label>
								</div>
								<div class="control">
									<div class="select">
										<select id="domains-per-page">
											<option selected value="5">5</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
									</div>
								</div>
							</div>
							<div class="control">
								<p class="control has-addons has-addons-right">
									<input id="go-to-page-input" class="input" type="number" min="1" value="1" />
									<a id="go-to-page-button" class="button is-primary no-shadow">
										Go to page
									</a>
								</p>
							</div>
						</nav>


					</div>
				</div>

			</div>
		</div>
	</section>

	<%- include("templates/footer"); %>
	<%- include("../templates/js_scripts"); %>
	<script src="/js/lib/moment.min.js" type="text/javascript"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script type="text/javascript">
		var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
		var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
	</script>
	<script src="/js/routes/profile/profile_mylistings_logic.js" type="text/javascript"></script>
	<script src="/js/routes/profile/profile_pagination_logic.js" type="text/javascript"></script>
</body>

</html>
