
<div id="domain-editor" class="is-hidden">

  <!-- EDIT LISTING DETAILS -->
  <div id="editing-section" class="edit-elem non-offer-elem non-verify-elem">
    <!-- LISTING EDIT TOOLBAR -->
    <div id="edit-toolbar" class="edit-elem non-offer-elem non-verify-elem">

      <!-- CURRENT DOMAIN NAME -->
      <div class="content">
        <a class="show-selector-button button is-black is-transparent no-shadow" tabindex="0" title="Back To My Listings">
          <div class="icon is-small">
            <i class="far fa-long-arrow-left"></i>
          </div>
          <span>Go Back To Listings</span>
        </a>
      </div>
      <div class="control is-spaced">
        <div class="control-left content">
          <h2 class="title-wrapper is-bold">
            <span class="editor-title">My Offers</span>
            <span class="current-domain-name"></span>
          </h2>
        </div>
        <div class="control-right is-flex">
          <a id="status-toggle-button" tabindex="0" class="button control-item is-primary is-inverted is-stylish is-small" title="Publicly hide or show listing page(s).">
            <div id="status-icon" class="icon is-small"><i class="far fa-toggle-on"></i></div>
            <span id="status-text" class="is-hidden-mobile"></span>
          </a>
          <div id="view-listings-button-wrapper" class="control-item is-relative">
            <a id="view-listings-button" class="button is-stylish is-small" target="_blank" rel="noopener" tabindex="0">
              <div class="icon is-small"><i class="far fa-external-link"></i></div>
              <span class="is-hidden-mobile">View Page<span class="edit-domain-plural is-hidden">s</span></span>
            </a>
            <div id="view-listings-button-drop" class="box domain-tooltip is-hidden"></div>
          </div>
        </div>
      </div>

      <div class="tabs is-boxed">
        <ul>
          <li id="info-tab" class="verified-elem unpurchased-elem tab">
            <a tabindex="0" class="">
              <span class="">Listing Info</span>
            </a>
          </li>
          <li id="design-tab" class="verified-elem unpurchased-elem tab">
            <a tabindex="0" class="">
              <span class="">Listing Design</span>
              <% if (!user.stripe_subscription_id) { %>
                <span class="icon is-small"><i class="far fa-trophy-alt"></i></span>
              <% } %>
            </a>
          </li>
          <li id="domain-info-tab" class="verified-elem unpurchased-elem tab">
            <a tabindex="0" class="">
              <span class="">Domain Info</span>
            </a>
          </li>
          <li id="hub-tab" class="verified-elem unpurchased-elem tab">
            <a tabindex="0" class="">
              <span class="">Hub</span>
              <% if (!user.stripe_subscription_id) { %>
                <span class="icon is-small"><i class="far fa-trophy-alt"></i></span>
              <% } %>
            </a>
          </li>
          <div class="button-wrapper is-mobile control">
            <div class="control is-grouped">
              <div class="control is-marginless">
                <a id="save-changes-button" class="button is-primary is-stylish is-small is-hidden">
                  <div class="icon is-small"><i class="far fa-check-circle"></i></div>
                  <span>Save</span>
                </a>
              </div>
              <div class="control">
                <a id="cancel-changes-button" class="button is-danger is-stylish is-small is-hidden">
                  <div class="icon is-small"><i class="far fa-ban"></i></div>
                  <span>Cancel</span>
                </a>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div id="info-tab-drop" data-title="Edit Listing Information" class="tab-drop is-hidden">
      <div class="columns">
        <div class="column is-6">
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">Listing Details</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="description">
                  Listing Description
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="A good description helps your potential customers understand the value of your domain name." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Text description that will appear as a paragraph below the domain name on the listing page.</small>
                <textarea id="description" class="description-input textarea changeable-input"
                tabindex="0" data-name="description" placeholder="The greatest domain name to ever have existed. Buy it today and start investing in your next project or venture!"></textarea>
              </div>
              <div class="control">
                <label class="label" for="categories-input">
                  Categories
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Incorrect categories can lead to a poor user experience and hurt your domain brand by being associated with non-similar domains." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Categories or industries <span class="this-domain">this domain</span> belong to. Helpful for users to find similar domains.</small>
                <input id="categories-input" class="input changeable-input" data-name="categories" type="text">
                <div id="categories-dropdown" class="is-hidden">
                  <%# make all the categories %>
                  <% for (var x = 0; x < categories.length; x++){ %>
                    <div class="category-checkbox-wrapper">
                      <input type="checkbox" id="<%= categories[x].back %>-category-input" class="category-checkbox-input" value="<%= categories[x].back %>" />
                      <label for="<%= categories[x].back %>-category-input"><%= categories[x].front %></label>
                    </div>
                  <% } %>
                </div>
              </div>
              <div class="control">
                <label class="label" for="description-footer">
                  <span>Footer Description</span>
                  <% if (!user.stripe_subscription_id) { %>
                    <div class="icon is-small is-tooltip" data-balloon="Premium Feature" data-balloon-pos="up">
                      <i class="far fa-trophy-alt"></i>
                    </div>
                  <% } %>
                  <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Must be a maximum of 75 characters." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Text that is displayed on the footer of the listing page. An ideal location for a slogan, phrase, or trademark.</small>
                <input id="description-footer" data-name="description_footer" tabindex="0" class="premium-input input changeable-input" placeholder="The best domain names in the industry." />
                </div>
            </div>
          </div>
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">Pricing</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="min-price-input">
                  Minimum Price
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Must be a whole number. Leave blank or set to 0 for no minimum price." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">The minimum offer you will consider selling <span class="this-domain">this domain</span> for.</small>
                <input id="min-price-input" class="input changeable-input" data-name="min_price" type="number" min="1" step="1">
              </div>
              <div class="control">
                <label class="label" for="buy-price-input">
                  Buy It Now Price
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Must be a whole number. Leave blank or set to 0 to disable the buy-it-now option." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">The price you are willing to sell <span class="this-domain">this domain</span> for immediately.</small>
                <input id="buy-price-input" class="input changeable-input" data-name="buy_price" type="number" min="1" step="1">
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">Domain Rentals</h3>
              <a target="_blank" rel="noopener" href="/faq#renting" class="is-primary is-underlined">Why should I rent my domain out?</a>
            </div>
            <div class="card-content">
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label" for="rentable-input">
                    Allow Rentals
                  </label>
                  <small class="tip">Allows users to rent usage of <span class="this-domain">this domain</span> for short amounts of time.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="rentable-input" data-name="rentable" type="checkbox" class="checkbox-input changeable-input" tabindex="0" />
                    <label for="rentable-input"></label>
                  </form>
                </div>
              </div>
              <label class="label">
                Rental Price
                <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Must be a whole number. Leave blank or set to 0 for free rentals on your domain." data-balloon-pos="up">
                  <i class="far fa-question-circle"></i>
                </div>
              </label>
              <small class="tip">The price per unit of time for a domain rental.</small>
              <div class="control">
                <div class="control has-addons">
                  <input id="price-rate-input" data-name="price_rate" type="number" min="1" step="1" class="input changeable-input rentable-input" />
                  <span class="select is-stylish price-type-span no-shadow">
                    <select id="price-type-input" data-name="price_type" class="changeable-input rentable-input">
                      <option value="month">Month</option>
                      <option value="week">Week</option>
                      <option value="day">Day</option>
                    </select>
                  </span>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Example Paths</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Must consist of either letters or numbers." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Example paths or subdirectories that users may want to rent on <span class="this-domain">this domain</span>.</small>
                <input id="paths-input" data-name="paths" tabindex="0" class="is-hidden input rentable-input" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="design-tab-drop" data-title="Edit Listing Design" class="tab-drop is-relative is-hidden">
      <div id="premium-blackscreen-design" class="blackscreen">
        <div id="premium-only-notification" class="box is-medium">
          <div class="content has-text-centered">
            <p>
              A customized landing page helps to <strong>differentiate and legitimize your brand</strong> to customers. You must upgrade to a <a href="/features#pricing" class="is-underlined is-primary">Premium Account</a> to change the design of your listing page!
            </p>
            <div class="control is-grouped has-text-centered">
              <div class="control is-expanded">
                <a href="/profile/settings#premium" class="button is-fullwidth is-small is-primary is-stylish">
                  <div class="icon is-small">
                    <i class="far fa-trophy-alt"></i>
                  </div>
                  <span>Upgrade Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="example-wrapper" class="box preview-elem control has-border-bottom">
        <figure class="image has-shadow is-pulled-right">
          <img id="example-logo" src="" />
        </figure>
        <div class="control">
          <span id="example-buy-price-tag" class="tag is-stylish has-shadow is-primary is-medium preview-elem"></span>
          <span id="example-rent-price-tag" class="tag is-stylish has-shadow is-primary is-medium preview-elem"></span>
        </div>
        <div class="content">
          <h1 id="example-domain-name" class="preview-elem is-bold"></h1>
        </div>
        <div class="control">
          <p id="example-font" class="preview-elem is-black">This is a preview of your chosen design. Use the settings below to customize the listing page!</p>
        </div>
        <div class="button-wrapper is-mobile control">
          <a id="example-button-primary" class="preview-elem button is-stylish">
            <div class="icon is-small">
              <i class="far fa-check-circle" aria-hidden="true"></i>
            </div>
            <span>Send Offer</span>
          </a>
          <a id="example-button-accent" class="preview-elem button is-stylish">
            <div class="icon is-small">
              <i class="far fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <span>Buy Now</span>
          </a>
        </div>
        <div class="control">
          <a id="example-link-info" class="is-underlined preview-elem">This is a link on the listing page.</a>
        </div>
        <div id="example-footer-background" class="box">
          <span id="example-footer-text">This is some text on the footer of the listing page.</span>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">Fonts and Colors</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="random-button">Theme</label>
                <div class="control is-grouped">
                  <div class="control has-icon">
                    <span class="select no-shadow is-fullwidth is-stylish">
                      <select tabindex="0" id="theme-input" class="premium-input"></select>
                    </span>
                    <div class="icon">
                      <i class="far fa-image"></i>
                    </div>
                  </div>
                  <div class="control">
                    <a id="random-theme-button" class="premium-input no-shadow button is-stylish is-small">
                      <div class="icon is-small">
                        <i class="far fa-random"></i>
                      </div>
                      <span>Random Theme</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Color Scheme</span>
                </label>
                <small class="tip">The three main colors of the listing page.</small>
                <div class="control">
                  <input id="primary-color-input" data-name="primary_color" placeholder="#3CBC8D" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <input id="secondary-color-input" data-name="secondary_color" placeholder="#FF5722" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <input id="tertiary-color-input" data-name="tertiary_color" placeholder="#2196F3" type="text" class="premium-input input changeable-input">
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Font Styling</span>
                </label>
                <div class="control is-grouped">
                  <div class="control">
                    <input id="font-color-input" data-name="font_color" placeholder="#000000" type="text" class="premium-input input changeable-input">
                  </div>
                  <div class="control has-icon">
                    <span class="select no-shadow is-stylish is-fullwidth">
                      <select tabindex="0" data-name="font_name" id="font-name-input" class="premium-input changeable-input">
                        <%# make all the categories %>
                        <% for (var x = 0; x < fonts.length; x++){ %>
                          <option value="<%= fonts[x] %>"><%= fonts[x] %></option>
                        <% } %>
                      </select>
                    </span>
                    <div class="icon">
                      <i class="far fa-font"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Background Color</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The background image takes precedence over the background color. The background color will appear through any transparent layers in the background image." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <div class="control">
                  <input id="background-color-input" data-name="background_color" placeholder="#FFFFFF" type="text" class="premium-input input changeable-input">
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Footer Styling</span>
                </label>
                <small class="tip">The color of the footer background color and the color of the footer text.</small>
                <div class="control">
                  <input id="footer-background-color-input" data-name="footer_background_color" placeholder="#F1F1F1" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <input id="footer-color-input" data-name="footer_color" placeholder="#565656" type="text" class="premium-input input changeable-input">
                </div>
              </div>
            </div>
          </div>
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">Display Listing Information</h3>
            </div>
            <div class="card-content">
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Registrar Name</span>
                  </label>
                  <small class="tip">Displays the name of this domain name's registrar.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="show-registrar-input" data-name="show_registrar" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="show-registrar-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Registration Date</span>
                  </label>
                  <small class="tip">Displays the original registration date of <span class="this-domain">this domain</span>.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="show-registration-date-input" data-name="show_registration_date" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="show-registration-date-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Appraisal Sites</span>
                  </label>
                  <small class="tip">Displays links to various domain appraisal sites.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="show-appraisal-input" data-name="show_appraisal" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="show-appraisal-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Categories</span>
                  </label>
                  <small class="tip">Displays a list of your listing categories.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="show-categories-input" data-name="show_categories" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="show-categories-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Social Media Sharing Buttons</span>
                  </label>
                  <small class="tip">Displays buttons to share the listing on various social media sites.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="show-social-sharing-input" data-name="show_social_sharing" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="show-social-sharing-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">Images</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label">
                  <span>Background Image URL</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Dimensions can be whatever you wish, but keep in mind your customers will have different resolutions. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Choose an existing image on the web or upload your own image using the upload button.</small>
                <div class="control">
                  <input id="background-link-input" data-name="background_image_link" placeholder="http://link-to-image.com/background.png" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <button id="background-link-refresh" class='button no-shadow is-stylish is-small is-disabled is-outlined'>
                    <div class="icon is-small">
                      <i class="far fa-sync-alt"></i>
                    </div>
                    <span>Refresh Preview</span>
                  </button>
                  <form class="is-hidden drop-form-file" method="post" enctype="multipart/form-data">
                    <input tabindex="0" id="background-image-input" data-name="background_image" type="file" name="background_image" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
                  </form>
                  <label for="background-image-input" class="premium-input no-shadow button is-stylish is-small">
                    <div class="icon is-small">
                      <i class="far fa-upload" aria-hidden="true"></i>
                    </div>
                    <span data-default-name="Upload Background Image" id="background-image-label" class="file-label">Upload Image</span>
                  </label>
                </div>
              </div>
              <div class="control">
                <label class="label">
                  <span>Logo Image URL</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The logo will be utilized for email communications and branding. The ideal dimensions are 45 x 45 pixels. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <div class="control">
                  <input id="logo-link-input" data-name="logo_image_link" placeholder="http://link-to-image.com/logo.jpg" type="text" class="premium-input input changeable-input">
                </div>
                <div class="control">
                  <button id="logo-link-refresh" class='button no-shadow is-stylish is-small is-disabled is-outlined'>
                    <div class="icon is-small">
                      <i class="far fa-sync-alt"></i>
                    </div>
                    <span>Refresh Preview</span>
                  </button>
                  <form class="is-hidden drop-form-file" method="post" enctype="multipart/form-data">
                    <input tabindex="0" id="logo-image-input" data-name="logo" type="file" name="logo" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
                  </form>
                  <label for="logo-image-input" class="premium-input button no-shadow is-stylish is-small">
                    <div class="icon is-small">
                      <i class="far fa-upload" aria-hidden="true"></i>
                    </div>
                    <span data-default-name="Upload Logo" id="logo-image-label" class="file-label">Upload Logo</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">Content Design</h3>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="domain-name-input">
                  Domain Capitalization
                </label>
                <small id="domain-name-cap-missing" class="tip">Change the capitalization of your domain name to fit your custom domain branding.</small>
                <input id="domain-name-input" class="input premium-input changeable-input" data-name="domain_name" type="text">
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label" for="placeholder-input">
                    Placeholder Text
                    <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The placeholder text is a light-hearted way of letting your users know what information to put in what form." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Enables the movie-quote placeholder text on the listing page contact form.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="placeholder-input" data-name="show_placeholder" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="placeholder-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Traffic Graph</span>
                  </label>
                  <small class="tip">Displays a graph of the listing traffic.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="traffic-graph-input" data-name="show_traffic_graph" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="traffic-graph-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Alexa Statistics</span>
                  </label>
                  <small class="tip">Displays <a class="is-primary is-underlined" id="alexa_link">Alexa</a> traffic statistics.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="alexa-stats-input" data-name="show_alexa_stats" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="alexa-stats-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">Show History Ticker</label>
                  <small class="tip">Displays a table of recent activity - useful if you have rentals enabled.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="show-history-ticker-input" data-name="show_history_ticker" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="show-history-ticker-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    <span>Show Other Listings</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="There will be nothing to display if you do not have any active or unsold listings." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays a list of other <span class="is-bold">active</span> listings you own on DomaHub.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="domain-list-input" data-name="show_domain_list" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
                    <label for="domain-list-input" class="premium-input"></label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="domain-info-tab-drop" data-title="Edit Domain Information" class="tab-drop is-hidden">
      <div class="columns">
        <div class="column is-6">
          <div class="card is-fullwidth">
            <div class="card-header">
              <h3 class="card-header-title">
                Registrar Information
                <div class="icon is-danger is-small" data-balloon-length="large" data-balloon="Please note, changing this information does not change it on your registrar. It is for your information purposes only." data-balloon-pos="up">
                  <i class="far fa-exclamation-triangle"></i>
                </div>
              </h3>
              <a id="lookup-dns-button" class="button is-icon no-shadow is-stylish is-small">
                <span class="icon is-small"><i class="far fa-search"></i></span>
                <span>Lookup Missing Details</span>
              </a>
            </div>
            <div class="card-content">
              <div class="control">
                <div class="control">
                  <label class="label" for="registrar-name-input">
                    Registrar Name
                  </label>
                  <small class="tip">The registrar <span class="this-domain">this domain</span> is registered on.</small>
                  <input id="registrar-name-input" class="input changeable-input" data-name="registrar_name" type="text">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="date-expire-input">
                    Domain Registration Date
                  </label>
                  <small class="tip">When <span class="this-domain">this domain</span> was first registered with its registrar.</small>
                  <input id="date-registered-input" class="input changeable-input" data-name="date_registered" type="datetime-local">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="date-expire-input">
                    Domain Expiration Date
                  </label>
                  <small class="tip">When <span class="this-domain">this domain</span> will expire with its registrar.</small>
                  <input id="date-expire-input" class="input changeable-input" data-name="date_expire" type="datetime-local">
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    Edit Contact Details
                  </label>
                  <small class="tip">The various contact information for <span class="this-domain">this domain</span>.</small>
                </div>
                <div class="control-right has-text-right">
                  <span class="select no-shadow is-stylish">
                    <select id="edit-registrar-contact-button">
                      <option selected value="off" disabled>Click to edit contact details</option>
                      <option value="admin" data-text="Administrator">Edit Administrator</option>
                      <option value="registrant" data-text="Registrant">Edit Registrant</option>
                      <option value="tech" data-text="Tech">Edit Tech</option>
                    </select>
                  </span>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    Administrator Details
                  </label>
                </div>
                <div class="control-right has-text-right">
                  <small id="registrar-admin_name-doesnt-exist" class="tip">No details exist!</small>
                  <small class="tip break-all"><span id="registrar-admin_name-text" ></span><span id="registrar-admin_org-text"></span></small>
                  <small class="tip break-all"><span id="registrar-admin_email-text" ></span><span id="registrar-admin_phone-text"></span></small>
                  <small class="tip break-all" id="registrar-admin_address-text"></small>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    Registrant Details
                  </label>
                </div>
                <div class="control-right has-text-right">
                  <small id="registrar-registrant_name-doesnt-exist" class="tip">No details exist!</small>
                  <small class="tip break-all"><span id="registrar-registrant_name-text" ></span><span id="registrar-registrant_org-text"></span></small>
                  <small class="tip break-all"><span id="registrar-registrant_email-text" ></span><span id="registrar-registrant_phone-text"></span></small>
                  <small class="tip break-all" id="registrar-registrant_address-text"></small>
                </div>
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label">
                    Tech Details
                  </label>
                </div>
                <div class="control-right has-text-right">
                  <small id="registrar-tech_name-doesnt-exist" class="tip">No details exist!</small>
                  <small class="tip break-all"><span id="registrar-tech_name-text" ></span><span id="registrar-tech_org-text"></span></small>
                  <small class="tip break-all"><span id="registrar-tech_email-text" ></span><span id="registrar-tech_phone-text"></span></small>
                  <small class="tip break-all" id="registrar-tech_address-text"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="card is-fullwidth">
            <div class="card-header is-block">
              <h3 class="card-header-title">
                Domain Expenses
              </h3>
              <small class="tip">Any costs, expenses, or invoices related to <span class="this-domain">this domain</span>.</small>
            </div>
            <div class="card-content">
              <div class="control">
                <label class="label" for="annual-cost-input">
                  Annual Renewal Cost
                </label>
                <small class="tip">How much it costs per year to renew <span class="this-domain">this domain</span> with your registrar.</small>
                <input id="annual-cost-input" class="input changeable-input" data-name="registrar_cost" type="number" min="1" step="1">
              </div>
              <div id="related-expenses-wrapper" class="remove-margin-bottom-content control is-spaced">
                <div class="control-left">
                  <label class="label">
                    Related Expenses
                    <div class="icon is-tooltip is-small" data-balloon-length="large" data-balloon="For example, any after-market fees, expenses for advertisements, or payments for domain-related services." data-balloon-pos="up">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Any expenses incurred related to <span class="this-domain">this domain</span>.</small>
                </div>
                <div class="control-right has-text-right">
                  <a id="add-new-expense-button" tabindex="0" class='button no-shadow is-stylish is-small'>
                    <div class="icon is-small"><i class="far fa-plus"></i></div>
                    <span>Add New Expense</span>
                  </a>
                </div>
              </div>
              <div id="domain-expense-table-wrapper" class="is-hidden control">

                <table class="table no-borders is-transparent-head no-shadow">
                  <tbody id="domain-expense-table">
                    <tr id="domain-expense-clone" class="is-hidden table-row no-hover-effect">
                      <td class="domain-expense-name break-word"></td>
                      <td class="domain-expense-cost"></td>
                      <td class="domain-expense-date"></td>
                      <td class="expense-button-wrapper">
                        <a tabindex="0" class='domain-expense-delete-button button no-shadow is-stylish is-small'>
                          <div class="icon is-small"><i class="far fa-trash"></i></div>
                          <span class="is-hidden-mobile">Delete</span>
                        </a>
                      </td>
                      <td class="expense-button-wrapper">
                        <a tabindex="0" class='domain-expense-edit-button button no-shadow is-stylish is-small'>
                          <div class="icon is-small"><i class="far fa-edit"></i></div>
                          <span class="is-hidden-mobile">Edit</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- REGISTRAR CONTACT MODAL -->
      <div id="registrar-contact-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-container">
          <div class="modal-content is-small">
            <div class="content has-text-centered">
              <h3 class="is-bold">Domain <span class="registrar-which-text"></span> Details
                <div class="icon is-danger is-small" data-balloon-length="large" data-balloon="Please note, changing this information does not change it on your registrar. It is for your information purposes only." data-balloon-pos="up">
                  <i class="far fa-exclamation-triangle"></i>
                </div>
              </h3>
            </div>
            <div class="content">
              <div class="control">
                <div class="control">
                  <label class="label" for="registrar-contact-name-input">
                    <span class="registrar-which-text"></span> Name
                  </label>
                  <input id="registrar-contact-name-input" class="registrar-modal-input input changeable-input" data-name="registrar_contact_name" type="text">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="registrar-contact-org-input">
                    <span class="registrar-which-text"></span> Organization
                  </label>
                  <input id="registrar-contact-org-input" class="registrar-modal-input input" data-name="registrar_contact_org" type="text">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="registrar-contact-email-input">
                    <span class="registrar-which-text"></span> Email
                  </label>
                  <input id="registrar-contact-email-input" class="registrar-modal-input input" data-name="registrar_contact_email" type="text">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="registrar-contact-address-input">
                    <span class="registrar-which-text"></span> Address
                  </label>
                  <input id="registrar-contact-address-input" class="registrar-modal-input input" data-name="registrar_contact_address" type="text">
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="registrar-admin-phone-input">
                    <span class="registrar-which-text"></span> Phone
                  </label>
                  <input id="registrar-contact-phone-input" class="registrar-modal-input input" data-name="registrar_contact_phone" type="text">
                </div>
              </div>
              <div class="control is-grouped is-grouped-center">
                <div class="control is-expanded">
                  <a id="save-registrar-contact-button" tabindex="0" class='button is-fullwidth is-stylish is-small is-primary'>
                    <div class="icon is-small"><i class="far fa-check"></i></div>
                    <span>Save Changes</span>
                  </a>
                </div>
                <div class="control is-expanded">
                  <a id="cancel-registrar-contact-button" tabindex="0" class='button is-fullwidth is-stylish is-small is-outlined is-danger'>
                    <div class="icon is-small"><i class="far fa-times"></i></div>
                    <span>Cancel Changes</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close"></button>
      </div>

      <!-- DOMAIN EXPENSE MODAL -->
      <div id="domain-expense-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-container">
          <div class="modal-content is-small">
            <div class="content has-text-centered">
              <h3 class="is-bold"><span id="how-change-domain-expense"></span>Domain Expense</h3>
            </div>
            <div class="content">
              <form id="domain-expense-form">
                <div class="control">
                  <div class="control">
                    <label class="label" for="domain-expense-name-input">
                      Expense Name
                    </label>
                    <input required id="domain-expense-name-input" class="input domain-expense-input" data-name="domain_expense_name" type="text">
                  </div>
                </div>
                <div class="control">
                  <div class="control">
                    <label class="label" for="domain-expense-cost-input">
                      Expense Cost
                    </label>
                    <input required id="domain-expense-cost-input" class="input domain-expense-input" data-name="domain_expense_cost" type="number" min="1" step=".01">
                  </div>
                </div>
                <div class="control">
                  <div class="control">
                    <label class="label" for="domain-expense-date-input">
                      Expense Date
                    </label>
                    <input required id="domain-expense-date-input" class="input domain-expense-input" data-name="domain_expense_date" type="datetime-local">
                  </div>
                </div>
                <div class="control is-grouped is-grouped-center">
                  <div class="control is-expanded">
                    <button id="save-expense-button" type="submit" text="Save" form="domain-expense-form" tabindex="0" class='button is-fullwidth is-stylish is-small is-primary'>
                      <div class="icon is-small"><i class="far fa-check"></i></div>
                      <span>Save</span>
                    </button>
                  </div>
                  <div class="control is-expanded">
                    <a tabindex="0" class='cancel-expense-button button is-fullwidth is-stylish is-small is-outlined is-danger'>
                      <div class="icon is-small"><i class="far fa-times"></i></div>
                      <span>Cancel</span>
                    </a>
                  </div>
                </div>
            </form>
            </div>
          </div>
        </div>
        <button class="modal-close"></button>
      </div>

      <!-- DOMAIN EXPENSE DELETE MODAL -->
      <div id="domain-expense-delete-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-container">
          <div class="modal-content is-small">
            <div class="content">
              <div class="notification no-shadow has-icon is-danger">
                <div class="icon-box">
                  <div class="icon is-white">
                    <i class="far fa-exclamation-triangle"></i>
                  </div>
                </div>
                <div class="content">
                  <p class="is-white">Are you sure you want to delete the following domain expense for <span class="this-domain">this domain</span>?</p>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="control">
                <div class="control">
                  <label class="label" for="domain-expense-name-input">
                    <span class="is-bold">Expense Name</span>
                    <span id="domain-expense-name-delete-text" class="is-pulled-right break-all"></span>
                  </label>
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="domain-expense-cost-input">
                    <span class="is-bold">Expense Cost</span>
                    <span id="domain-expense-cost-delete-text" class="is-pulled-right break-all"></span>
                  </label>
                </div>
              </div>
              <div class="control">
                <div class="control">
                  <label class="label" for="domain-expense-date-input">
                    <span class="is-bold">Expense Date</span>
                    <span id="domain-expense-date-delete-text" class="is-pulled-right break-all"></span>
                  </label>
                </div>
              </div>
              <div class="control is-grouped is-grouped-center">
                <div class="control is-expanded">
                  <a id="delete-domain-expense-button" tabindex="0" class='button is-fullwidth is-stylish is-small is-danger'>
                    <div class="icon is-small"><i class="far fa-trash"></i></div>
                    <span>Delete</span>
                  </a>
                </div>
                <div class="control is-expanded">
                  <a tabindex="0" class='cancel-expense-button button is-fullwidth is-stylish is-small is-outlined no-shadow'>
                    <div class="icon is-small"><i class="far fa-times"></i></div>
                    <span>Nevermind</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close"></button>
      </div>

    </div>
    <div id="hub-tab-drop" data-title="Edit Listing Hub Details" class="tab-drop is-relative is-hidden">
      <div id="premium-blackscreen-hub" class="blackscreen">
        <div id="premium-only-notification" class="box is-medium">
          <div class="content has-text-centered">
            <p>
              A listing hub is a single landing page that <strong>showcases your entire portfolio</strong> of domain names. You must upgrade to a <a href="/features#pricing" class="is-underlined is-primary">Premium Account</a> to create and manage listing hubs.
            </p>
            <div class="control has-text-centered is-grouped">
              <div class="control is-expanded">
                <a href="/profile/settings#premium" class="button is-small is-fullwidth is-primary is-stylish">
                  <div class="icon is-small">
                    <i class="far fa-trophy-alt"></i>
                  </div>
                  <span>Upgrade Now</span>
                </a>
              </div>
              <div class="control is-expanded">
                <a href="" class="button is-small is-fullwidth is-accent is-stylish">
                  <div class="icon is-small">
                    <i class="far fa-eye"></i>
                  </div>
                  <span>See An Example</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="card is-fullwidth tile is-child">
            <div class="card-header">
              <h3 class="card-header-title">
                Listing Hub Details
              </h3>
            </div>
            <div class="card-content">
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label" for="hub-input">
                    <span>Enable Hub</span>
                  </label>
                  <small class="tip">Changes this listing into a domain hub for displaying multiple domain names.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="hub-input" data-name="hub" type="checkbox" class="hub-input checkbox-input changeable-input" tabindex="0" />
                    <label for="hub-input"></label>
                  </form>
                </div>
              </div>
              <div class="control">
                <label class="label" for="hub-title-input">
                  <span>Hub Name</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Must be a maximum of 75 characters." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Main text that will appear as the page title and at the top of your listings hub.</small>
                <input id="hub-title-input" data-name="hub_title" tabindex="0" class="hub-input input changeable-input" placeholder="Welcome to my domain hub!" />
              </div>
              <div class="control is-spaced">
                <div class="control-left">
                  <label class="label" for="hub-email-input">
                    <span>Display email</span>
                    <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Uses the same email as your DomaHub email." data-balloon-pos="top">
                      <i class="far fa-question-circle"></i>
                    </div>
                  </label>
                  <small class="tip">Displays your email address at the top of the page.</small>
                </div>
                <div class="control-right">
                  <form class="checkbox-form">
                    <input id="hub-email-input" data-name="hub_email" type="checkbox" class="hub-input checkbox-input changeable-input" tabindex="0" />
                    <label for="hub-email-input"></label>
                  </form>
                </div>
              </div>
              <div class="control">
                <label class="label" for="hub-phone-input">
                  <span>Phone Number</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Leave blank for no phone number." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">Displays a phone number at the top of the page.</small>
                <div class="control">
                  <input id="hub-phone-input" data-name="hub_phone" class="hub-input input changeable-input" />
                </div>
              </div>
              <div class="control">
                <label class="label" for="hub-layout-count-input">
                  <span>Default Layout</span>
                  <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Must be a whole number greater than 10. There are 4 columns per row in the grid layout." data-balloon-pos="top">
                    <i class="far fa-question-circle"></i>
                  </div>
                </label>
                <small class="tip">The number of domains shown in either a tiled or table layout.</small>
                <div class="control has-addons">
                  <input id="hub-layout-count-input" data-name="hub_layout_count" placeholder="10" type="number" min="10" step="1" class="input changeable-input premium-input hub-input" />
                  <span class="select is-stylish no-shadow">
                    <select id="hub-layout-type-input" data-name="hub_layout_type" class="hub-input changeable-input">
                      <option value="0">Table</option>
                      <option value="1">Tiled</option>
                    </select>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="card is-fullwidth tile is-child">
            <div class="card-header is-block">
              <h3 class="card-header-title">Domain List Order</h3>
              <small class="tip">Change the default order of domains that belong to this listing hub.</small>
            </div>
            <div class="card-content">
              <div id="sortable-clone" class="is-hidden">
                <div class="control is-grouped hub-domain-wrapper">
                  <div class="icon divider-right is-small is-black">
                    <i class="far fa-bars"></i>
                  </div>
                  <div class="domain_name divider-right"></div>
                  <div class="categories"></div>
                </div>
              </div>
              <input id="hub-listing-ids-input" data-name="hub_listing_ids" type="hidden" class="input changeable-input premium-input hub-input" />
              <div id="sortable-wrapper">
              </div>
              <div id="no-domains-in-hub" class="is-hidden has-text-centered">
                <div class="control has-text-centered">
                  <div class="icon is-large is-primary">
                    <i class="far fa-exclamation-circle"></i>
                  </div>
                </div>
                <p class="control has-text-centered">
                  You have no domains in this listing hub!
                </p>
                <p class="control has-text-centered">
                  Click the button below to go back and add some domains.
                </p>
                <a class="show-selector-button is-stylish is-small button no-shadow" tabindex="0" title="Back To Domain Selector">
                  <div class="icon is-small">
                    <i class="far fa-long-arrow-left"></i>
                  </div>
                  <span>Go Back To My Listings</span>
                </a>
              </div>
              <div id="multiple-edit-hub" class="is-hidden has-text-centered">
                <div class="control has-text-centered">
                  <div class="icon is-large is-primary">
                    <i class="far fa-exclamation-circle"></i>
                  </div>
                </div>
                <p class="control has-text-centered">
                  You cannot edit or change the domain list order for multiple hubs at the same time.
                </p>
                <p class="control has-text-centered">
                  Click the button below to go back and select a single listing hub to edit.
                </p>
                <a class="show-selector-button is-stylish is-small button no-shadow" tabindex="0" title="Back To Domain Selector">
                  <div class="icon is-small">
                    <i class="far fa-long-arrow-left"></i>
                  </div>
                  <span>Go Back To My Listings</span>
                </a>
              </div>
              <div id="not-a-hub" class="is-hidden has-text-centered">
                <div class="control has-text-centered">
                  <div class="icon is-large is-primary">
                    <i class="far fa-exclamation-circle"></i>
                  </div>
                </div>
                <p class="control has-text-centered">
                  This domain is not enabled as a listing hub!
                </p>
                <p class="control has-text-centered">
                  You must first change this domain listing into a hub before you can add other domains to it.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- OFFERS -->
  <div id="offers-section" class="offer-elem non-edit-elem non-verify-elem is-hidden">
    <div class="content">
      <a class="show-selector-button button is-black is-transparent no-shadow" tabindex="0" title="Back To Domain Selector">
        <div class="icon is-small">
          <i class="far fa-long-arrow-left"></i>
        </div>
        <span>Go Back To Listings</span>
      </a>
    </div>
    <div class="control">
      <div class="content">
        <h2 class="title-wrapper is-bold">
          <span class="editor-title">My Offers</span>
          <span class="current-domain-name"></span>
        </h2>
      </div>
      <div id="offers-toolbar">
        <div class="offer-button control is-grouped">
          <div class="control">
            <a id="refresh-offers-button" class="is-hidden button is-stylish is-small" title="Refresh Offers">
              <div class="icon is-small"><i class="far fa-sync-alt"></i></div>
              <span class="is-hidden-mobile">Refresh Offers</span>
            </a>
          </div>
          <div class="control">
            <a id="show-rejected-offers" title="Show Rejected Offers" class="button is-stylish is-small">
              <div class="icon is-small"><i class="far fa-toggle-off"></i></div>
              <span class="is-hidden-mobile">Show Rejected</span>
            </a>
          </div>
          <div class="control has-icon is-expanded">
            <div class="icon">
              <i class="far fa-search"></i>
            </div>
            <input id="offer-search" tabindex="0" class="input is-stylish has-shadow" type="text" placeholder="Search Offers" />
          </div>
        </div>
      </div>
    </div>

    <!-- OFFER ACCEPT / DEPOSIT BOXES -->
    <div id="accepted-offer" class="whats-next-offer control is-hidden">
      <div class="box no-shadow no-border content">
        <h3 class="is-bold">
          I accepted the offer--what's next?
        </h3>
        <p>
          The buyer has been sent an email with instructions on completing payment.
          Once the payment has been verified, you will need to manually transfer the ownership of <span class="this-domain">this domain</span> to him/her.
          If you do not know how to manually transfer a domain, please refer to our <a target="_blank" href="/faq#transferguide" class="is-primary is-underlined">Domain Transfer Guide</a>.
        </p>
        <p>
          If you have changed your mind about this offer, please <a href="/contact" class="is-primary is-underlined">let us know</a>.
        </p>
        <p class="is-bold">
          There is no required action on your part just yet. Hold tight, we are getting you your money.
        </p>
      </div>
      <p class="resend-wrapper">
        <a class="button is-stylish is-small resend-offer-email-button">
          <div class="icon is-small"><i class="far fa-repeat"></i></div>
          <span>Re-send Payment Email</span>
        </a>
      </p>
    </div>
    <div id="deposited-offer" class="whats-next-offer control is-hidden">
      <div class="box no-shadow no-border content">
        <h3 class="is-bold">
          Congratulations on selling your domain!
        </h3>
        <p>
          The money has been deposited and verified by DomaHub. You must now transfer the ownership of <span class="this-domain">this domain</span> to the new owner.
          Once the new owner has verified that the ownership has been transferred over, the money will become available for withdrawal.
          If you do not know how to manually transfer a domain, please refer to our <a target="_blank" href="https://medium.com/@domahub/how-to-transfer-your-domain-9d3f93070292" class="is-primary is-underlined">Domain Transfer Guide</a>.
        </p>
        <p>
          <span class="this-domain">this domain</span> must be transferred by <span id="deposited-deadline" class="is-bold"></span>. Otherwise your account will be flagged for review.
        </p>
        <p class="is-bold">
          Failure to transfer ownership of the domain within the next 14 days will result in the money being refunded.
        </p>
        <p>
          Having issues? <a class="is-primary is-underlined contact-link" href="/contact">Contact us</a> for assistance.
        </p>

      </div>
      <div class="resend-wrapper">
        <a class="button is-stylish is-small resend-offer-email-button">
          <div class="icon is-small"><i class="far fa-repeat"></i></div>
          <span>Re-send Verification Email</span></a>
        </a>
      </div>
    </div>
    <div id="transferred-offer" class="whats-next-offer control is-hidden">
      <div class="box no-shadow no-border content">
        <h3 class="is-bold">
          Congratulations on selling your domain!
        </h3>
        <p>
          The money has been deposited and verified by DomaHub. You can see your earnings on your <a class="is-primary is-underlined contact-link" href="/settings#transactions">Account Settings transactions</a> page.
        </p>
        <p>
          Have questions about this transaction? <a class="is-primary is-underlined contact-link" href="/contact">Contact us</a> for assistance.
        </p>
      </div>
    </div>

    <!-- OFFER MODAL -->
    <div id="offer-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-container">
        <div class="modal-content is-small">
          <div class="content has-text-centered">
            <h3 class="is-bold" id="offer-modal-domain"></h3>
            <p>Received on <span id="offer-modal-timestamp"></span></p>
          </div>
          <div class="content">
            <h1 id="offer-modal-price" class="has-text-centered"></h1>
          </div>
          <div class="content">
            <ul id="offer-info" class="is-vertical offer-info">
              <li>
                <div class="icon is-small" title="From">
                  <i class="far fa-user-alt fa-fw"></i></span>
                </div>
                <span id="offer-modal-name">
              </li>
              <li>
                <div class="icon is-small" title="Email">
                  <i class="far fa-envelope fa-fw"></i></span>
                </div>
                <span id="offer-modal-email">
              </li>
              <li>
                <div class="icon is-small" title="Phone">
                  <i class="far fa-phone fa-fw"></i></span>
                </div>
                <span id="offer-modal-phone">
              </li>
              <li>
                <div class="icon is-small" title="Message">
                  <i class="far fa-comment fa-fw"></i>
                </div>
                <p id="offer-modal-message" class="offer-msg"></p>
              </li>
            </ul>
          </div>
          <div id="offer-response-label" class="content is-hidden">
            <p>
              Your response:
            </p>
          </div>
          <div id="offer-response-wrapper" class="content">
            <textarea id="offer-response" placeholder="You may include an optional response to the offerer." class='textarea'></textarea>
          </div>
          <div id="offer-modal-button-wrapper" class="control is-grouped is-grouped-center">
            <div class="control is-expanded">
              <a id="accept_button" tabindex="0" class='button is-fullwidth is-stylish is-small is-primary '>
                <div class="icon is-small"><i class="far fa-check"></i></div>
                <span>Accept offer</span>
              </a>
            </div>
            <div class="control is-expanded">
              <a id="reject_button" tabindex="0" class='button is-fullwidth is-stylish is-small is-outlined is-danger'>
                <div class="icon is-small"><i class="far fa-times"></i></div>
                <span>Reject offer</span>
              </a>
            </div>
          </div>
          <div class="content">
            <a id="offer-modal-whats-next" tabindex="0" class='is-underlined is-primary'>
              <span>What do I need to do next?</span>
            </a>
          </div>
        </div>
      </div>
      <button class="modal-close"></button>
    </div>

    <!-- OFFER TABLE -->
    <table id="no-verified-listings-table" class="is-hidden has-shadow table is-fixed is-bordered">
      <tbody>
        <tr class="no-hover-effect">
          <td colspan="5">
            <div class="nothing-exists-row has-text-centered">
              <div class="offer-table-no-listings is-hidden">
                <div class="icon is-large is-primary">
                  <i class="far fa-exclamation-circle"></i>
                </div>
                <p class="control has-text-centered">
                  You need listings before you can get offers! Let's go make some!
                </p>
                <a class="button is-primary is-stylish" href="/listings/create">
                  <div class="icon is-small">
                    <i class="far fa-plus"></i>
                  </div>
                  <span>Create New Listings</span>
                </a>
              </div>
              <div class="offer-table-no-verified content has-text-centered is-hidden">
                <div class="icon is-large is-primary">
                  <i class="far fa-exclamation-circle"></i>
                </div>
                <p>
                  You must verify your domains before you can receive offers!
                </p>
                <a class="button is-primary is-stylish" href="/profile/mylistings?tab=verify">
                  <div class="icon">
                    <i class="far fa-check-circle"></i>
                  </div>
                  <span>Verify Domains</span>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table id="no-offers-table" class="hidden-while-loading-offers has-shadow is-hidden table is-fixed is-bordered">
      <tbody>
        <tr class="no-hover-effect">
          <td colspan="5">
            <div class="nothing-exists-row has-text-centered">
              <div class="icon is-large is-danger">
                <i class="far fa-exclamation-circle"></i>
              </div>
              <p>Oh, no! There are no existing/matching offers!</p>
              <p>Let's go out there and get some offers!</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table id="loading-offers-table" class="is-hidden has-shadow table is-fixed is-bordered">
      <tbody>
        <tr class="no-hover-effect">
          <td colspan="5">
            <div class="nothing-exists-row has-text-centered">
              <p class="icon is-medium"><i class="far fa-spin fa-sync-alt"></i></p>
              <p>Now loading domain offers.</p>
              <p>This may take some time.</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table id="offers-table" class="is-hidden has-shadow has-shadow hidden-while-loading-offers table is-fixed is-bordered">
      <thead class="has-hover-effect">
        <tr>
          <th class="offer-header-sort" data-value="domain_name">
            <span>Domain Name</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort" data-value="offer">
            <span>Offer</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort" data-value="accepted">
            <span>Status</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort is-hidden-mobile" data-value="timestamp">
            <span>Date</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
          <th class="offer-header-sort is-hidden-456px" data-value="name">
            <span>Name</span>
            <div class="icon is-small"><i class="far fa-sort"></i></div>
          </th>
        </tr>
      </thead>
      <tbody id="offers-wrapper">
        <tr id="offer-clone" class="offer-row has-hover-effect is-hidden">
          <td>
            <span class="td-offer-domain break-all"></span>
            <div class="icon is-tooltip is-inline is-small" data-balloon-length="medium" data-balloon="Click on this offer to view more details or respond to it." data-balloon-pos="right">
              <i class="far fa-question-circle"></i>
            </div>
          </td>
          <td class="td-offer-offer"></td>
          <td class="td-offer-status"></td>
          <td class="td-offer-timestamp is-hidden-mobile"></td>
          <td class="td-offer-name is-hidden-456px"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- STATS -->
  <div id="stats-section" class="is-hidden">
    <div id="loading-stats" class="content">
      <p>
        <div class="icon is-small"><i class="far fa-spin fa-refresh"></i></div>
        <span>Now loading listing statistics...</span>
      </p>
    </div>
    <div id="no-stats" class="content is-hidden">
      <p>
        There is no activity on <span class="this-domain">this domain</span> yet. Need some tips? Check out our <a href="/faq" class="is-primary is-underlined">FAQ</a>.
      </p>
    </div>
    <div class='stats-loading control'>
      <div class="content">
        <p>
          Unique Referers
          <div class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="What website your users are coming from (where they are being referred from)." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </div>
        </p>
        <div class="chart-min-height">
          <canvas id="referer-chart"></canvas>
        </div>
      </div>
      <div class="content">
        <p>
          Traffic
        </p>
        <div class="chart-min-height">
          <canvas id="traffic-chart"></canvas>
        </div>
      </div>
      <div class="content">
        <p>
          Is there a specific statistic you would like to see for your domains? Please <a class="is-primary is-underlined" href="/contact">let us know</a>!
        </p>
      </div>
    </div>
  </div>

  <!-- VERIFICATION -->
  <div id="verify-section" class="verify-elem non-offer-elem non-edit-elem is-hidden">

    <div class="content">
      <a class="show-selector-button button is-black is-transparent no-shadow" tabindex="0" title="Back To Domain Selector">
        <div class="icon is-small">
          <i class="far fa-long-arrow-left"></i>
        </div>
        <span>Go Back To Listings</span>
      </a>
    </div>
    <div class="content">
      <h2 class="title-wrapper is-bold">
        <span class="editor-title"></span>
        <span class="current-domain-name"></span>
      </h2>
    </div>

    <div class="columns">
      <div class="column is-narrow">
        <div class="card is-fullwidth-mobile">
          <div class="card-image">
            <div id="verification-left" class="notification no-shadow has-icon is-lighter">
              <div class="icon-box">
                <div id="verification-left-load" class="icon">
                  <i class="far fa-spin fa-sync-alt"></i>
                </div>
                <div id="verification-left-danger" class="icon is-white">
                  <i class="far fa-exclamation-triangle"></i>
                </div>
                <div id="verification-left-success" class="icon is-white">
                  <i class="far fa-thumbs-up"></i>
                </div>
              </div>
              <div class="content">
                <p id="verification-left-text" class="is-white"></p>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="content">
              <p>
                This table details the DNS entries that are needed to verify <span class="verification-domains-plural"></span>.
              </p>
              <p>
                Please note that DNS changes can take up to 72 hours to take effect.
              </p>
              <small>
                If you require any assistance, please refer to our <a tabindex="0" target="_blank" class="is-primary is-underlined" href="https://medium.com/domahub/how-to-verify-domains-on-domahub-7d526c4ce6d"> step-by-step guide</a>.
              </small>
            </div>
          </div>

        </div>
      </div>
      <div class="column">
        <div class="content">
          <div class="control is-grouped">
            <div class="control button-wrapper is-mobile">
              <a id="refresh-dns-button" class="button is-stylish is-small" title="Refresh DNS Table">
                <div class="icon is-small"><i class="far fa-sync-alt"></i></div>
                <span>Refresh Table<span class="verification-plural"></span></span>
              </a>
              <a id="verify-button" class="verify-hidden-while-loading button is-stylish is-small is-primary is-hidden" title="Verify domain(s)">
                <div class="icon is-small"><i class="far fa-check-circle"></i></div>
                <span>Verify Now</span>
              </a>
              <a id="prev-dns-table-button" data-value="-1" class="verify-hidden-while-loading button is-stylish is-small" title="Previous Domain Name">
                <div class="icon is-small"><i class="far fa-angle-left"></i></div>
                <span class="is-hidden-mobile">Previous</span>
              </a>
              <a id="next-dns-table-button" data-value="1" class="verify-hidden-while-loading button is-stylish is-small" title="Next Domain Name">
                <span class="is-hidden-mobile">Next</span>
                <div class="icon is-small"><i class="far fa-angle-right"></i></div>
              </a>
            </div>
          </div>
        </div>
        <div id="current-dns-tables">
          <table id="loading-dns-table" class="has-shadow table">
            <tbody>
              <tr class="no-hover-effect">
                <td class="has-text-centered">
                  <div class="nothing-exists-row has-text-centered">
                    <p class="icon is-medium"><i class="far fa-spin fa-sync-alt"></i></p>
                    <p>Now loading existing DNS records.</p>
                    <p>This may take some time.</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table id="current-dns-table-clone" class="has-shadow is-hidden table has-shadow no-border-bottom">
            <thead>
              <tr>
                <th class="table-header is-hidden-mobile" colspan=5></th>
                <th class="table-header is-hidden-tablet" colspan=4></th>
              </tr>
              <tr>
                <th>Required Action</th>
                <th class="td-dns-host">Host</th>
                <th class="td-record">Record</th>
                <th>
                  Required Data
                  <div class="icon is-small is-danger" data-balloon-length="large" data-balloon="If your registrar doesn't let you input '@' as the required data, try entering in your domain name." data-balloon-pos="top">
                    <i class="far fa-exclamation-circle"></i>
                  </div>
                </th>
                <th class="is-hidden-mobile">Current Data</th>
              </tr>
            </thead>
            <tbody class="dns-table-body">
              <tr class='doma-a-record needs-action-row no-hover-effect'>
                <td class="next_step is-danger"></td>
                <td class="td-dns-host">@</td>
                <td class="td-record">A</td>
                <td class='required_data'>208.68.37.82</td>
                <td class="existing_data is-hidden-mobile"></td>
              </tr>
              <tr class='doma-www-record needs-action-row no-hover-effect'>
                <td class="next_step is-danger"></td>
                <td class="td-dns-host">www</td>
                <td class="td-record">CNAME</td>
                <td class='required_data'>
                  <span>@</span>
                </td>
                <td class="existing_data is-hidden-mobile"></td>
              </tr>
              <tr class='existing-dns-row needs-action-row no-hover-effect'>
                <td class="next_step is-danger"></td>
                <td class="td-dns-host">@</td>
                <td class="td-record">A</td>
                <td class='required_data'></td>
                <td class="existing_data is-hidden-mobile"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
