<!DOCTYPE html>

<html>

<head>
  <title>Dashboard - DomaHub</title>
  <link rel="stylesheet" href="/css/min/profile_dashboard.min.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("profile_nav.ejs"); %>

  <section class="section is-fullscreen">
    <div class="wrapper">

      <%- include("profile_left_menu.ejs"); %>

      <div class="right-content">
        <div class="content">
          <h2 class="is-bold">Dashboard</h2>
          <p>
            Welcome <%= user.username %>!
          </p>
        </div>
        <div class="columns">
					<div class="column is-7">
						<div class="card is-fullwidth">
							<div class="card-header">
								<h3 class="card-header-title">Portfolio Overview</h3>
							</div>
							<div class="card-content">
								<div class="level is-mobile">
									<div class="level-item has-text-centered">
										<div class="content">
											<small class="heading">
												Total
											</small>
                      <h1 class="counter">
                        <% if (user.listings.length > 0){ %>
                          <div>
                            <a tabindex="0" href="/profile/mylistings" class="counter-link" title="View Domains"><%= user.listings.length %></a>
                          </div>
                        <% } else { %>
                          <a tabindex="0" href="/listings/create" class="counter-link" title="View Domains"><%= user.listings.length %></a>
                        <% } %>
                      </h1>
										</div>
									</div>
									<div class="level-item has-text-centered">
										<div class="content">
											<small class="heading">
												Offers
											</small>
											<h1 class="counter">
                        <div>
                          <a id="offers-counter" tabindex="0" href="/profile/mylistings?tab=offers" class="counter-link" title="View Offers"></a>
                        </div>
                      </h1>
                    </div>
									</div>
                  <div class="level-item has-text-centered">
                    <div class="content">
                      <small class="heading">
                        Sold
                      </small>
                      <h1 class="counter">
                        <a id="sold-counter" tabindex="0" href="/profile/mylistings?tab=offers" class="counter-link" title="View Sold"></a>
                      </h1>
                    </div>
                  </div>
								</div>
							</div>
						</div>
						<div class="card is-fullwidth">
							<div class="card-header">
								<h3 class="card-header-title is-bold">Get Free Months of Premium</h3>
								<a tabindex="0" href="/features#pricing" class="button no-shadow">
									<span class="icon is-small"><i class="fa fa-info-circle"></i></span>
									<span>Learn More</span>
								</a>
							</div>
              <div class="card-content">
								<div class="content">
	                <p>
	                  Invite your friends to try DomaHub using your unique promo code and get a free month of premium
	                  for each friend that signs up for a Premium account!
	                </p>
	                <p>
	                  Check the status of your existing referrals <a class="is-primary is-underlined" href="/profile/settings#promo" tabindex="0">here</a>.
	                </p>
	                <div class="control has-addons">
	                  <input id="referral-link" value="https://domahub.com/signup/<%= user.username.toLowerCase() %>" class="input no-shadow" placeholder="Invite your friends!"/>
	                  <a id="referral-link-copy" class="button is-primary no-shadow" tabindex="0">
	                    <span class="icon is-small"><i class="fa fa-clipboard"></i></span>
	                    <span>Copy Link</span>
	                  </a>
	                </div>
	              </div>
							</div>
            </div>
					</div>
          <div class="column is-5">
            <div class="card is-fullwidth">
              <div class="card-header">
                <h3 class="card-header-title">
                  <span id="notification-counter" class="is-white"></span>
                  Notifications
                </h3>
              </div>
              <div class="card-content">
                <div class="content">
                  <ul id="notifications-tray" class="has-disc">
									</ul>
                </div>
              </div>
            </div>
            <div class="card is-fullwidth">
              <div class="card-header">
                <h3 class="card-header-title">Account Status</h3>
              </div>
              <div class="card-content">
                <div class="control is-spaced">
                  <div class="content control-left">
                    <p>
                      Email Address
                    </p>
                  </div>
									<p class="tag is-primary control-right has-text-right">
                    <span class="icon is-small"><i class="fa fa-check"></i></span>
                    <span>Verified</span>
                  </p>
                </div>
								<div class="control is-spaced">
                  <div class="content control-left">
                    <p>
                      Payout Settings
                      <% if (!user.stripe_account) { %>
                        <span class="icon is-tooltip is-small"
                        data-balloon-length="large" data-balloon="You must complete your payout settings first in order to add a bank account." data-balloon-pos="up">
                        <i class="fa fa-question-circle"></i>
                        </span>
                      <% } %>
                    </p>
                  </div>
									<% if (user.stripe_account) { %>
                    <p class="tag is-primary control-right has-text-right">
                      <span class="icon is-small"><i class="fa fa-check"></i></span>
                      <span>Connected</span>
                    </p>
									<% } else { %>
                    <p class="tag is-danger control-right has-text-right">
                      <span class="icon is-small"><i class="fa fa-times"></i></span>
                      <span>Not Connected</span>
                    </p>
									<% } %>
                </div>
                <div class="control is-spaced">
                  <div class="content control-left">
                    <p>
                      Bank Account
                      <% if (!user.stripe_info || !user.stripe_info.transfers_enabled) { %>
                        <span class="icon is-tooltip is-small"
                        data-balloon-length="large" data-balloon="You will not be able to withdraw funds until you connect your bank account." data-balloon-pos="up">
                        <i class="fa fa-question-circle"></i>
                        </span>
                      <% } %>
                    </p>
                  </div>
									<% if (user.stripe_info && user.stripe_info.transfers_enabled) { %>
                    <p class="tag is-primary control-right has-text-right">
                      <span class="icon is-small"><i class="fa fa-check"></i></span>
                      <span>Connected</span>
                    </p>
                  <% } else { %>
                    <p class="tag is-danger control-right has-text-right">
                      <span class="icon is-small"><i class="fa fa-times"></i></span>
                      <span>Not Connected</span>
                    </p>
                  <% } %>
                </div>
                <div class="control is-spaced">
                  <div class="content control-left">
                    <p>
                      Premium
                    </p>
                  </div>
                  <% if (user.stripe_subscription_id) { %>
                  <p class="tag is-primary control-right has-text-right">
                    <span class="icon is-small"><i class="fa fa-check"></i></span>
                    <span>Active</span>
                  </p>
                  <% } else { %>
                  <p class="tag is-danger control-right has-text-right">
                    <span class="icon is-small"><i class="fa fa-times"></i></span>
                    <span>Inactive</span>
                  </p>
                  <% } %>
                </div>
              </div>
            </div>
						<div class="card is-fullwidth">
							<div class="card-header">
								<h3 class="card-header-title">Traffic Overview</h3>
								<%# <a tabindex="0" class="is-stylish is-small card-header-icon button">
									<span class="icon"><i class="fa fa-calendar"></i></span>
									<span>Change Date</span>
								</a>%>
							</div>
							<div class="card-content">
                <div class="content">
                  <p>
										Statistics and traffic data are currently being developed.
										Please <a class="is-underlined is-primary" href="/contact">let us know</a>
										what kind of traffic tools you'd like to see on your DomaHub dashboard!
									</p>
								</div>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/routes/profile/profile_dashboard_logic.js" type="text/javascript"></script>
</body>

</html>
