<!DOCTYPE html>

<html>

<head>
	<title>My Listings - DomaHub</title>
	<link rel="stylesheet" href="/css/min/profile_general.min.css" type="text/css" />
	<%- include("../templates/head_links"); %>
</head>

<body>
	<%- include("../templates/navbar", {user: user}); %>

	<section class="section is-medium min-height">
		<div class="container">
			<div class="columns">
				<div class="column is-6">
					<div class="tabs is-fullwidth is-toggle">
						<ul>
							<li class="is-active">
								<a tabindex="1">
									<span class="icon is-small"><i class="fa fa-tasks"></i></span>
									<span>My Listings</span>
								</a>
							</li>
							<li>
								<a tabindex="1" href="/profile/myrentals">
									<span class="icon is-small"><i class="fa fa-window-maximize"></i></span>
									<span>My Rentals</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="filters" class="is-hidden columns">
				<div class="column">
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="control has-addons">
									<span class="select" tabindex="1">
										<select id="filter-select">
											<option value="reset_filter">View All</option>
											<option value="rented_filter">Rented Now</option>
											<%# <option value="premium_filter">Premium</option> %>
											<%# <option value="basic_filter">Basic</option>%>
											<option value="unverified_filter">Unverified</option>
										</select>
									</span>
									<a id="multi-delete" class="multi-button is-disabled button no-shadow" tabindex="1" title="Delete Listing(s)">
										<span class="icon is-small">
											<i class="fa fa-trash"></i>
										</span>
										<span>Delete</span>
									</a>
									<a id="multi-verify" class="multi-button is-disabled button no-shadow" tabindex="1" title="Verify Listing(s)">
										<span class="icon is-small">
											<i class="fa fa-check-circle-o"></i>
										</span>
										<span>Verify</span>
									</a>
								</div>
							</div>
							<div class="level-item">
								<div class="control is-expanded has-icon">
									<i class="fa fa-search"></i>
									<input id="search-domain" tabindex="1" class="input is-expanded" type="text" placeholder="Search my listings" />
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="columns">
				<div class="column is-12">
					<table class="table is-profile">
						<thead class="">
							<tr>
								<th id="select-all" class="td-arrow">
									<span class="icon is-small"><i class="no-transition fa fa-square-o"></i></span>
								</th>
								<th class="td-domain">
									Domain Name
									<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
									<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
									<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
								</th>
								<th class="td-buttons is-hidden-mobile"></th>
								<%# <th class="is-hidden-mobile td-type">
									Type
									<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
									<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
									<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
								</th>%>
								<th class="is-hidden-mobile td-status">
									Status
									<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
									<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
									<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
								</th>
								<th class="has-text-right is-hidden-mobile td-price-rate">
									$
									<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
									<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
									<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
								</th>
								<th class="is-hidden-mobile td-price-type">
									Price
									<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
									<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
									<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
								</th>
							</tr>
						</thead>
						<tbody id="table_body">
							<tr>
								<td colspan="999" class="is-loading has-text-centered padding-50">
									Loading listings...
								</td>
							</tr>
							<tr class="clone-row row-disp verified-row is-hidden" id="verified-clone-row">
								<td class="td-arrow">
									<span class="v-align-bottom icon is-small">
										<i class="no-transition fa fa-square-o" aria-hidden="true"></i>
									</span>
								</td>
								<td class="td-visible td-domain"></td>
								<td class="td-buttons is-hidden-mobile">
									<a class="edit-button is-pulled-right button no-shadow ">
										<span class="icon is-small">
											<i class="fa fa-cog" aria-hidden="true"></i>
										</span>
										<span>Edit</span>
									</a>
									<a class="view-button button is-pulled-right margin-right-5 no-shadow" target="_blank" title="Open listing in new tab" style="target-new: tab;" href="">
										<span class="icon is-small">
											<i class="fa fa-external-link" aria-hidden="true"></i>
										</span>
										<span>View</span>
									</a>
								</td>
								<td class="td-status is-hidden-mobile"></td>
								<td class="td-status-drop is-hidden">
									<span class="select status-span">
										<form class="drop-form">
											<select data-name="status" class="status_input changeable-input">
												<option value="1">Active</option>
												<option value="0">Inactive</option>
											</select>
										</form>
									</span>
								</td>
								<td class="has-text-right td-price-rate is-bold is-hidden-mobile"></td>
								<td class="td-price-type is-hidden-mobile"></td>
							</tr>
							<tr class="clone-row row-drop is-hidden" id="verified-clone-row-drop">
								<td class="row-drop-td" colspan="7">
									<div class="div-drop" style="display:none;"> <!-- need in style for drop row-->
										<div class="columns">
											<form class="drop-form column is-9">
												<div class="columns listing-module">
													<div class="column is-3">
														<p class="is-bold">Rental Pricing</p>
													</div>
													<div class="column is-9">
														<div class="control is-grouped">
															<p class="control">
																<input data-name="price_rate" type="number" min="1" step="1" class="padding-top-0 price-rate-input input changeable-input">
															</p>
															<span class="select price-type-span">
																<div class="drop-form">
																	<select data-name="price_type" class="price-type-input changeable-input">
																		<option value="month">Month</option>
																		<option value="week">Week</option>
																		<option value="day">Day</option>
																	</select>
																</div>
															</span>
														</div>
													</div>
												</div>
												<div class="columns listing-module">
													<div class="column is-3">
														<p class="is-bold">Min. Purchase Price</p>
													</div>
													<div class="column is-9">
														<div class="control is-grouped">
															<p class="control">
																<input data-name="buy_price" placeholder="Empty for no buy-outs" type="number" min="1" step="1" class="padding-top-0 buy-price-input input changeable-input">
															</p>
														</div>
													</div>
												</div>
												<div class="columns listing-module">
													<div class="column is-3">
														<p class="is-bold">Listing Description</p>
													</div>
													<div class="column is-9">
														<div class="control">
															<div class="control">
																<textarea data-name="description" tabindex="1" class="description-input textarea changeable-input" placeholder="Rent this website for any time period you please!"></textarea>
															</div>
														</div>
													</div>
												</div>
												<div class="columns listing-module">
													<div class="column is-3">
														<p class="is-bold">Categories</p>
													</div><div class="column is-9">
														<div class="control">
															<div class="is-flex-wrap category-control">
																<input data-name="categories" onchange=""tabindex="1" class="is-hidden categories-input input changeable-input" value="" business="" ecard="" marketing="" niche="" personal="" promotion="">

																<%# make all the categories %>
																<% for (var x = 0; x < categories.length; x++){ %>
																	<a data-category="<%= categories[x].back %>" class="<%= categories[x].back %>-category tag category-selector has-shadow"><%= categories[x].front %></a>
																<% } %>
															</div>
														</div>
														<div class="control">
															<a tabindex="1" title="Save Changes" class="save-changes-button margin-right-10 button is-disabled is-small is-stylish is-primary no-shadow">Save Changes</a>
															<a tabindex="1" title="Cancel Changes" class="cancel-changes-button button is-hidden is-danger is-small is-stylish no-shadow">Cancel Changes</a>
														</div>
														<div class="listing-msg-error is-hidden is-danger notification">
															<button class="delete"></button>
														</div>
														<div class="listing-msg-success is-hidden is-primary notification">
															<button class="delete"></button>
														</div>
													</div>
												</div>
											</form>
											<div class="column is-3">
												<div class="card listing-img no-shadow">
													<div class="card-image">
														<figure class="image listing-img">
															<button tabindex="1" class="delete-img delete"></button>
															<img class="background_image is-listing" alt="Image not found" src="">
														</figure>
													</div>
													<footer class="card-footer">
														<form tabindex="1" class="drop-form-file" action="/listings/create/multiple" method="post" enctype="multipart/form-data">
															<input data-name="background_image" type="file" name="background_image" accept="image/png, image/gif, image/jpeg" class="picture-file changeable-input input-file">
															<label for="" class="picture-label card-footer-item">
																<i class="fa fa-upload" aria-hidden="true"></i>
																<p class="file-label">Background Image</p>
															</label>
														</form>
													</footer>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>

							<tr class="clone-row row-disp unverified-row is-hidden" id="unverified-clone-row">
								<td class="td-arrow">
									<span class="v-align-bottom icon is-small">
										<i class="no-transition fa fa-square-o" aria-hidden="true">
										</i>
									</span>
								</td>
								<td class="td-visible td-domain"></td>
								<td class="td-buttons is-hidden-mobile">
									<a class="is-pulled-right button no-shadow  verify-button is-danger">
										<span class="icon is-small">
											<i class="fa fa-check-circle-o" aria-hidden="true"></i>
										</span>
										<span>Verify Now</span>
									</a>
								</td>
								<td class="td-verify is-hidden-mobile">
									<p class="is-danger">
										<span>Unverified</span>
									</p>
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr class="clone-row row-drop is-hidden" id="unverified-clone-row-drop">
								<td class="row-drop-td" colspan="7">
									<div class="div-drop" style="display:none;">  <!-- need in style for drop row-->
										<div class="padding-top-10 padding-bottom-10">
											<div class="columns">
												<div class="column">
													<h3 class="is-bold">You must verify that you own this domain.</h3>
													<p>The table below details the DNS entries that are needed to verify this domain.</p>
													<p>Please <a class="registrar_url">log in to your domain provider</a> to create these entries.</p>
													<p>If you require any assistance, please refer to our <a target="_blank" style'target-new:="" tab;'="" class="is-accent margin-bottom-25" href="https://intercom.help/domahub/how-to-verify-your-domain-on-domahub"> step-by-step guide</a> on domain verification.</p>
													<table class="table is-bordered margin-top-15">
														<th>Host</th>
														<th>Record</th>
														<th>Required Data</th>
														<th>Current Data</th>
														<tbody id="dns_table_body">
															<tr id="existing_a_record_clone" class='is-hidden'>
																<td>@</td>
																<td>A</td>
																<td class='required_data'>208.68.37.82</td>
																<td class="existing_data">208.68.37.82</td>
															</tr>
														</tbody>
													</table>
													<a class="verify-button button is-primary" title="Verify this domain">
														<span class="icon is-small"><i class="fa fa-check-square-o"></i></span>
														<span>Verify this domain.</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<nav id="page-control" class="is-hidden pagination margin-bottom-10">
						<a id="prev-page" class="button no-shadow">Previous page</a>
						<a id="next-page" class="button no-shadow">Next page</a>
						<ul id="page-list"></ul>
					</nav>

					<nav class="pagination-control">
						<div id='domains-per-page-control' class="is-hidden control is-horizontal">
							<div class="control-label">
								<label class="label">Show per page:</label>
							</div>
							<div class="control">
								<div class="select">
									<select id="domains-per-page">
										<option selected value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</div>
							</div>
						</div>
						<div id="go-to-page-control" class="control is-hidden">
							<p class="control has-addons has-addons-right">
								<input id="go-to-page-input" class="input" type="number" min="1" value="1" />
								<a id="go-to-page-button" class="button is-primary no-shadow">
									Go to page
								</a>
							</p>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<%- include("../templates/footer"); %>
	<%- include("../templates/js_scripts"); %>
	<script src="/js/lib/moment.min.js" type="text/javascript"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script type="text/javascript">
		//redirect to homepage if user is not defined
		var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
		var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
		var categories = <% if(typeof categories != "undefined"){ %><%-JSON.stringify(categories)%><% }else{ %>""<% } %>;
	</script>
	<script src="/js/routes/profile/profile_mylistings_logic.js" type="text/javascript"></script>
	<script src="/js/routes/profile/profile_pagination_logic.js" type="text/javascript"></script>
</body>

</html>
