<!DOCTYPE html>

<html>

<head>
  <title>Dashboard - DomaHub</title>
  <link rel="stylesheet" href="/css/min/profile_dashboard.min.css" />
  <%- include("../templates/head_links"); %>
  <!-- Google Analytics -->
  <script type="text/javascript">
    (function(w,d,s,g,js,fs){
      g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
      js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
      js.src='https://apis.google.com/js/platform.js';
      fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
    }(window,document,'script'));
  </script>
  <script src="/js/lib/chart.min.js" type="text/javascript"></script>
  <script src="/js/lib/wNumb.js" type="text/javascript"></script>
  <script src="/js/lib/moment.min.js" type="text/javascript"></script>
  <script src="/js/lib/twix.min.js" type="text/javascript"></script>
  <script src="/js/lib/randomColor.js" type="text/javascript"></script>
</head>

<body>

  <section class="section is-fullscreen">
    <div class="wrapper">

      <%- include("profile_navbar.ejs"); %>

      <div class="right-content">

        <%- include("profile_navbar_top.ejs"); %>
        <div class="right-content-items">
          <div class="stat-columns">
            <div id="dashboard-traffic-card" class="stat-column-large">
              <div class="portfolio-table">
                <a title="View Listings" href="<%= (user.listings.length > 0) ? "/profile/mylistings" : "/listings/create" %>">
                  <div class="fac">
                    <div>
                      <p class="heading">
                        Total Listings
                      </p>
                      <p>
                        <%= user.listings.length %>
                      </p>
                    </div>
                  </div>
                </a>
                <a title="View Sold" href="/profile/mylistings?tab=offers">
                  <div class="fac">
                    <div>
                      <p class="heading">
                        Domains Sold
                      </p>
                      <p id="sold-counter"></p>
                    </div>
                  </div>
                </a>
                <a title="View Unverified" href="/profile/mylistings?tab=verify">
                  <div class="fac">
                    <div>
                      <p class="heading">
                        Unverified Listings
                      </p>
                      <p id="unverified-counter"></p>
                    </div>
                  </div>
                </a>
                <a title="View Expiring" href="/profile/mylistings">
                  <div class="fac">
                    <div>
                      <p class="heading">
                        Expiring Domains
                      </p>
                      <p id="expiring-counter"></p>
                    </div>
                  </div>
                </a>
                <a title="View Profit" href="/profile/settings#transactions">
                  <div class="fac">
                    <div>
                      <p class="heading">
                        Revenue YTD
                      </p>
                      <p id="revenue-counter"></p>
                    </div>
                  </div>
                </a>
                <a title="View Expenses" href="/profile/settings#transactions">
                  <div class="fac">
                    <div>
                      <p class="heading">
                        Expenses YTD
                      </p>
                      <p id="expenses-counter"></p>
                    </div>
                  </div>
                </a>
                <a title="View Offers" href="/profile/mylistings?tab=offers">
                  <div class="fac">
                    <div>
                      <p class="heading">
                        Offers
                      </p>
                      <p id="offers-counter"></p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card is-fullwidth">
                <div class="card-header no-border-bottom">
                  <h3 class="is-bold">
                    Domain Traffic
                  </h3>
                  <div class="control">
                    <button id="refresh-tables-button" class="button is-stylish is-small no-shadow" title="Refresh Tables" tabindex="0">
                      <div class="icon is-small">
                        <i class="fal fa-sync-alt"></i>
                      </div>
                      <span class="is-hidden-mobile">Refresh</span>
                    </button>
                    <div class="select is-stylish">
                      <select id="last-days-select">
                        <option value="7">Last 7 Days</option>
                        <option selected value="30">Last 30 Days</option>
                        <option value="90">Last 90 Days</option>
                        <option value="180">Last 180 Days</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <!-- chart tabs -->
                  <div class="chart-tabs">
                    <a tabindex="0" data-additive="true" data-stat="ga:users" data-stat-desc="Unique Users" class="stat-wrapper is-active">
                      <p class="heading">
                        Unique Visitors
                      </p>
                      <div class="counter-link">
                        <p id="users-counter">Loading...</p>
                      </div>
                    </a>
                    <a tabindex="0" data-additive="true" data-stat="ga:sessions" data-stat-desc="Unique Sessions" class="stat-wrapper">
                      <p class="heading">
                        Unique Sessions
                      </p>
                      <div class="counter-link">
                        <p id="sessions-counter">Loading...</p>
                      </div>
                    </a>
                    <a tabindex="0" data-additive="true" data-stat="ga:newUsers" data-stat-desc="New Users" class="stat-wrapper">
                      <p class="heading">
                        New Visitors
                      </p>
                      <div class="counter-link">
                        <p id="new-users-counter">Loading...</p>
                      </div>
                    </a>
                    <a tabindex="0" data-additive="false" data-tooltip-type="percent" data-stat="ga:percentNewSessions,ga:sessions" data-stat-desc="% New Sessions" class="stat-wrapper">
                      <p class="heading">
                        % New Sessions
                      </p>
                      <div class="counter-link">
                        <p id="new-sessions-counter">Loading...</p>
                      </div>
                    </a>
                    <a tabindex="0" data-additive="false" data-tooltip-type="sessionsPerUser" data-stat="ga:sessionsPerUser,ga:users" data-stat-desc="Sessions Per User" class="stat-wrapper">
                      <p class="heading">
                        Sessions Per User
                      </p>
                      <div class="counter-link">
                        <p id="sessions-per-user-counter">Loading...</p>
                      </div>
                    </a>
                    <a tabindex="0" data-additive="false" data-tooltip-type="time" data-stat="ga:avgSessionDuration" data-stat-desc="Session Duration" class="stat-wrapper">
                      <p class="heading">
                        Session Duration
                      </p>
                      <div class="counter-link">
                        <p id="session-duration-counter">Loading...</p>
                      </div>
                    </a>
                    <a tabindex="0" data-additive="true" data-stat="ga:pageviews" data-stat-desc="Pageviews" class="stat-wrapper">
                      <p class="heading">
                        Total Pageviews
                      </p>
                      <div class="counter-link">
                        <p id="pageviews-counter">Loading...</p>
                      </div>
                    </a>
                    <a tabindex="0" data-additive="false" data-tooltip-type="percent" data-stat="ga:bounceRate,ga:sessions" data-stat-desc="Bounce Rate" class="stat-wrapper">
                      <p class="heading">
                        Bounce Rate
                      </p>
                      <div class="counter-link">
                        <p id="bounce-rate-counter">Loading...</p>
                      </div>
                    </a>
                  </div>
                  <!-- sessions chart -->
                  <div class="content">
                    <div class="content has-text-centered">
                      <h3 class="is-hidden">
                        <span id="current-stat-name">Unique Users</span> Over Time
                      </h3>
                    </div>
                    <div class="traffic-chart-wrapper">
                      <canvas id="time-chart" class="traffic-chart"></canvas>
                      <div id="time-chart-overlay" class="traffic-overlay content">
                        <div id="time-chart-overlay-none" class='has-text-centered traffic-overlay-text is-hidden'>
                          <figure class="image is-48x48">
                            <img src="/images/lib/ggface.png">
                          </figure>
                          <p>
                            There is not enough data!
                          </p>
                          <p>
                            Please try changing the date range.
                          </p>
                        </div>
                        <div id="time-chart-overlay-load" class='traffic-overlay-text has-text-centered'>
                          <p class='icon is-medium is-primary'><i class="fal fa-spin fa-circle-notch"></i></p>
                          <p>Now loading <span id="current-stat-name-loading">unique users</span> data.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="stat-column-small">
              <div class="small-chart">
                <div class="content has-text-centered">
                  <p>
                    How are users finding your listings?
                  </p>
                </div>
                <div class="traffic-chart-wrapper">
                  <canvas id="channels-chart" class="traffic-chart"></canvas>
                  <div id="channels-chart-overlay" class="traffic-overlay content">
                    <div id="channels-chart-overlay-none" class='content has-text-centered traffic-overlay-text is-hidden'>
                      <div class="icon is-medium is-danger">
                        <i class="fal fa-exclamation-circle"></i>
                      </div>
                      <p>
                        There is not enough data!
                      </p>
                    </div>
                    <div id="channels-chart-overlay-load" class='traffic-overlay-text has-text-centered'>
                      <p class='icon is-medium is-primary'><i class="fal fa-spin fa-circle-notch"></i></p>
                      <p>Now loading channel data.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="small-chart">
                <div class="content has-text-centered">
                  <p>
                    What countries are your users in?
                  </p>
                </div>
                <div class="traffic-chart-wrapper">
                  <canvas id="countries-chart" class="traffic-chart"></canvas>
                  <div id="countries-chart-overlay" class="traffic-overlay content">
                    <div id="countries-chart-overlay-none" class='has-text-centered traffic-overlay-text is-hidden'>
                      <div class="icon is-medium is-danger">
                        <i class="fal fa-exclamation-circle"></i>
                      </div>
                      <p>
                        There is not enough data!
                      </p>
                    </div>
                    <div id="countries-chart-overlay-load" class='traffic-overlay-text has-text-centered'>
                      <p class='icon is-medium is-primary'><i class="fal fa-spin fa-circle-notch"></i></p>
                      <p>Now loading country data.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="small-chart">
                <div class="content has-text-centered">
                  <p>
                    Which listings are the most popular?
                  </p>
                </div>
                <div class="traffic-chart-wrapper">
                  <canvas id="popular-chart" class="traffic-chart"></canvas>
                  <div id="popular-chart-overlay" class="traffic-overlay content">
                    <div id="popular-chart-overlay-none" class='has-text-centered traffic-overlay-text is-hidden'>
                      <div class="icon is-medium is-danger">
                        <i class="fal fa-exclamation-circle"></i>
                      </div>
                      <p>
                        There is not enough data!
                      </p>
                    </div>
                    <div id="popular-chart-overlay-load" class='traffic-overlay-text has-text-centered'>
                      <p class='icon is-medium is-primary'><i class="fal fa-spin fa-circle-notch"></i></p>
                      <p>Now loading listing data.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if (new Date(user.date_accessed).getTime() < new Date("2018-01-23").getTime()){ %>
    <%- include("templates/announcements.ejs"); %>
  <% } %>

  <script src="/js/routes/profile/profile_dashboard_logic.js" type="text/javascript"></script>

</body>

</html>
