<!DOCTYPE html>

<html>

<head>
	<title>My Rentals - DomaHub</title>
	<link rel="stylesheet" href="/css/lib/fullcalendar.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/min/profile_general.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/min/calendar_modal.min.css" type="text/css" />
	<%- include("../templates/head_links"); %>
</head>

<body>
	<%- include("../templates/navbar", {user: user}); %>

	<section class="section is-medium min-height">
		<div class="container">
			<div class="columns">
				<div class="column is-6">
					<div class="tabs is-fullwidth is-toggle">
						<ul>
							<li>
								<a tabindex="0" href="/profile/mylistingss">
									<span class="icon is-small"><i class="fa fa-tasks"></i></span>
									<span>My Listings</span>
								</a>
							</li>
							<li class="is-active">
								<a tabindex="0">
									<span class="icon is-small"><i class="fa fa-window-maximize"></i></span>
									<span>My Rentals</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="filters" class="is-hidden columns">
				<div class="column">
					<nav class="level filter-panel">
						<div class="level-left">
							<div class="level-item">
								<div class="control has-addons">
									<span class="select" tabindex="0">
										<select id="filter-select">
											<option value="active_filter">Active</option>
											<option value="upcoming_filter">Upcoming</option>
											<option value="expired_filter">Expired</option>
											<option value="reset_filter">View All</option>
										</select>
									</span>
									<a id="multi-delete" class="multi-button is-disabled button no-shadow" tabindex="0" title="Delete Rental(s)">
										<span class="icon is-small">
											<i class="fa fa-trash-o"></i>
										</span>
										<span>Delete</span>
									</a>
								</div>
							</div>
							<div class="level-item">
								<div class="control is-expanded has-icon">
									<i class="fa fa-search"></i>
									<input id="search-domain" tabindex="0" class="input is-expanded" type="text" placeholder="Search my rentals" />
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="columns">
				<div class="column is-12">
					<div class="rows-exist">
						<table class="table is-profile">
							<thead class="">
								<tr>
									<th id="select-all" class="td-arrow">
										<span class="icon is-small"><i class="no-transition fa fa-square-o"></i></span>
									</th>
									<th class="td-domain">
										Domain Name
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="td-buttons is-hidden-mobile"></th>
									<!-- <th class="is-hidden-mobile td-rental-date">
										Start Date
									</th>
									<th class="is-hidden-mobile td-rental-date">
										End Date
									</th> -->
									<th class="is-hidden-mobile td-status td-rentalstatus">
										Status
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
									<th class="is-hidden-mobile td-address">
										Address
										<span class="icon is-small is-active sort-desc is-hidden"><i class="fa fa-sort-desc"></i></span>
										<span class="icon is-small is-active sort-asc is-hidden"><i class="fa fa-sort-asc"></i></span>
										<span class="icon is-small sort-none is-disabled"><i class="fa fa-sort"></i></span>
									</th>
								</tr>
							</thead>
							<tbody id="table_body">
								<tr>
									<td colspan="999" class="is-loading has-text-centered padding-50">
										Loading rentals...
									</td>
								</tr>
								<tr class="row-disp verified-row clone-row is-hidden" id="clone-row">
									<td class="td-arrow">
										<span class="v-align-bottom icon is-small">
											<i class="no-transition fa fa-square-o" aria-hidden="true"></i>
										</span>
									</td>
									<td class="td-visible td-domain"></td>
									<td class="td-buttons is-hidden-mobile">
										<a class="button is-pulled-right no-shadow">
											<span class="icon is-small">
												<i class="fa fa-cog" aria-hidden="true"></i>
											</span>
											<span>Edit</span>
										</a>
										<!-- <a class="button preview-button is-pulled-right margin-right-5 no-shadow" target="_blank" rel="noopener" title="Preview this rental" style="target-new: tab;" href="">
											<span class="icon is-small">
												<i class="fa fa-external-link" aria-hidden="true"></i>
											</span>
											<span>Preview</span>
										</a> -->
									</td>
									<!-- <td class="td-visible is-hidden-mobile">

									</td>
									<td class="td-visible is-hidden-mobile">

									</td> -->
									<td class="td-visible td-status is-hidden-mobile"></td>
									<td class="td-visible td-address is-hidden-mobile">
										<div class="address-div-wrapper">
											<a target="_blank" rel="noopener" class="address-link is-accent" href=""></a>
										</div>
									</td>
									<td class="td-visible td-address td-address-drop is-hidden is-hidden-mobile">
										<span class="is-fullwidth address-span">
											<form class="drop-form">
												<input data-name="address" placeholder="Nothing is being displayed!" class="address_input input changeable-input">
											</form>
										</span>
									</td>
								</tr>
								<tr class="row-drop clone-row is-hidden" id="clone-row-drop" >
									<td class="row-drop-td" colspan="5">
										<div class="div-drop td-visible" style="display: none;"> <!-- need in style for drop row-->
											<div class="columns">
												<div class="column is-9">
													<div class="control">
														<p class="rental-dates is-inline-block margin-bottom-5 is-bold">Rental Dates</p>
														<ol class="padding-left-20">
															<li id="rental-dates-clone" class='is-hidden'></li>
														</ol>
													</div>
													<div class="control">
														<div class="is-flex-wrap margin-bottom-10">
															<a target="_blank" rel="noopener" class="view-rental button margin-right-5 no-shadow">View Listing</a>
															<a class="delete-rental button no-shadow">Delete Rental</a>
														</div>
														<form class="drop-form">
															<div class="control is-grouped">
																<div class="control">
																	<a class="save-changes-button button is-disabled is-primary">Save Changes</a>
																</div>
																<div class="control">
																	<a class="cancel-changes-button button is-hidden is-danger">Cancel Changes</a>
																</div>
															</div>
															<div class="rental-msg listing-msg-error is-hidden is-danger notification">
																<button class="delete"></button>
															</div>
															<div class="rental-msg listing-msg-success is-hidden is-primary notification">
																<button class="delete"></button>
															</div>
														</form>
													</div>
												</div>
												<div class="column is-3">
													<div class="card is-pulled-right no-shadow listing-img">
														<div class="card-image">
															<figure class="image listing-img">
																<img class="is-listing preview-image" src=""></figure>
															</div>
															<footer class="card-footer has-text-centered">
																<a target="_blank" rel="noopener" href="" class="preview-link card-footer-item no-border">Click to Preview</a>
															</footer>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
						</table>

						<nav id="page-control" class="is-hidden pagination margin-bottom-10">
							<a id="prev-page" class="button no-shadow">Previous page</a>
							<a id="next-page" class="button no-shadow">Next page</a>
							<ul id="page-list"></ul>
						</nav>

						<nav class="pagination-control">
							<div id="domains-per-page-control" class="is-hidden control is-horizontal">
								<div class="control-label">
									<label class="label">Show per page:</label>
								</div>
								<div class="control">
									<div class="select">
										<select id="domains-per-page">
											<option selected value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
									</div>
								</div>
							</div>
							<div id="go-to-page-control" class="is-hidden control">
								<p class="control has-addons has-addons-right">
									<input id="go-to-page-input" class="input" type="number" min="1" value="1" />
									<a id="go-to-page-button" class="button is-primary">
										Go to page
									</a>
								</p>
							</div>
						</nav>

					</div>
				</div>

			</div>
		</div>
	</section>

	<%- include("../templates/footer"); %>
	<%- include("../templates/js_scripts"); %>
	<script src="/js/lib/moment.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		//redirect to homepage if user is not defined
		var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
		var rentals = <% if(typeof rentals != "undefined"){ %><%-JSON.stringify(rentals)%><% }else{ %>""<% } %>;
	</script>
	<script src="/js/routes/profile/profile_myrentals_logic.js" type="text/javascript"></script>
	<script src="/js/routes/profile/profile_pagination_logic.js" type="text/javascript"></script>
</body>
</html>
