<!DOCTYPE html>

<html>

<head>
	<title>My Listings - DomaHub</title>
	<link rel="stylesheet" href="/css/min/profile_mylistings.min.css" />
	<link rel="stylesheet" href="/css/lib/jquery.tagit.css" type="text/css" />
	<link rel="stylesheet" href="/css/lib/jquery.minicolors.css" type="text/css" />
	<%- include("../templates/head_links"); %>
</head>

<body>

	<section class="section is-fullscreen">
		<div class="wrapper">

			<%- include("profile_navbar.ejs"); %>

			<div class="right-content is-active">

        <div class="right-content-items">
					<!-- DOMAINS SELECTOR -->
	        <%- include("profile_domain_selector.ejs"); %>

	        <!-- DOMAINS EDITOR -->
	        <%- include("profile_domain_editor.ejs"); %>
				</div>

			</div>
		</div>
	</section>

  <script type="text/javascript">
    var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
    var categories = <% if(typeof categories != "undefined"){ %><%-JSON.stringify(categories)%><% }else{ %>""<% } %>;
    var fonts = <% if(typeof fonts != "undefined"){ %><%-JSON.stringify(fonts)%><% }else{ %>""<% } %>;
  </script>
	<script src="/js/jquery/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/js/jquery/jquery.tristate.js" type="text/javascript"></script>
	<script src="/js/jquery/jquery.marquee.min.js" type="text/javascript"></script>
  <script src="/js/lib/punycode.min.js" type="text/javascript"></script>
  <script src="/js/lib/currencies.json" type="text/javascript"></script>
	<script src="/js/lib/moment.min.js" type="text/javascript"></script>
	<script src="/js/lib/tag-it.min.js" type="text/javascript"></script>
	<script src="/js/lib/wNumb.js" type="text/javascript"></script>
	<script src="/js/jquery/jquery.minicolors.min.js" type="text/javascript"></script>
  <script src="/js/themes.js" type="text/javascript"></script>
  <script src="/js/lib/chart.min.js" type="text/javascript"></script>
  <script src="/js/lib/randomColor.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/lib/intlTelInput.css" type="text/css">
  <script src="/js/jquery/intlTelInput.min.js" type="text/javascript"></script>
  <script src="/js/routes/profile/profile_listing_editor_logic.js" type="text/javascript"></script>
  <script src="/js/routes/profile/profile_listing_selector_logic.js" type="text/javascript"></script>
</body>

</html>
