<!DOCTYPE html>

<html>

<head>
	<title>My Listings - DomaHub</title>
	<link rel="stylesheet" href="/css/min/profile_dashboard.min.css" />
	<link rel="stylesheet" href="/css/lib/jquery.tagit.css" type="text/css" />
	<link rel="stylesheet" href="/css/lib/jquery.minicolors.css" type="text/css" />
	<%- include("../templates/head_links"); %>
</head>

<body>
	<%- include("../templates/navbar", {user: user}); %>

	<section class="section is-medium min-height is-clipped">
		<div class="container is-fluid">
			<div id="listing-msg-error" class="is-hidden is-danger notification is-popup">
				<button class="delete"></button>
        <p id="listing-msg-error-text" class='is-white'></p>
			</div>
			<div id="listing-msg-success" class="is-hidden is-primary notification is-popup">
				<button class="delete"></button>
				<p id="listing-msg-success-text" class='is-white'></p>
			</div>
			<div class="columns">
				<div id="filter-menu" class="column is-3 is-offset-1-widescreen">
					<button class="delete filter-menu-toggle is-hidden-tablet">
					</button>
					<!-- FITER MENU -->
					<div id="filters">
						<div class="control is-grouped">
							<div class="control has-icon">
								<span class="select is-fullwidth">
									<select id="filter-select" tabindex="0">
										<option selected value="id">View All</option>
										<option value="unverified">Unverified</option>
										<option value="rented">Rented Now</option>
										<option value="accepted">Accepted An Offer</option>
										<option value="deposited">Sold (Need to Transfer)</option>
										<option value="">Sold (Done Transfer)</option>
									</select>
								</span>
								<i class="fa fa-filter"></i>
							</div>
							<div class="control is-expanded has-icon">
								<span class="select is-fullwidth">
									<select id="sort-select" tabindex="0">
										<option selected value="id-asc">Date Created (Oldest)</option>
										<option value="id-desc">Date Created (Newest)</option>
										<option value="domain_name-asc">Domain Name (A - Z)</option>
										<option value="domain_name-desc">Domain Name (Z - A)</option>
										<option value="min_price-asc">Min. Price (Low - High)</option>
										<option value="min_price-desc">Min. Price (High - Low)</option>
									</select>
								</span>
								<i class="fa fa-sort"></i>
							</div>
						</div>
						<div class="control has-icon">
							<i class="fa fa-search"></i>
							<input id="domain-search" tabindex="0" class="input is-expanded" type="text" placeholder="Search" />
						</div>
					</div>

					<!-- DOMAINS TABLE  -->
					<div id="table-body" class="margin-top-15">
						<div id="verified-clone-row" class="clone-row table-row is-hidden">
							<form class="checkbox-form">
								<input class="select-button" data-selected="false" type="checkbox" tabindex="0" title="Select" />
								<label for="select-button"></label>
							</form>
							<p class='td-domain'></p>
						</div>
						<div id="unverified-clone-row" class="clone-row table-row is-hidden">
							<form class="checkbox-form">
								<input class="select-button" data-selected="false" type="checkbox" tabindex="0" title="Select" />
								<label for="select-button"></label>
							</form>
							<div class="table-row-text">
								<p class="td-domain is-danger is-inline"></p>
								<span class="icon is-danger is-small is-inline">
									<i class="fa fa-exclamation-circle"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="button-wrapper control margin-top-10">
						<button id="select-all" data-selected="false" tabindex="0" class="button" title="Select All">
							<span class="icon is-small">
								<i class="fa fa-square-o"></i>
							</span>
							<span>Select All</span>
						</button>
						<button id="multi-delete" class="button is-disabled is-danger is-transparent" tabindex="0" title="Delete Listing(s)">
							<span class="icon is-small">
								<i class="fa fa-trash"></i>
							</span>
							<span id="multi-delete-text">Delete</span>
						</button>
						<button id="multi-verify" class="button is-disabled is-primary is-transparent" tabindex="0" title="Verify Listing(s)">
							<span class="icon is-small">
								<i class="fa fa-check-circle-o"></i>
							</span>
							<span>Verify</span>
						</button>
					</div>
					<div class="control margin-top-20">
						<a class="button is-stylish is-small is-fullwidth" tabindex="0" href="/listings/create">
							<span class="icon is-small">
								<i class="fa fa-plus"></i>
							</span>
							<span>Create Listings</span>
						</a>
					</div>
				</div>

				<!-- LISTING DETAILS  -->
				<div class="column is-7-widescreen is-9-tablet">
					<!-- CURRENT DOMAIN NAME -->
					<div class="control is-spaced">
						<div class="control-left">
							<button tabindex="0" class="button filter-menu-toggle is-inline-block no-shadow is-dark is-transparent is-small is-hidden-tablet" title="Filters">
								<span class="icon"><i class="fa fa-bars"></i></span>
							</button>
							<h2 class="current-domain-name yes-listings-elem is-inline-block is-hidden v-align-middle"></h2>
							<button id="status-input" tabindex="0" class="yes-listings-elem is-hidden v-align-middle button is-black is-transparent verified-elem unpurchased-elem no-shadow" title="Publicly hide or show landing page.">
								<span id="status-color" class="icon is-primary"><i id="status-icon" class="fa fa-toggle-on"></i></span>
							</button>
						</div>
						<div class="control-right">
							<a id="current-domain-view" target="_blank" rel="noopener" tabindex="0" class="verified-elem yes-listings-elem is-hidden button is-white is-small" title="View Domain">
								<span class="icon is-small"><i style="margin-top: 2px" class="fa fa-external-link"></i></span>
								<span>View</span>
							</a>
						</div>
					</div>

					<!-- LISTING DETAIL TABS  -->
					<div class="yes-listings-elem is-hidden tabs no-border">
						<ul>
							<li id="verify-tab" class="unverified-elem is-hidden unpurchased-elem tab">
								<a tabindex="0">Verification Status</a>
							</li>
							<li id="info-tab" class="verified-elem unpurchased-elem tab">
								<a tabindex="0">Information</a>
							</li>
							<li id="design-tab" class="verified-elem unpurchased-elem tab">
								<a tabindex="0">Design</a>
							</li>
							<li id="offers-tab" class="verified-elem no-buttons-tab unpurchased-elem tab">
								<a tabindex="0">Offers</a>
							</li>
							<li id="rental-tab" class="verified-elem unpurchased-elem tab">
								<a tabindex="0">Rental</a>
							</li>
              <li id="stats-tab" class="verified-elem no-buttons-tab unpurchased-elem tab">
                <a tabindex="0">Stats</a>
              </li>
							<li id="purchased-tab" class="purchased-elem no-buttons-tab tab is-active is-hidden">
								<a tabindex="0">Next Steps</a>
							</li>
						</ul>
					</div>

					<!-- LISTING DETAILS  -->
					<div class="box">
						<h3 id="loading-tab" class="margin-top-15 margin-bottom-15">
              <span class="icon margin-right-10"><i class="fa fa-spin fa-refresh"></i></span>
							<span>Now loading listings...</span>
						</h3>
						<div id="no-domains-tab" class="no-listings-elem is-hidden">
							<p>
								You have no listings. Let's go make some!
							</p>
							<a class="is-primary button is-stylish" href="/listings/create">Create Listings</a>
						</div>
						<div id="unverified-drop-tab" class="yes-listings-elem drop-tab unverified-elem is-hidden">
							<h3 class="is-bold">You must verify that you own this domain.</h3>
							<p class="has-line-height">The table below details the DNS entries that are needed to verify this domain.</p>
							<p class="has-line-height" id="registrar_url">Please <a>log in to your domain provider</a> to create these entries.</p>
							<p class="has-line-height">If you require any assistance, please refer to our <a tabindex="0" class="is-primary margin-bottom-25" href="https://medium.com/@domahub/how-to-verify-domains-on-domahub-7d526c4ce6d"> step-by-step guide</a> on domain verification.</p>
							<table class="table margin-top-15">
                <thead>
									<tr>
	                  <th>Host</th>
	                  <th>Record</th>
	                  <th>Required Data</th>
	                  <th>Current Data</th>
	                  <th>Next Steps</th>
	                </tr>
								</thead>
								<tbody id="dns_table-body">
                  <tr id="loading-records-row" class="">
                    <td colspan=5>
                      <span class="icon is-small margin-right-10"><i class="fa fa-spin fa-refresh"></i></span>
                      <span>Now loading existing DNS records...</span>
                    </td>
                  </tr>
									<tr id="existing_a_record_clone" class='clone-dns-row is-hidden'>
										<td>@</td>
										<td>A</td>
										<td class='required_data'>208.68.37.82</td>
										<td class="existing_data">208.68.37.82</td>
										<td class="next_step"><span class='is-danger'>Create this record</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="verified-drop-tab" class="yes-listings-elem is-hidden verified-elem">
							<div id="info-tab-drop" class="drop-tab">
								<div class="control">
									<label class="label" for="min-price-input">Minimum Price</label>
									<input id="min-price-input" data-name="min_price" type="number" min="1" step="1" class="input is-inline changeable-input">
									<small class="tip">The minimum offer price you will consider. Put blank or 0 for no minimum offer price.</small>
								</div>
                <div class="control">
                  <label class="label" for="buy-price-input">Buy It Now Price</label>
                  <input id="buy-price-input" data-name="buy_price" type="number" min="1" step="1" class="input is-inline changeable-input">
                  <small class="tip">The price you are willing to immediately sell the domain for. Put blank or 0 for no Buy It Now option.</small>
                  <small class="tip"><a target="_blank" rel="noopener" href="/faq#selling" class="is-primary">What are the advantages of buying immediately?</a></small>
                </div>
								<div class="control">
									<label class="label" for="description">Listing Description</label>
									<textarea id="description" class="description-input textarea changeable-input"
									tabindex="0" data-name="description" placeholder="Write anything you want!"></textarea>
								</div>
								<%# <div class="control">
									<label class="label" for="short-desc">Short Description</label>
									<input id="short-desc" data-name="description_hook" tabindex="0" class="input changeable-input"
									placeholder="What is this website?" />
									<small class="tip">100 character limit.</small>
								</div>%>
								<div class="control">
									<label class="label margin-bottom-10">
										<span class="v-align-middle">Categories</span>
										<span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="large" data-balloon="Categories help users find similar domains. Incorrect categories can lead to a poor user experience and hurt your domain brand by being associated with non-similar domains." data-balloon-pos="up">
											<i class="fa fa-question-circle"></i>
										</span>
									</label>
									<div id="categories" class="category-control">
  									<input id="categories-input" data-name="categories" onchange="" tabindex="0" class="is-hidden input changeable-input" value="" business="" ecard="" marketing="" niche="" personal="" promotion="">

  									<%# make all the categories %>
  									<% for (var x = 0; x < categories.length; x++){ %>
  										<a data-category="<%= categories[x].back %>" class="<%= categories[x].back %>-category tag margin-bottom-5 category-selector"><%= categories[x].front %></a>
  									<% } %>
									</div>
								</div>
							</div>
							<div id="rental-tab-drop" class="drop-tab is-hidden">
								<div class="control is-spaced">
									<div class="control-left">
										<label class="label" for="rentable-input">Allow Rentals</label>
										<small class="tip">Allows verified users to rent usage of this domain for short amounts of time.</small>
                    <small class="tip"><a target="_blank" rel="noopener" href="/faq#renting" class="is-primary">Why should I rent my domain out?</a></small>
									</div>
									<div class="control-right">
										<form class="checkbox-form">
											<input id="rentable-input" data-name="rentable" type="checkbox" class="checkbox-input changeable-input" tabindex="0" />
											<label for="rentable-input"></label>
										</form>
									</div>
								</div>
								<label class="label">Rental Price</label>
								<div class="control">
									<div class="control has-addons margin-bottom-0">
										<input id="price-rate-input" data-name="price_rate" placeholder="minimum 1" type="number" min="1" step="1" class="input is-inline changeable-input rentable-input" />
										<span class="select price-type-span no-shadow">
											<div class="drop-form">
												<select id="price-type-input" data-name="price_type" class="changeable-input rentable-input">
													<option value="month">Month</option>
													<option value="week">Week</option>
													<option value="day">Day</option>
												</select>
											</div>
										</span>
									</div>
									<small class="tip">Price per unit of time for the domain rental.</small>
								</div>
								<div class="control">
									<label class="label">
										<span class="v-align-middle">Example Paths</span>
										<span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="large" data-balloon="Example paths or subdirectories that users may want to rent on your domain. Must consist of either letters or numbers." data-balloon-pos="up">
											<i class="fa fa-question-circle"></i>
										</span>
									</label>
									<input id="paths-input" data-name="paths" tabindex="0" class="is-hidden input changeable-input rentable-input" />
								</div>
							</div>
							<div id="design-tab-drop" class="drop-tab is-hidden">
									<div id="premium-blackscreen" class="blackscreen">
										<div id="premium-only-notification" class="content has-text-centered">
											<p>
												Please upgrade to a Premium account to customize the look and feel of your landing page!
											</p>
											<a href="/features#pricing" class="is-primary">
												What is a Premium account?
											</a>
                      <div class="margin-top-15 control has-text-centered">
                        <a href="/profile/settings#premium" class="button is-stylish is-primary is-small">
                          <span class="icon is-small">
                            <i class="fa fa-diamond"></i>
                          </span>
                          <span>Upgrade</span>
                        </a>
                      </div>
										</div>
									</div>
									<div id="example-wrapper" class="preview-elem padding-25 control has-border-bottom">
                    <div class="box is-pulled-right">
                      <img id="example-logo" src="" />
                    </div>
                    <div class="control">
                      <span id="example-buy-price-tag" class="tag is-primary margin-right-5 margin-bottom-10 is-medium"></span>
                      <span id="example-rent-price-tag" class="tag is-primary margin-right-5 margin-bottom-10 is-medium"></span>
                      <h1 id="example-domain-name" class="preview-elem is-bold current-domain-name"></h1>
                    </div>
                    <div class="control">
                      <p id="example-font" class="preview-elem is-black">This is a preview of your chosen design. Use the settings below to customize your landing page!</p>
                    </div>
                    <div class="control box" style="display:inline-block">
                      <a id="example-button-primary" class="v-align-middle preview-elem is-small button is-stylish">Send Offer</a>
                      <a id="example-button-accent" class="v-align-middle preview-elem is-small button is-stylish">Buy Now</a>
                      <a id="example-link-info" class="v-align-middle preview-elem margin-left-10">Do I need this?</a>
                    </div>
									</div>
									<div class="control">
			                <label class="label" for="random-button">Theme</label>
			                <div class="control is-grouped">
			                    <div class="control has-icon">
			                        <span class="select is-fullwidth">
		                            <select tabindex="0" id="theme-input" class="premium-input"></select>
			                        </span>
			                        <i class="fa fa-picture-o"></i>
			                    </div>
			                    <div class="control">
		                        <a id="random-theme-button" class="premium-input button is-small is-stylish">Random Theme</a>
			                    </div>
			                </div>
			            </div>
									<div class="control">
										<label class="label">
											<span class="v-align-middle">Color Scheme</span>
											<span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="The three main colors of your landing page." data-balloon-pos="up">
												<i class="fa fa-question-circle"></i>
											</span>
										</label>
										<div class="control">
											<input id="primary-color-input" data-name="primary_color" placeholder="#3CBC8D" type="text" class="premium-input padding-top-0 input changeable-input">
										</div>
										<div class="control">
											<input id="secondary-color-input" data-name="secondary_color" placeholder="#FF5722" type="text" class="premium-input padding-top-0 input changeable-input">
										</div>
										<div class="control">
											<input id="tertiary-color-input" data-name="tertiary_color" placeholder="#2196F3" type="text" class="premium-input padding-top-0 input changeable-input">
										</div>
									</div>
									<div class="control">
										<label class="label">
											<span class="v-align-middle">Font Styling</span>
											<span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="You can choose both the color and the font-family. We are working on offering more extensive fonts in the near future." data-balloon-pos="up">
												<i class="fa fa-question-circle"></i>
											</span>
										</label>
										<div class="control is-grouped">
											<div class="control">
												<input id="font-color-input" data-name="font_color" placeholder="#000000" type="text" class="premium-input padding-top-0 input changeable-input">
											</div>
											<div class="control has-icon">
												<span class="select is-fullwidth">
													<select tabindex="0" data-name="font_name" id="font-name-input" class="premium-input changeable-input">
                            <%# make all the categories %>
                            <% for (var x = 0; x < fonts.length; x++){ %>
                              <option value="<%= fonts[x] %>"><%= fonts[x] %></option>
                            <% } %>
													</select>
												</span>
												<i class="fa fa-font"></i>
											</div>
										</div>
									</div>
                  <div class="control">
                    <label class="label">
                      <span class="v-align-middle">Background Image URL</span>
                      <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="Choose an existing image on the web or upload your own image." data-balloon-pos="up">
                        <i class="fa fa-question-circle"></i>
                      </span>
                    </label>
                    <form class="is-hidden drop-form-file" method="post" enctype="multipart/form-data">
                      <input tabindex="0" id="background-image-input" data-name="background_image" type="file" name="background_image" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
                    </form>
                    <div class="control has-addons">
                      <input id="background-link-input" data-name="background_image_link" placeholder="http://link-to-image.com/background.png" type="text" class="premium-input input changeable-input">
                      <button id="background-link-refresh" class='button is-disabled is-outlined'>
                        <span class="icon is-small">
                          <i class="fa fa-refresh"></i>
                        </span>
                        <span>Refresh Preview</span>
                      </button>
                      <label for="background-image-input" class="premium-input button">
                        <span class="icon is-small">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                        </span>
                        <p data-default-name="Upload Background Image" id="background-image-label" class="file-label">Upload</p>
                      </label>
                    </div>
                  </div>
									<div class="control">
										<label class="label">
											<span class="v-align-middle">Background Color</span>
											<span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="The background image takes precedence over the background color." data-balloon-pos="up">
												<i class="fa fa-question-circle"></i>
											</span>
										</label>
                    <div class="control">
											<input id="background-color-input" data-name="background_color" placeholder="#FFFFFF" type="text" class="premium-input padding-top-0 input changeable-input">
                    </div>
									</div>
                  <div class="control">
                    <label class="label">
                      <span class="v-align-middle">Logo Image URL</span>
                      <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="The logo will be utilized for email communications and branding." data-balloon-pos="up">
                        <i class="fa fa-question-circle"></i>
                      </span>
                    </label>
                    <form class="is-hidden drop-form-file" method="post" enctype="multipart/form-data">
                      <input tabindex="0" id="logo-image-input" data-name="logo" type="file" name="logo" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
                    </form>
                    <div class="control has-addons">
                      <input id="logo-link-input" data-name="logo_image_link" placeholder="http://link-to-image.com/logo.jpg" type="text" class="premium-input input changeable-input">
                      <button id="logo-link-refresh" class='is-disabled is-outlined button'>
                        <span class="icon is-small">
                          <i class="fa fa-refresh"></i>
                        </span>
                        <span>Refresh Preview</span>
                      </button>
                      <label for="logo-image-input" class="premium-input button">
                        <span class="icon is-small">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                        </span>
                        <p data-default-name="Upload Logo" id="logo-image-label" class="file-label">Upload</p>
                      </label>
                    </div>
                  </div>
									<%# <div class="control is-spaced">
										<div class="control-left">
											<div class="label">Logo</div>
											<small class="tip"></small>
										</div>
										<div class="control-right">
											<figure class="image listing-img">
												<button id="logo" tabindex="0" class="premium-input delete delete-image on-img"></button>
												<img id="logo-image" class="image-upload" data-default-img="https://placeholdit.imgix.net/~text?txtsize=20&txt=NO%20LOGO&w=96&h=64" alt="Image not found" src="">
											</figure>
											<form class="drop-form-file" method="post" enctype="multipart/form-data">
												<input tabindex="0" id="logo-image-input" data-name="logo" type="file" name="logo" accept="image/png, image/gif, image/jpeg" class="premium-input changeable-input input-file">
												<label for="logo-image-input" class="upload-label premium-input button is-small is-fullwidth">
													<i class="fa fa-upload" aria-hidden="true"></i>
													<p data-default-name="Logo" id="logo-image-label" class="file-label">Upload</p>
												</label>
											</form>
										</div>
									</div>%>
									<div class="control is-spaced">
										<div class="control-left">
											<label class="label">Traffic Module</label>
											<small class="tip">Displays detailed traffic data from <a class="is-primary"  id="alexa_link">Alexa</a>.</small>
										</div>
										<div class="control-right">
											<form class="checkbox-form">
												<input id="traffic-module-input" data-name="traffic_module" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
												<label for="traffic-module-input" class="premium-input"></label>
											</form>
										</div>
									</div>
									<div class="control is-spaced">
										<div class="control-left">
											<label class="label">History Module</label>
											<small class="tip">Displays recent activity on your domain name - useful if you have rentals enabled.</small>
										</div>
										<div class="control-right">
											<form class="checkbox-form">
												<input id="history-module-input" data-name="history_module" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
												<label for="history-module-input" class="premium-input"></label>
											</form>
										</div>
									</div>
									<div class="control is-spaced">
										<div class="control-left">
											<label class="label">Info Module</label>
											<small class="tip">Displays other domains the owner has for sale as well as other relevant information.</small>
										</div>
										<div class="control-right">
											<form class="checkbox-form">
												<input id="info-module-input" data-name="info_module" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
												<label for="info-module-input" class="premium-input"></label>
											</form>
										</div>
									</div>
								</div>
							<div id="offers-tab-drop" class="drop-tab is-hidden">
								<div id="offer-modal" class="modal">
									<div class="modal-background"></div>
						      <div class="modal-container">
										<div class="modal-content offer-popup">
											<div class="content has-text-centered">
								        <p class="is-bold" id="offer-modal-domain"></p>
								        <small>Received on <span id="offer-modal-timestamp"></span></small>
								      </div>
											<div class="content margin-bottom-0">
												<h1 id="offer-modal-price" class="margin-bottom-20 has-text-centered"></h1>
								        <ul id="offer-info" class="margin-bottom-20 offer-info">
							            <li>
						                <span class="icon is-small" title="From"><i class="fa fa-user-o"></i></span><span id="offer-modal-name"></span>
							            </li>
							            <li>
						                <span class="icon is-small" title="Email"><i class="fa fa-envelope-o"></i></span><span id="offer-modal-email"></span>
							            </li>
							            <li>
						                <span class="icon is-small" title="Phone"><i class="fa fa-phone"></i></span><span id="offer-modal-phone"></span>
							            </li>
							            <li class="">
						                <span class="icon is-small" title="Message"><i class="fa fa-comment-o"></i></span>
														<p id="offer-modal-message" class="offer-msg"></p>
							            </li>
								        </ul>
                        <ul id="offer-response-label" class="is-hidden">
                          Your response:
                        </ul>
                        <ul id="offer-response-wrapper">
                          <li>
                            <textarea id="offer-response" placeholder="You may include an optional response to the offerer." class='textarea'></textarea>
                          </li>
                        </ul>
								      </div>
											<div id="offer-modal-button-wrapper" class="control margin-top-20 is-grouped is-grouped-center">
								        <p class="control">
								          <a id="accept_button" tabindex="0" class='button margin-right-25 is-primary is-stylish is-small'>
                            <span class="icon is-small"><i class="fa fa-check"></i></span>
                            <span>Accept offer</span>
                          </a>
								        </p>
								        <p class="control">
								          <a id="reject_button" tabindex="0" class='button is-outlined is-danger is-stylish is-small'>
                            <span class="icon is-small"><i class="fa fa-times"></i></span>
                            <span>Reject offer</span>
                          </a>
								        </p>
								      </div>
										</div>
									</div>
								  <button class="modal-close"></button>
								</div>
                <div id="loading-offers" class="margin-top-20 content">
									<p>
                    <span class="icon is-small margin-right-10"><i class="fa fa-spin fa-refresh"></i></span>
                    <span>Now loading domain offers...</span>
									</p>
								</div>
                <div id="deposited-offer" class="hidden-while-loading-offers has-border-bottom padding-bottom-20 is-hidden">
                  <div class="content">
                    <h3>
                      Congratulations on selling your domain!
                    </h3>
                    <p>
                      The money has been deposited and verified by DomaHub. You must now transfer the ownership of this domain to the new owner.
                      Once the new owner has verified that the ownership has been transferred over, the money will become available for withdrawal.
                      If you do not know how to manually transfer a domain, please refer to our <a href="/faq#transferguide" class="is-primary">Domain Transfer Guide</a>.
                    </p>
                    <p class="is-bold">
                      This domain must be transferred by <span id="deposited-deadline"></span>.
                    </p>
                    <p class="is-bold">
                      Failure to transfer ownership of the domain within the next 7 days will result in the money being refunded. Your account will be also be flagged for review.
                    </p>
                    <p>
                      <p class="resend-wrapper">
                        <a id="resend-deposit" class="button is-stylish is-small">Re-send verification email to buyer</a>
                      </p>
                      <a class="is-primary" href="/contact">
                        Having issues? Contact us for assistance.
                      </a>
                    </p>
                  </div>
                </div>
                <div id="accepted-offer" class="hidden-while-loading-offers has-border-bottom padding-bottom-20 is-hidden">
                  <div class="content">
                    <h3>
                      I accepted the offer--what's next?
                    </h3>
                    <p>
                      The buyer has been sent an email with instructions on completing payment.
                      Once the payment has been verified, you will need to manually transfer the ownership of this domain to him/her.
                      If you do not know how to manually transfer a domain, please refer to our <a href="/faq#transferguide" class="is-primary">Domain Transfer Guide</a>.
                    </p>
                    <p>
                      <span class="is-bold">There is no required action on your part just yet.</span> Hold tight, we are getting you your money.
                    </p>
                    <p>
                      If you have changed your mind about this offer, please <a href="/contact" class="is-primary">let us know</a>.
                    </p>
                    <p class="resend-wrapper">
                      <a id="resend-accept" class="button is-stylish is-small">Re-send payment email to buyer</a>
                    </p>
                  </div>
                </div>
                <div id="offers-toolbar" class="hidden-while-loading-offers is-hidden control has-border-bottom padding-bottom-20 margin-bottom-0 is-grouped">
                  <div class="control is-spaced is-expanded is-mobile">
                    <div class="control-left control has-icon">
											<span class="select is-small">
	                      <select id="offers-sort-select" tabindex="0">
	                        <option selected value="timestamp_desc">Date Received (Newest)</option>
	                        <option value="timestamp_asc">Date Received (Oldest)</option>
	                        <option value="offer_desc">Price (High - Low)</option>
	                        <option value="offer_asc">Price (Low - High)</option>
	                        <option value="name_asc">Offerer Name (A - Z)</option>
	                        <option value="name_desc">Offerer Name (Z - A)</option>
	                        <option value="accepted_desc">Rejected / Accepted</option>
	                        <option value="accepted_asc">Accepted / Rejected</option>
	                      </select>
	                    </span>
											<i class="fa fa-sort"></i>
											<a id="refresh-offers" class="button is-outlined is-small">
												<span class="icon is-small"><i class="fa fa-refresh"></i></span>
												<span class="button-text">Refresh</span>
											</a>
										</div>
										<div class="control-right">
											<a id="show-rejected-offers" class="button is-outlined is-small">
												<span class="icon is-small"><i class="fa fa-toggle-off"></i></span>
												<span class="button-text">Show Rejected</span>
											</a>
										</div>
                  </div>
                </div>
                <div id="no-offers" class="hidden-while-loading-offers content margin-top-20 is-hidden">
                  <p>
                    You have no outstanding offers on this domain!
                  </p>
                </div>
                <div id="offers-wrapper">

								</div>
								<div id="offer-clone" class="offer-row media is-hidden">
									<%# <div class="media-left">
										<form class="checkbox-form">
											<input class="select-offer" data-selected="false" type="checkbox" tabindex="0" title="Select Offer" />
											<label for="select-offer"></label>
										</form>
									</div>%>
									<div class="media-content">
										<div class="media-heading">
											<p class="offer-name"></p>
										</div>
										<div class="media-items">
											<div class="media-item">
												<p class="offer-timestamp"></p>
											</div>
										</div>
									</div>
									<div class="media-right has-text-right">
										<p class="is-bold"><span class="offer-accepted"></span><span class="offer-offer"></span></p>
										<a class="button offer-modal-button is-small margin-top-5" tabindex="0">View Offer</a>
									</div>
								</div>
							</div>
              <div id="stats-tab-drop" class="drop-tab is-hidden">
                <div id="loading-stats" class="margin-top-20 content">
									<p>
                    <span class="icon is-small margin-right-10"><i class="fa fa-spin fa-refresh"></i></span>
                    <span>Now loading listing statistics...</span>
									</p>
								</div>
								<div id="no-stats" class="content is-hidden">
									<p>
										There is no activity on this domain yet. Need some tips? Check out our <a href="/faq" class="is-primary">FAQ</a>.
									</p>
								</div>
								<div class='stats-loading control'>
                  <div class="control">
                    <label class="label">
											<span class="v-align-middle">Unique Referers</span>
											<span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="What website your users are coming from (where they are being referred from)." data-balloon-pos="up">
												<i class="fa fa-question-circle"></i>
											</span>
										</label>
                    <div class="chart-min-height">
                      <canvas id="referer-chart"></canvas>
                    </div>
                  </div>
                  <div class="control">
                    <label class="label">
                      <span class="v-align-middle">Traffic</span>
                    </label>
                    <div class="chart-min-height">
                      <canvas id="traffic-chart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
						<footer id="tab-buttons-wrapper" class="yes-listings-elem is-hidden margin-top-25">
							<a id="verify-button" class="unverified-elem is-disabled button is-primary is-stylish is-small" title="Verify this domain">
								<span class="icon is-small"><i class="fa fa-check-circle-o"></i></span>
								<span>Verify Now</span>
							</a>
							<a id="refresh-dns-button" class="unverified-elem button is-outlined is-stylish is-small" title="Refresh DNS">
								<span class="icon is-small"><i class="fa fa-refresh"></i></span>
								<span>Refresh Table</span>
							</a>
							<div class="verified-elem">
								<button id="save-changes-button" class="button is-disabled is-primary is-stylish is-small">
  								<span>Save Changes</span>
                </button>
								<button id="cancel-changes-button" class="button is-danger is-inverted is-hidden is-stylish is-small">
                  <span>Cancel Changes</span>
                </button>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include("../templates/footer"); %>
	<script src="/js/jquery/jquery-ui.js" type="text/javascript"></script>
	<script src="/js/lib/moment.min.js" type="text/javascript"></script>
	<script src="/js/lib/tag-it.min.js" type="text/javascript"></script>
	<script src="/js/lib/wNumb.js" type="text/javascript"></script>
	<script src="/js/jquery/jquery.minicolors.min.js" type="text/javascript"></script>
  <script src="/js/themes.js" type="text/javascript"></script>
  <script src="/js/lib/chart.min.js" type="text/javascript"></script>
  <script src="/js/lib/randomColor.js" type="text/javascript"></script>
	<script type="text/javascript">
		var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>window.location="/"<% } %>;
		var listings = <% if(typeof listings != "undefined"){ %><%-JSON.stringify(listings)%><% }else{ %>""<% } %>;
		var categories = <% if(typeof categories != "undefined"){ %><%-JSON.stringify(categories)%><% }else{ %>""<% } %>;
		var fonts = <% if(typeof fonts != "undefined"){ %><%-JSON.stringify(fonts)%><% }else{ %>""<% } %>;
	</script>
	<script src="/js/routes/profile/profile_mylistings_logic.js" type="text/javascript"></script>
</body>

</html>
