<!DOCTYPE html>
<html>
  <head>
    <title><%= listing_info.domain_name %> - <%= (accepted) ? "Accept Offer" : "Reject Offer" %></title>
    <%- include("../templates/head_links.ejs"); %>
    <script type="text/javascript">
        var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
        var offer_info = <% if(typeof offer_info != "undefined"){ %><%-JSON.stringify(offer_info)%><% }else{ %>""<% } %>;
        var accepted = <% if(typeof accepted != "undefined"){ %><%-JSON.stringify(accepted)%><% }else{ %>""<% } %>;
    </script>
  </head>

  <body>

      <p>
          Offer for <%= listing_info.domain_name %>
      </p>

      <p>
          Offer Details:
      </p>

      <ul>
          <li>
              Name - <%= offer_info.name %>
          </li>
          <li>
              Email - <%= offer_info.email %>
          </li>
          <li>
              Phone - <%= offer_info.phone %>
          </li>
          <li>
              Offer - <%= offer_info.offer %>
          </li>
          <li>
              Message - <%= offer_info.message %>
          </li>
      </ul>

      <p>
          <a id="main_button" class='button is-primary'>Click to <%= (accepted) ? "accept" : "reject" %> this offer.</a>
      </p>
      <p>
          <a id="secondary_button" class='button is-accent'>I changed my mind, <%= (!accepted) ? "accept" : "reject" %> this offer.</a>
      </p>
      <small>Once you accept an offer, it is legally binding. Read more about this in our <a class='is-accent' href="/terms">terms</a>.</small>


      <div id="error-message" class="is-hidden notification is-danger">
          <button class="delete"></button>
          <span class="icon is-small">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </span>
          Something went wrong with this offer! Please refresh the page and try again.
      </div>

      <div id="success-message" class="is-hidden notification is-success">
          <button class="delete"></button>
          <span class="icon is-small">
              <i class="fa fa-check" aria-hidden="true"></i>
          </span>
          <span id="success-message-text"></span>
      </div>


      <%- include("../templates/js_scripts"); %>
      <script src="/js/routes/listings/accept_or_reject_logic.js" type="text/javascript"></script>

  </body>

</html>
