<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub - <%= listing_info.domain_name %></title>
		<%- include("../templates/head_links", {user: user});%>
		<link rel="stylesheet" href="/css/lib/fullcalendar.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/listing_page.css" type="text/css" />
	</head>

	<body>
		<%- include("../templates/navbar", {user: user}); %>
		<%- include("../templates/listing_page") %>

		<div id="listing-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-container-calendar">
				<div id="calendar-modal-content" class="modal-content listing-modal-content">
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<a class="button is-danger no-shadow" id="remove_events">Remove Selected</a>
							</div>
							<div class="level-item">
								<a class="button no-shadow" id="month_button">Month View</a>
							</div>
							<div class="level-item">
								<a class="button no-shadow" id="today-button">Today</a>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<a id="redirect-next-button" class="button no-shadow is-primary is-disabled">Next</a>
							</div>
						</div>
					</nav>
					<div id="price-ticker" class="has-text-centered">
						<h1 id="price">$0</h1>
					</div>
				</div>
				<div id="redirect-modal-content" class="modal-content listing-modal-content is-hidden">
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<a id="redirect-back-button" class="button no-shadow">
									<span class="icon">
								    <i class="fa fa-angle-left"></i>
								  </span>
								  <span>Go Back</span>
								</a>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<a id="preview-next-button" class="button is-primary no-shadow">
									<span>Preview</span>
									<span class="icon">
								    <i class="fa fa-angle-right"></i>
								  </span>
								</a>
							</div>
						</div>
					</nav>
					<div class="content">
						<h1>Now connect your content to <span class="is-underlined"><%= listing_info.domain_name %></span>.<h1>
					</div>
					<p class="control">
						<input required class="input" id="address_form_input" type="url" placeholder="Enter your URL">
					</p>
					<div class="content margin-top-25">
						<h3 class="is-blacklight is-bold">Need Help?</h3>
						<p>Here are examples of some things you can connect to your new rental:</p>
					</div>
					<div class="columns">
						<div class="column">
							Slides
						</div>
						<div class="column">
							Images
						</div>
						<div class="column">
							Resume
						</div>
					</div>
					<div class="columns">
						<div class="column">
							Portfolio
						</div>
						<div class="column">
							Marketing
						</div>
						<div class="column">
							Subpages
						</div>
					</div>
				</div>
				<div id="preview-modal-content" class="modal-content listing-modal-content is-hidden">

				</div>
			</div>
			<button class="modal-close"></button>
		</div>

		<%# keep calendar outside of modal and move it in with JS to fix weird bug of not appearing%>
		<div id="calendar"></div>

<!--
		<div id="address_wrapper" class="page_wrapper">

			<div class="info_wrapper">
				<h2 class="listing_info_text listing_info_text_white">Connect your website to <span class="green_text"><%= listing_info.domain_name %></span><h2>
				<input required class="input" id="address_form_input" type="url" placeholder="URL">
				<div class="button next_button" id="address_next">Next</div>
				<div id="faq_wrapper">
					<h3>Don&#39;t know how?</h3>
				</div>
			</div>

		</div>

		<div id="pay_wrapper" class="page_wrapper">

			<div class="info_wrapper">
				<form id="listing_form" action="/listing/<%=listing_info.domain_name%>/pay" method="post">
					<button class="form_submit button btn btn-primary btn-lg" id="stripe-button">
						Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
					</button>
				</form>
			</div>

		</div> -->

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script src="/js/lib/fullcalendar.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script type="text/javascript">
			var listing_message = <% if(typeof listing_message != "undefined"){ %><%-JSON.stringify(listing_message)%><% }else{ %>""<% } %>;
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
			var rental_info = <% if(typeof rental_info != "undefined"){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/calendar/calendar_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/calendar/calendar_general_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_general_logic.js" type="text/javascript"></script>

	</body>

</html>
