<!-- page for listings that dont exist -->

<!DOCTYPE html>

<html>

	<head>
		<title>Browse Listings - DomaHub</title>
		<link rel="stylesheet" href="/css/listing_404.css" type="text/css" />
		<link rel="stylesheet" href="/css/listings.css" type="text/css" />
		<link href="/css/nouislider.min.css" rel="stylesheet">
    <%- include("../templates/head_links"); %>
	</head>

	<body>

		<%- include("../templates/navbar", {user: user}); %>

		<section class="section is-medium">
			<div class="container">
				<div class="columns">
					<div class="column">
						<p class="control has-icon">
							<input class="input is-large" type="text" placeholder="Search domains" />
							<i class="fa fa-search"></i>
						</p>
						<div class="control is-horizontal">
						  <div class="control-label is-padded">
						    <label class="label is-medium">Date Range</label>
						  </div>
						  <div class="control is-grouped">
						    <p class="control is-expanded">
						      <input class="input" type="date" required="required" placeholder="Rental Start Date">
						    </p>
						    <p class="control is-expanded">
						      <input class="input" type="date" required="required" placeholder="Rental End Date">
						    </p>
						  </div>
						</div>
						<div class="control is-horizontal">
							<div class="control-label is-padded">
								<label class="label is-medium">Price Range</label>
							</div>
							<div class="control">
								<span class="select">
							    <select>
							      <option disabled>Select Rate</option>
							      <option>Hourly</option>
										<option>Daily</option>
										<option>Weekly</option>
										<option>Monthly</option>
										<option>Yearly</option>
							    </select>
							  </span>
							</div>
						</div>
					</div>
				</div>

				<div id="slider">

				</div>
			</div>
		</section>

		<!-- <section class="hero is-primary is-medium">
			<div class="hero-body">
				<div class="container">
					<div class="columns">
						<div class="column is-half">
							<div class="content">
								<h1 class="title is-2 is-white">Browse Listings</h1>
								<p class="subtitle is-4 is-whitelight">
									Use this page to browse all listings.
								</p>
							</div>
						</div>
						<div class="column is-half">
							<div class="notification">
								<div class="content">
									<h1 class="title is-white is-3">Don't have an account yet?</h1>
									<p class="is-whitelight">
										Click the button below to sign up now.
									</p>
									<a class="button is-large is-accent" href="/signup" title="Sign Up">Sign Up</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column">
						<h1 class="title is-4 is-normal">Browse by Category</h1>
					</div>
				</div>
				<div class="columns">
					<div class="column">
						<div class="box">
							<div class="content">
								<h2>Start-Up Domains</h2>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="box">
							<div class="content">
								<h2>Events</h2>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="box">
							<div class="content">
								<h2>Industry</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script type="text/javascript">
			var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
			var available = <% if(typeof available != "undefined"){ %><%-JSON.stringify(available)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/lib/nouislider.min.js"></script>
		<script src="/js/routes/listings/listing_hub_logic.js" type="text/javascript"></script>

		</body>
</html>
