<!DOCTYPE html>

<html>

	<head>
		<title>Browse Listings - DomaHub</title>
		<link rel="stylesheet" href="/css/min/listing_hub.min.css" type="text/css" />
  	<%- include("../templates/head_links"); %>
	</head>

	<body>

		<%- include("../templates/navbar", {user: user}); %>

		<section class="section is-medium min-height">
			<div class="container">
				<form id="domain-name-search" class='margin-bottom-15'>
					<div class="control has-icon has-addons">
						<input id="domain-name-input" name="domain_name" autofocus class="input is-medium" tabindex="0" type="text" placeholder="Search for domains" />
						<i class="fa fa-search"></i>
						<button class="button is-primary is-stylish" type="submit">Submit</button>
					</div>
				</form>
				<div class="control margin-bottom-25">
					<span id="total-domains-num" class='v-align-middle margin-right-15'>Total Domains: 0</span>
					<span class='v-align-middle margin-right-15'>Sort: </span>
					<span class="select v-align-middle">
						<select id="order-value">
							<option value="az">Name: A to Z</option>
							<option value="za">Name: Z to A</option>
							<option value="lh">Price: Low to High</option>
							<option value="hl">Price: High to Low</option>
						</select>
					</span>
				</div>
				<div id="domain-table">
					<a id="clone-listing-row" class="is-hidden domain-listing">
						<p class="domain-name"></p>
						<p class="is-bold domain-price"><span class='domain-price-rate'></span><span class='domain-price-type'></span></p>
					</a>
					<a id="none-listing-row" class="is-hidden domain-listing">
						<p class="is-bold domain-name">There are no matching domains with that name!</p>
					</a>
				</div>
				<div class="control is-grouped-center margin-top-20">
					<button id="load-button" class="button no-shadow">
						<span class="icon is-small"><i class="fa fa-refresh"></i></span>
						<span>Load More</span>
					</button>
				</div>
			</div>
		</section>

		<%- include("../templates/footer"); %>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script type="text/javascript">
			var categories_front = <% if(typeof categories_front != "undefined"){ %><%-JSON.stringify(categories_front)%><% }else{ %>""<% } %>;
			var categories_back = <% if(typeof categories_back != "undefined"){ %><%-JSON.stringify(categories_back)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/listings/listing_hub_logic.js" type="text/javascript"></script>
		</body>
</html>
