<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub - <%= listing_info.domain_name %></title>
		<%- include("../templates/head_links", {user: user});%>
		<link rel="stylesheet" href="/css/lib/fullcalendar.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/listing_page.css" type="text/css" />
	</head>

	<body>
		<%- include("../templates/navbar", {user: user}); %>
		<%- include("../templates/listing_page") %>

		<div id="listing-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-container-calendar">
				<% if (!user) { %>

					<div id="login-modal-content" class="listing-modal-content">
						<div class="columns">
							<div class="column is-half margin-bottom-50">
								<div class="content">
									<h3 class="is-bold">Log In / Create Account</h3>
									<p>
										You may either log into an existing account or proceed as a guest.
										If you do not already have a DomaHub account, we strongly recommend
										<a tabindex="1" href="/signup" class="orange-link">signing up</a> before renting.
									</p>
								</div>
							</div>
						</div>
						<div class="columns">
							<div class="column is-5">
								<div class="content">
									<h3 class="is-bold">Existing User Login</h3>
									<small>
										Enter your information below to proceed.
									</small>
								</div>
								<form>
									<p class="control">
										<label class="label">Email</label>
										<input tabindex="1" required class="input" autofocus name="email" type="email" id="email-input" spellcheck="false" value="" />
									</p>
									<p class="control">
										<label class="label">Password</label>
										<input tabindex="1" required class="input" name="password" type="password" id="pw-input" autocomplete="new-password" value="" />
									</p>
									<p class="control">
										<a tabindex="1" href="/forgot" class="orange-link">Forgot your password?</a>
									</p>
									<p class="control">
										<a tabindex="1" class="button is-primary is-medium is-fullwidth">Log In</a>
									</p>
								</form>
							</div>
							<div class="column is-2">
								<div id="linebreak">

								</div>
							</div>
							<div class="column is-5">
								<div class="content">
									<h3 class="is-bold">Continue as a Guest</h3>
									<small>
										You may continue your transaction as a guest. However,
										you will not have access to essential configuration tools
										until you create a DomaHub account. There will be an option
										to create an account at the end of this transaction.
									</small>
									<p class="control margin-top-25">
										<a tabindex="1" id="guest-button" class="button is-primary is-medium is-fullwidth">Proceed as Guest</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div id="calendar-modal-content" class="listing-modal-content is-hidden">
				<% } else { %>
					<div id="calendar-modal-content" class="listing-modal-content">
				<% } %>
					<div id="calendar-modal-top">
						<nav class="level">
							<div class="level-left">
								<% if (!user) { %>
									<div class="level-item">
										<a tabindex="1" id="calendar-back-button" class="button no-shadow">
											<span class="icon">
										    <i class="fa fa-angle-left"></i>
										  </span>
										  <span>Go Back</span>
										</a>
									</div>
								<% } %>
								<div class="level-item">
									<a tabindex="1" class="button is-danger no-shadow" id="remove_events">Remove Selected</a>
								</div>
								<div class="level-item">
									<a tabindex="1" class="button no-shadow" id="month_button">Month View</a>
								</div>
								<div class="level-item">
									<a tabindex="1" class="button no-shadow" id="today-button">Today</a>
								</div>
							</div>
							<div class="level-right">
								<div class="level-item">
									<a tabindex="1" id="redirect-next-button" class="button no-shadow is-primary is-disabled">
										<span>Next</span>
										<span class="icon">
											<i class="fa fa-angle-right"></i>
									  	</span>
									</a>
								</div>
							</div>
						</nav>
						<div class="columns">
							<div class="column is-half has-borderRight">
								<div class="content">
									<h1>Select your desired times.</h1>
									<p id="calendar-error-message">
										Click a cell on the calendar to reserve that time slot.
										You may select whole days by clicking on the date.
										Use the buttons at the top to remove all selected cells or
										change calendar views.
									</p>
								</div>
							</div>
							<div class="column is-3">
								<div class="content padding-5">
									<%- include("../templates/listing_prices") %>
								</div>
							</div>
							<div class="column is-3 flex-column-center">
								<div class="content has-text-centered">
									<h1 id="price" class="is-inline-block"></h1>
								</div>
							</div>
						</div>
					</div>
					<div id="calendar-modal-bottom">

					</div>

				</div>
				<div id="redirect-modal-content" class="listing-modal-content is-hidden">
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<a tabindex="1" id="redirect-back-button" class="button no-shadow">
									<span class="icon">
								    <i class="fa fa-angle-left"></i>
								  </span>
								  <span>Go Back</span>
								</a>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<a tabindex="1" id="preview-next-button" class="button is-disabled is-primary no-shadow">
									<span>Review</span>
									<span class="icon">
								    	<i class="fa fa-angle-right"></i>
								  	</span>
								</a>
							</div>
						</div>
					</nav>
					<h1 class="title is-3">Now connect your content to <span class="is-primary is-bold"><%= listing_info.domain_name %></span>.<h1>
					<div class="columns">
						<div class="column is-half">
							<div class="content">
								<p id="address-error-message">
									The content of the URL you link below will be displayed when anyone
									goes to your rental domain name. You may change this URL at any time.
								</p>
							</div>
						</div>
					</div>
					<p class="control has-icon">
						<input tabindex="1" required class="input is-medium" id="address_form_input" type="url" placeholder="Enter the URL of your content">
						<i class="fa fa-link"></i>
					</p>
					<div class="content margin-top-50">
						<h3 class="is-bold">Need Help?</h3>
						<p>Here are examples of some things you can connect to your new domain rental.</p>
					</div>
					<div class="columns">
						<div class="column is-half">
							<div class="box">
								<div class="content">
									<a href="https://www.slidesjs.com"><h3 class="is-bold is-accent">SlidesJS</h3></a>
									<p>
										SlidesJS is a responsive slideshow plug-in for jQuery.
									</p>
								</div>
								<div class="columns">
									<div class="column">
										<figure class="image is128x128">
											<img src="/images/main/listing_slidejs.PNG" />
										</figure>
									</div>
									<div class="column">
										<a class="button">Get Started</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-half">
							<div class="box">
								<div class="content">
									<a href="https://www.kickresume.com"><h3 class="is-bold is-accent">Kickresume</h3></a>
									<p>
										Create a resume, cover letter, or personal website in minutes with Kickresume.
									</p>
								</div>
								<div class="columns">
									<div class="column">
										<figure class="image is128x128">
											<img src="/images/main/listing_kickresume.PNG" />
										</figure>
									</div>
									<div class="column">
										<a class="button">Get Started</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%# <div class="columns">
						<div class="column is-half">
							<div class="box">

							</div>
						</div>
						<div class="column is-half">
							<div class="box">

							</div>
						</div>
					</div>%>
				</div>
				<div id="preview-modal-content" class="listing-modal-content is-hidden">
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<a id="preview-back-button" class="button no-shadow">
									<span class="icon">
										<i class="fa fa-angle-left"></i>
									</span>
									<span>Go Back</span>
								</a>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<a tabindex="1" id="checkout-button" class="button is-primary no-shadow">
									<span class="icon">
										<i class="fa fa-shopping-cart"></i>
									</span>
									<span>Checkout</span>
								</a>
							</div>
						</div>
					</nav>
					<div class="columns">
						<div class="column is-6">
							<div class="content">
								<h1 class="title is-3">Payment Information</h1>
								<p id="stripe-error-message">
									Please enter your payment information below.
								</p>
								<!-- <iframe id="preview-iframe"></iframe> -->
							</div>
							<form id="stripe-form" autocomplete="on">
								<label class="label">Credit or Debit Card Number &#42;</label>
								<p class="control has-icon">
									<input tabindex="1" id="cc-num" data-stripe="number" class="input stripe-input is-medium" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
									<i class="fa fa-credit-card"></i>
									<i class="fa fa-cc-visa is-hidden"></i>
									<i class="fa fa-cc-diners-club is-hidden"></i>
									<i class="fa fa-cc-jcb is-hidden"></i>
									<i class="fa fa-cc-mastercard is-hidden"></i>
									<i class="fa fa-cc-amex is-hidden"></i>
									<i class="fa fa-cc-discover is-hidden"></i>
								</p>
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label class="label">Expiration Date &#42;</label>
										<input tabindex="1" id="cc-exp" maxlength="7" data-stripe="exp" class="input stripe-input is-medium" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
									</p>
									<p class="control">
										<label class="label">Security Code &#42;</label>
										<input tabindex="1" id="cc-cvc" data-stripe="cvc" class="input stripe-input is-medium" type="tel" placeholder="•••" autocomplete="off"/>
									</p>
								</div>
								<p class="control">
									<label class="label">Zip Code &#42;</label>
									<input tabindex="1" id="cc-zip" maxlength="6" data-stripe="address_zip" class="input stripe-input is-medium" type="tel" autocomplete="postal-code" placeholder="•••••"/>
								</p>
								<p class="control is-bold">
									&#42; Required fields
								</p>
								<% if (!user) { %>
								<small>
									You are currently checking out as a GUEST. If you wish to create
									an account, you may do so by using the form below.
								</small>
								<% %>
							</form>
							<form class="checkbox-form margin-top-10">
								<input class="is-small" value="agree-to-terms" id="agree-to-terms" type="checkbox" />
								<label class="is-small" tabindex="1" for="agree-to-terms">
									I agree to the Terms & Conditions. I also agree to pay the total amount
									shown.
								</label>
							</form>
							<p class="control margin-top-20">
								<a class="button is-primary is-medium">Confirm &#38; Pay</a>
							</p>
							<% %>
							<div class="content margin-top-25">
								<h3 class="is-bold">Create an Account</h3>
								<p>
									We will send you an email with a corresponding link to get your account set up.
								</p>
							</div>
							<form>
								<label class="label">Email Address</label>
								<p class="control has-addons">
									<input tabindex="1" class="input is-medium" type="email" />
									<a class="button is-primary is-medium">
								    Submit
								  </a>
								</p>
							</form>
							<% } %>
						</div>
						<div class="column is-1">

						</div>
						<div class="column is-4">
							<div class="content">
								<h1 class="title is-3">Rental Summary</h1>
								<p>
									Please take a moment to review the summary above.
									You may edit the information on any of the previous
									pages by clicking the go back button.
								</p>
							</div>
							<div class="box">
								<div class="rental-summary-section">
									<div class="content">
										<h1 class="title is-3 is-primary has-text-centered"><%= listing_info.domain_name %></h1>
									</div>
								</div>
								<div class="rental-summary-section">
									<div class="columns">
										<div class="column is-half">
											<div class="content">
												<p id="preview-start-dates" class="is-bold">
													Rental Start
												</p>
											</div>
										</div>
										<div class="column is-half">
											<div class="content">
												<p id="preview-end-dates" class="is-bold">
													Rental End
												</p>
											</div>
										</div>
									</div>
									<p class="control is-expanded">
										<a tabindex="1" id="edit-dates-button" class="button is-primary is-fullwidth">Edit Dates</a>
									</p>
								</div>
								<div class="rental-summary-section">
									<div class="columns">
										<div class="column is-half">
											<div class="content">
												<h3 class="is-bold">
													Rate
												</h3>
											</div>
										</div>
										<div class="column is-half">
											<div id="preview-rates" class="content has-text-right"></div>
										</div>
									</div>
								</div>
								<div class="rental-summary-section">
									<div class="columns">
										<div class="column is-half">
											<div class="content">
												<h2 class="is-bold">
													Total
												</h2>
											</div>
										</div>
										<div class="column is-half">
											<div class="content has-text-right">
												<h2 id="price-total"></h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="modal-close"></button>
		</div>

		<%# keep calendar outside of modal and move it in with JS to fix weird bug of not appearing%>
		<div id="calendar" class="margin-top-25"></div>

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script src="/js/lib/fullcalendar.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script src="/js/lib/jquery.payment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var listing_message = <% if(typeof listing_message != "undefined"){ %><%-JSON.stringify(listing_message)%><% }else{ %>""<% } %>;
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
			var rental_info = <% if(typeof rental_info != "undefined"){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/calendar/calendar_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/calendar/calendar_general_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_general_logic.js" type="text/javascript"></script>

	</body>

</html>
