<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title><%= listing_info.domain_name %> - DomaHub</title>
		<link rel="stylesheet" href="/css/lib/daterangepicker.css" type="text/css" />
		<link rel="stylesheet" href="/css/min/listing_page.min.css" type="text/css" />
		<%- include("../templates/head_links", {user: user});%>
	</head>

	<body>

    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/lib/wNumb.js" type="text/javascript"></script>
    <script type="text/javascript">
      var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
      var compare = <% if(typeof compare != "undefined"){ %><%-JSON.stringify(compare)%><% }else{ %>""<% } %>;
    </script>

		<%- include("../templates/notifications.ejs");%>

		<%# TOOL TO COMPARE %>
		<% if (compare) { %>
			<%- include("modules/compare_module.ejs") %>
		<% } %>

		<%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
		<% if (listing_info.unlisted && !compare) { %>
			<%- include("unlisted_page.ejs") %>
		<% } else { %>
			<%- include("listed_page.ejs") %>
		<% } %>

		<%# LISTING FOOTER %>
		<%- include("listing_footer.ejs") %>

    <script src="/js/routes/listings/theming.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_logic.js" type="text/javascript"></script>

	</body>

</html>
