<!DOCTYPE html>
<html class="prevent-scroll-jump">

<head>
  <title>Checkout - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/listing_checkout.min.css" />
  <link rel="stylesheet" href="/css/min/listing_page.min.css" type="text/css" />
  <script type="text/javascript">
    var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
    var new_buying_info = <% if(typeof new_buying_info != "undefined"){ %><%-JSON.stringify(new_buying_info)%><% }else{ %>""<% } %>;
    var node_env = <% if(typeof node_env != "undefined"){ %><%-JSON.stringify(node_env)%><% }else{ %>""<% } %>;;
    var compare = false;
  </script>
  <%- include("../templates/head_links"); %>
</head>

<body>

  <section id="page-contents" class="no-background section is-hidden is-medium min-height">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <header class="step-header header margin-top-15">
            <h2>Checkout</h2>
          </header>
          <div id="step-content-payment" class='step-content'>
            <div class="notification is-lighter no-shadow has-border">
              <p id="payment-regular-message" class="regular-message">
                Please choose your preferred method of payment.</a>
              </p>
              <p id="stripe-regular-message" class="is-hidden regular-message">
                Please enter your payment information. By clicking the Confirm & Pay button,
                you are agreeing to pay the entire amount shown as well as our <a tabindex="0" href="/terms" class='is-primary'>Terms and Conditions</a>.
              </p>
              <p id="paypal-regular-message" class="is-hidden regular-message">
                Please log in to your PayPal account.
              </p>
              <p id="stripe-error-message" class="error-message is-danger is-hidden"></p>
              <p id="stripe-success-message" class="regular-message is-hidden"></p>
            </div>

            <div id="choices-block">
              <div id="stripe-choice" class="checkout-track box hover-effect choice-block">
                <div class="content">
                  <div class="step-box">
                    <span class="icon is-medium is-primary">
                      <i class="fa fa-credit-card"></i>
                    </span>
                    <h2>Pay with a card</h2>
                  </div>
                  <p>
                    Pay with any major credit or debit card.
                  </p>
                </div>
              </div>
              <%#
              <div id="bitcoin-choice" class="checkout-track box hover-effect choice-block">
                <div class="content">
                  <div class="step-box">
                    <span class="icon is-medium is-accent">
                        <i class="fa fa-bitcoin"></i>
                    </span>
                    <h2>Pay with Bitcoin</h2>
                  </div>
                  <p>
                    Pay securely using your Bitcoin wallet.
                  </p>
                </div>
              </div>
              <div id="paypal-choice" class="checkout-track box hover-effect choice-block">
                <div class="content">
                  <div class="step-box">
                    <span class="icon is-medium is-info">
                        <i class="fa fa-paypal"></i>
                    </span>
                    <h2>Pay with PayPal</h2>
                  </div>
                  <p>
                    Login to your PayPal account and pay instantly using your PayPal balance or any of your saved payment methods.
                  </p>
                </div>
              </div> %>
            </div>

            <div id="choices-selected" style="display:none;">
              <div id="stripe-choice-column" class="is-hidden choice-column">
                <form id="stripe-form" autocomplete="off">
                  <label class="label">Card Number</label>
                  <div class="control has-icon">
                    <input tabindex="0" required id="cc-num" data-stripe="number" class="checkout-track input stripe-input is-medium" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
                    <i id="cc-icon" class="fa fa-credit-card"></i>
                  </div>
                  <div class="control is-grouped">
                    <div class="control is-expanded has-icon">
                      <label class="label">Expiration Date</label>
                      <div class="control has-icon">
                        <input tabindex="0" required id="cc-exp" maxlength="7" data-stripe="exp" class="checkout-track input stripe-input is-medium" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
                        <i class="fa fa-calendar-o"></i>
                      </div>
                    </div>
                    <div class="control">
                      <label class="label">Security Code</label>
                      <div class="control has-icon">
                        <input tabindex="0" required id="cc-cvc" data-stripe="cvc" class="checkout-track input stripe-input is-medium" type="tel" placeholder="•••" autocomplete="off"/>
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                  </div>
                  <label class="label">Zip Code</label>
                  <div class="control has-icon">
                    <input tabindex="0" required id="cc-zip" maxlength="6" data-stripe="address_zip" class="checkout-track input stripe-input is-medium" type="tel" autocomplete="postal-code" placeholder="•••••"/>
                    <i class="fa fa-map-marker"></i>
                  </div>
                </form>

                <div class="control margin-top-30">
                  <a tabindex="0" class="goback-button checkout-track button is-stylish">
                    <span class="icon is-small"><i class="fa fa-long-arrow-left"></i></span>
                    <span>Go back</span>
                  </a>
                  <button id="checkout-button" tabindex="0" class="checkout-track button is-primary is-stylish">
                    <span class="icon is-small"><i class="fa fa-shopping-cart"></i></span>
                    <span>Confirm & Pay</span>
                  </button>
                </div>
              </div>
              <div id="paypal-choice-column" class="is-hidden choice-column">
                Log in with PayPal

                <div class="control margin-top-30">
                  <a tabindex="0" class="goback-button checkout-track button is-danger no-shadow is-stylish">
                    <span class="icon is-small"><i class="fa fa-undo"></i></span>
                    <span>Go back</span>
                  </a>
                </div>
              </div>
            </div>

            <div id="checkout-success-content" class="success-hide is-hidden">
              <div class="content">
                <p>
                  The owner of <strong><%= listing_info.domain_name %></strong> has been notified of your purchase and will reach out to you with details on how to take ownership of the domain.
                </p>
                <p>
                  If you do not receive any communications from the domain owner, please do not hesitate to <a class="is-accent" href="/contact/">contact us</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-5">
          <div class="card is-checkout">
            <figure class="card-image img-wrapper" style="background-image:url('<%=(listing_info.premium && listing_info.logo) ? listing_info.logo : 'https://domahub.com/images/lib/money.png'%>')"></figure>
            <div class="card-content">
              <div class="content has-text-centered">
                <h1 class="is-primary is-breakword"><%= listing_info.domain_name %></h1>
              </div>
              <div class="control-flex">
                <p>Name</p>
                <p class=""><%= new_buying_info.name %></p>
              </div>
              <div class="control-flex">
                <p>Email Address</p>
                <p class=""><%= new_buying_info.email %></p>
              </div>
              <div class="padding-bottom-15 has-border-bottom control-flex">
                <p>Phone Number</p>
                <p class=""><%= new_buying_info.phone %></p>
              </div>
              <div class="top control-flex">
                <h3>Total Price</h3>
                <h3 class="is-bold" id="total-price"></h3>
              </div>
            </div>
            <footer id="edit-dates-button" class="card-footer">
              <% if (listing_info.premium){ %>
                <a id="edit-dates-path" tabindex="0" href="/" class="checkout-track button is-stylish is-fullwidth">
                  <span class="icon is-small"><i class="fa fa-long-arrow-left"></i></span>
                  <span>Go Back</span>
                </a>
              <% } else { %>
                <a id="edit-dates-path" tabindex="0" href="https://domahub.com/listing/<%= listing_info.domain_name%>" class="checkout-track button is-stylish is-fullwidth">
                  <span class="icon is-small"><i class="fa fa-long-arrow-left"></i></span>
                  <span>Go Back</span>
                </a>
              <% } %>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%# LISTING FOOTER %>
  <%- include("listing_footer.ejs") %>

  <script src="/js/lib/moment.min.js" type="text/javascript"></script>
  <script src="/js/lib/wNumb.js" type="text/javascript"></script>
  <script src="https://js.stripe.com/v2/" type="text/javascript" ></script>
  <script src="/js/jquery/jquery.payment.min.js" type="text/javascript"></script>
  <script src="/js/routes/listings/listing_checkout_logic_buy.js" type="text/javascript"></script>
  <script src="/js/routes/listings/theming.js" type="text/javascript"></script>
</body>
</html>
