<!-- page for listings that dont exist -->

<!DOCTYPE html>

<html>

	<head>
		<title>Browse Listings - DomaHub</title>
		<link rel="stylesheet" href="/css/listing_404.css" type="text/css" />
		<link rel="stylesheet" href="/css/listings.css" type="text/css" />
		<link href="/css/lib/nouislider.min.css" rel="stylesheet">
    <%- include("../templates/head_links"); %>
	</head>

	<body>

		<%- include("../templates/navbar", {user: user}); %>

		<section class="section is-medium-top">
			<div class="container">
				<div class="columns">
					<div class="column">
						<p class="control has-icon">
							<input id="domain_name-input" class="input is-medium" tabindex="7" type="text" placeholder="Search domains" />
							<i class="fa fa-search"></i>
						</p>
						<div class="control is-horizontal">
						  <div class="control-label is-padded">
						    <label class="label is-medium">Date Range</label>
						  </div>
						  <div class="control is-grouped">
						    <p class="control is-expanded">
						      <input id="start_date-input" class="input is-medium" tabindex="8" type="date" required="required" placeholder="Rental Start Date">
						    </p>
						    <p class="control is-expanded">
						      <input id="end_date-input" class="input is-medium" tabindex="9" type="date" required="required" placeholder="Rental End Date">
						    </p>
						  </div>
						</div>
						<div class="control is-horizontal">
							<div class="control-label is-padded">
								<label class="label is-medium">Categories</label>
							</div>
							<div class="control checkbox-form">
								<%# using for loop to generate all categories %>
								<% for (var x = 0; x < categories_front.length; x++) {%>
									<div class="checkbox-wrapper">
										<input class="cat-checkbox" value="<%= categories_back[x] %>" id="cb<%= x %>" type="checkbox" />
										<label class="has-border" tabindex="<%= x + 10 %>" for="cb<%= x %>"><%= categories_front[x] %></label>
									</div>
								<% } %>
							</div>
						</div>
						<div class="control is-horizontal">
							<div class="control-label is-padded">
								<label class="label is-medium">Price / Rate</label>
							</div>
							<div class="control">
								<span class="select is-medium">
							    <select id="category-input">
							      	<option disabled>Select Rate</option>
						      		<%# <option value="minute_price">Minute</option>%>
						      		<option value="hour_price">Hourly</option>
									<option value="day_price">Daily</option>
									<option value="week_price">Weekly</option>
									<option value="month_price">Monthly</option>
									<%# <option>Yearly</option>%>
							    </select>
							  </span>
							</div>
						</div>
						<div id="slider">

						</div>
						<div id="linebreak">

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="is-small">
			<div class="container">
				<div id="filter-dropdown" class="is-hidden">
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label is-medium">Extensions</label>
						</div>
						<div class="control has-addons">
							<input class="input is-medium" type="text" placeholder="Extensions">
							<span class="select is-medium">
						    <select>
						      <option>.com</option>
						      <option>.net</option>
						      <option>.org</option>
						    </select>
						  </span>
						</div>
					</div>
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label is-medium">Domain Length</label>
						</div>
						<div class="control">
							<div id="sliderSmall">

							</div>
						</div>
					</div>
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label is-medium">Special Characters</label>
						</div>
						<div class="control">
							<input class="input is-medium" tabindex="17" type="text" placeholder="Exclude (separate by comma)">
						</div>
					</div>
					<div class="listing-buttons jc-flexEnd">
						<a id="filter-cancel-button" class="button is-medium">Cancel</a>
						<a id="filter-apply-button" class="button is-medium is-primary">Apply Filters</a>
					</div>
				</div>
				<div class="listing-buttons">
					<a id="submit-button" class="button is-primary is-disabled is-medium">Submit</a>
					<a id="filter-open-button" class="button is-medium">Filters</a>
					<%# <a class="button is-medium is-grey">
						<span>4 Characters</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>Hourly</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.com</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.net</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.org</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.io</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>%>
				</div>
				<table id="listings-table" class="table">
					<thead>
						<tr>
							<th>Domain Name</th>
							<th>Hourly</th>
							<th>Daily</th>
							<th>Weekly</th>
							<th>Monthly</th>
							<%# <th>Yearly</th>%>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</section>

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var categories_front = <% if(typeof categories_front != "undefined"){ %><%-JSON.stringify(categories_front)%><% }else{ %>""<% } %>;
			var categories_back = <% if(typeof categories_back != "undefined"){ %><%-JSON.stringify(categories_back)%><% }else{ %>""<% } %>;
			var random_listings = <% if(typeof random_listings != "undefined"){ %><%-JSON.stringify(random_listings)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/lib/nouislider.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_hub_logic.js" type="text/javascript"></script>

		</body>
</html>
