<!DOCTYPE html>

<html>

	<head>
		<title>Browse Listings - DomaHub</title>
		<link rel="stylesheet" href="/css/listing_404.css" type="text/css" />
		<link rel="stylesheet" href="/css/listing_hub.css" type="text/css" />
		<link rel="stylesheet" href="/css/lib/flatpickr.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/lib/nouislider.min.css" type="text/css" />
  	<%- include("../templates/head_links"); %>
	</head>

	<body>

		<%- include("../templates/navbar", {user: user}); %>

		<section class="section is-medium-top">
			<div class="container margin-bottom-25">
				<div class="columns">
					<div class="column">
						<p class="control has-icon has-addons">
							<input id="domain_name-input" class="input is-medium is-expanded" tabindex="7" type="text" placeholder="Search domains" />
							<i class="fa fa-search"></i>
							<a id="submit-button" class="button no-shadow is-primary is-medium">Submit</a>
							<a id="filter-open-button" class="button no-shadow is-medium">Advanced Search</a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="is-small min-height">
			<div class="container">
				<div id="filter-dropdown" class="is-hidden">
					<div class="control is-horizontal">
					  <div class="control-label is-padded">
						<label class="label">Date Range</label>
					  </div>
					  <div class="control is-grouped">
						<p class="control">
						  <input id="start_date-input" class="flatpickr input" tabindex="8" type="text" placeholder="Rental Start Date">
						</p>
						<!-- <p class="control">
						  <input id="end_date-input" class="flatpickr input" tabindex="9" type="text" placeholder="Rental End Date">
						</p> -->
					  </div>
					</div>
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label">Categories</label>
						</div>
						<form class="control checkbox-form is-flex-wrap">
							<%# using for loop to generate all categories %>
							<% for (var x = 0; x < categories_front.length; x++) {%>
								<div class="checkbox-wrapper">
									<input class="cat-checkbox is-small" value="<%= categories_back[x] %>" id="cb<%= x %>" type="checkbox" />
									<label class="has-border is-small" tabindex="<%= x + 10 %>" for="cb<%= x %>"><%= categories_front[x] %></label>
								</div>
							<% } %>
						</form>
					</div>
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label">Domain Length</label>
						</div>
						<div class="control has-slider">
							<div id="sliderSmall" class='margin-bottom-50'></div>
						</div>
					</div>
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label">Price / Rate</label>
						</div>
						<div class="control">
							<span class="select">
								<select id="category-input">
									<option selected disabled>Select Rate</option>
									<%# <option value="minute_price">Minute</option>%>
									<option value="none">None</option>
									<option value="hour_price">Hourly</option>
									<option value="day_price">Daily</option>
									<option value="week_price">Weekly</option>
									<option value="month_price">Monthly</option>
									<%# <option>Yearly</option>%>
								</select>
							</span>
						</div>
					</div>
					<div class="control has-slider">
						<div id="slider" class="margin-bottom-50"></div>
					</div>
					<%# <div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label">Extensions</label>
						</div>
						<div class="control has-addons">
							<input class="input" type="text" placeholder="Extensions">
							<span class="select">
							<select>
							  <option>.com</option>
							  <option>.net</option>
							  <option>.org</option>
							</select>
						  </span>
						</div>
					</div>
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label">Special Characters</label>
						</div>
						<div class="control">
							<input class="input" tabindex="17" type="text" placeholder="Exclude (separate by comma)">
						</div>
					</div>%>
				</div>
				<table id="listings-table" class="table">
					<thead>
						<tr>
							<th>Domain Name</th>
							<th id="availability-th">Availability</th>
							<th>Categories</th>
							<th>Hourly</th>
							<th>Daily</th>
							<th>Weekly</th>
							<th>Monthly</th>
							<%# <th>Yearly</th>%>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</section>

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script src="/js/lib/nouislider.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script src="/js/lib/flatpickr.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var categories_front = <% if(typeof categories_front != "undefined"){ %><%-JSON.stringify(categories_front)%><% }else{ %>""<% } %>;
			var categories_back = <% if(typeof categories_back != "undefined"){ %><%-JSON.stringify(categories_back)%><% }else{ %>""<% } %>;
			var random_listings = <% if(typeof random_listings != "undefined"){ %><%-JSON.stringify(random_listings)%><% }else{ %>""<% } %>;
			var min_max_prices = <% if(typeof min_max_prices != "undefined"){ %><%-JSON.stringify(min_max_prices)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/listings/listing_hub_logic.js" type="text/javascript"></script>

		</body>
</html>
