<script src="/js/routes/main/random_characters.js" type="text/javascript"></script>
<script src="/js/lib/typed.js" type="text/javascript"></script>
<script src="/js/lib/daterangepicker.js" type="text/javascript"></script>
<script src="/js/routes/listings/listing_listed_logic.js" type="text/javascript"></script>
<script src="/js/routes/listings/theming.js" type="text/javascript"></script>

<div id="compare-preview" class="is-hidden">

    <div id="show-menu-wrapper" class="control is-hidden">
      <button class="button">
        <span class="icon">
          <i class="fa fa-bars"></i>
        </span>
        <span>Show Menu</span>
      </button>
    </div>

    <div class="container">
        <div class="columns master right">
          <div class="column">

            <% if (listing_info.buy_price > 0) { %>
                <span id="buy-price-tag" class="tag is-primary margin-right-5 margin-bottom-5 is-hidden is-medium">
                    <span id="buy-price"></span>
                </span>
            <% } %>
            <% if (listing_info.rentable) { %>
                <span class="tag is-primary is-medium">
                  <% if (listing_info.price_rate > 0){ %>
                      For rent - $<%= listing_info.price_rate %> / <%= listing_info.price_type %>
                  <% } else { %>
                      For rent - Free
                  <% } %>
                  </span>
                </span>
            <% } %>
            <span id="free-until" class='is-hidden tag is-primary is-medium'></span>

            <div id="domain-display" class="content margin-top-15">
                <% if (listing_info.rentable) { %>
                    <h1 id="domain-title" class="is-primary is-inline-block margin-bottom-0"><%= listing_info.domain_name %></h1>
                    <form id="path-input" class="is-hidden is-inline-block">
                      <div class="control margin-bottom-0">
                        <input id="typed-slash" class='padding-0' tabindex="0" type="text" autocomplete="off"></input>
                        <label id="input-tooltip" style="display:none;" class="input-tooltip" for="typed-slash">Click here to edit.</label>
                        <label id="input-tooltip-error" class="input-tooltip is-active is-hidden" for="typed-slash">Input must be alphanumeric!</label>
                      </div>
                    </form>
                <% } else { %>
                    <h1 class="is-primary is-inline-block margin-bottom-0"><%= listing_info.domain_name %></h1>
                <% } %>
            </div>

            <%# DESCRIPTION AND CHECK AVAILABILITY MODULE %>
            <%- include("modules/desc_avail_module.ejs", {
                listing_info : listing_info
            }); %>
          </div>

          <div class="column">
              <% if (listing_info.rentable){ %>
                <div id="buy-rent-tabs" class="tabs has-shadow is-medium">
                    <ul>

                        <li id="buy-now-button" class="top-tab is-active">
                          <a>
                              <span>Purchase</span>
                          </a>
                        </li>

                        <li id="rent-now-button" class="top-tab">
                          <a>
                              <span>Rent</span>
                          </a>
                        </li>

                    </ul>
                </div>
            <% } %>

            <% if (listing_info.rentable){ %>
                <div class='box has-tabs'>
            <% } else { %>
                <div class='box'>
            <% } %>

                <% if (listing_info.status == 1) { %>
                    <%# BUY NOW MODULE %>
                    <%- include("modules/buy_now_module.ejs"); %>

                    <% if (listing_info.rentable) { %>
                        <%# CALENDAR MODULE %>
                        <%- include("modules/calendar_module.ejs"); %>
                    <% } %>

                <% } else { %>
                    <%# UNAVAILABLE MODULE %>
                    <%- include("modules/unavailable_module.ejs"); %>
                <% } %>

            </div>
          </div>
        </div>

        <%# TABS FOR THE BELOW MODULES %>
        <%- include("modules/tabs_module.ejs", {
            listing_info : listing_info
        }); %>

        <%# INFO MODULE %>
        <% if ((listing_info.premium && listing_info.info_module) || !listing_info.premium){ %>
            <%- include("modules/info_module.ejs", {
                listing_info : listing_info
            }); %>
        <% } %>

        <%# TRAFFIC MODULE %>
        <% if ((listing_info.premium && listing_info.traffic_module) || !listing_info.premium){ %>
            <%- include("modules/traffic_module.ejs", {
                listing_info : listing_info
            }); %>
        <% } %>

        <%# EXAMPLES MODULE %>
        <% if ((listing_info.premium && listing_info.history_module) || !listing_info.premium){ %>
            <%- include("modules/ticker_module.ejs", {
                listing_info : listing_info
            }); %>
        <% } %>
    </div>
</div>
