<section class="section is-medium-top">
    <div class="container">

        <span class="tag is-bold is-medium is-bordered">
          <span id="total-price" class='margin-right-5 is-hidden'>Total: </span>
          <span id="orig-price" class='margin-right-5 is-linethrough is-hidden'></span>
          <span id="actual-price">
              <% if (listing_info.price_rate > 0) { %>
                  $<%= listing_info.price_rate %> Per <%= listing_info.price_type.charAt(0).toUpperCase() + listing_info.price_type.substr(1) %>
              <% } else { %>
                  Free!
              <% } %>
          </span>
        </span>
        <span id="free-until" class='is-hidden tag is-bold is-medium is-bordered'></span>

        <div id="domain-display" class="content">
          <h1 class="is-primary is-inline-block margin-bottom-0"><%= listing_info.domain_name %>/</h1>
          <form id="path-input" class="is-inline-block">
            <div class="control margin-bottom-0">
              <input id="typed-slash" tabindex="0" type="text" autocomplete="off"></input>
              <label id="input-tooltip" style="display:none;" class="input-tooltip" for="typed-slash">Click here to edit.</label>
              <label id="input-tooltip-error" class="input-tooltip is-active is-hidden" for="typed-slash">Input must be alphanumeric!</label>
            </div>
          </form>
        </div>

        <%# DESCRIPTION AND CHECK AVAILABILITY MODULE %>
        <%- include("modules/desc_avail_module.ejs", {
            listing_info : listing_info
        }); %>

        <% if (listing_info.status == 1) { %>
            <%# CALENDAR MODULE %>
            <%- include("modules/calendar_module.ejs"); %>
        <% } else { %>
            <%# UNAVAILABLE MODULE %>
            <%- include("modules/unavailable_module.ejs"); %>
        <% } %>

    </div>
</section>

<section class="section is-medium">
  <div class="container">

      <%# TABS %>
      <div class="tabs is-boxed has-shadow margin-bottom-0">
        <ul>
          <li id="ticker-tab" class="tab is-active is-attached">
            <a>
                <span class="is-hidden-mobile icon is-small"><i class="fa fa-history"></i></span>
                <span>History</span>
            </a>
          </li>
          <li id="traffic-tab" class='tab'>
            <a>
                <span class="is-hidden-mobile icon is-small"><i class="fa fa-line-chart"></i></span>
                <span>Traffic</span>
            </a>
          </li>
          <li id="info-tab" class="tab is-attached">
            <a>
                <span class="is-hidden-mobile icon is-small"><i class="fa fa-info-circle"></i></span>
                <span>Information</span>
            </a>
          </li>
        </ul>
      </div>

    <%# EXAMPLES MODULE %>
    <%- include("modules/ticker_module.ejs", {
      listing_info : listing_info
    }); %>

    <%# TRAFFIC MODULE %>
    <%- include("modules/traffic_module.ejs", {
      listing_info : listing_info
    }); %>

    <%# INFO MODULE %>
    <%- include("modules/info_module.ejs", {
      listing_info : listing_info
    }); %>

  </div>
</section>
