<!DOCTYPE html>
<html>

<head>
    <title>DomaHub - Checkout</title>
    <link rel="stylesheet" type="text/css" href="/css/min/listing_checkout.min.css" />
    <%- include("../templates/head_links"); %>
</head>

<body>

    <%- include("../templates/navbar", {user: user}); %>

    <section class="section is-medium min-height">
        <div class="container">
            <div class="columns">
                <div class="column is-7">
                    <!--LOG IN STEP-->
                    <header id="step-header-log" class="step-header header">
                        <h2>1. Log In</h2>
                    </header>
                    <% if (!user) { %>
                        <div id="step-content-log" class="step-content columns margin-top-10">
                            <div class="column is-6">
                                <form>
                                    <h3>
                                        Already have an account?
                                    </h3>
                                    <p class="control">
                                        <a tabindex="1" class="login-modal button is-primary is-stylish">Log In</a>
                                    </p>
                                </form>
                            </div>
                            <div class="column is-6">
                                <div class="control">
                                    <h3 id="guest-message">
                                        Or you may continue as a guest.
                                    </h3>
                                    <a id="guest-button" class="button is-stylish">Continue</a>
                                    <div class="control has-addons is-hidden">
                                        <input tabindex="1" class="input is-medium" placeholder="Email" type="email"/>
                                        <a class="button is-stylish is-primary">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>

                    <!--BUILD SITE STEP-->
                    <header id="step-header-site" class="step-header header is-disabled margin-top-15">
                        <h2>2. Customize Your Website</h2>
                    </header>
                    <div id="step-content-site" class="step-content is-hidden">
                        <article class="message">
                            <div class="message-body">
                                <p id="address-regular-message" class="regular-message">
                                    There are many different ways to create content for your new domain name.
                                    See below for some options on what you can do with <span class='is-bold'><%= listing_info.domain_name %></span>!
                                </p>
                                <p id="address-link-message" class="is-hidden regular-message">
                                    Link an existing website or web content (e.g. a gif, image, meme, etc.). We will display it on <span class='is-bold'><%= listing_info.domain_name %></span> for the duration of your rental. Enter the link below to get started!
                                </p>
                                <p id="address-forward-message" class="is-hidden regular-message">
                                    Anyone navigating to <span class='is-bold'><%= listing_info.domain_name %></span> will be automatically redirected to this link for the duration of your rental. Enter the link of the website you want to get started!
                                </p>
                                <p id="address-build-message" class="is-hidden regular-message">
                                    Create an entirely new website for <span class='is-bold'><%= listing_info.domain_name %></span>. It doesn&#39;t matter if its a personal portfolio, your new eCommerce store, or just a fun website.
                                </p>
                                <p id="address-error-message" class="error-message is-danger is-hidden">This is an invalid website link! Please try something else.</p>
                            </div>
                        </article>

                        <div id="choices-block">
                            <div class="content box no-shadow is-primary hover-effect choice-block link-choice">
                                <div class="step-box">
                                    <span class="icon is-medium is-primary">
                                        <i class="fa fa-external-link-square"></i>
                                    </span>
                                    <h2 class="">Link web content</h2>
                                </div>
                                <p>
                                    Link an existing website or web content (e.g. a gif, image, meme, etc.).
                                    We will display that content on <span class='is-bold'><%= listing_info.domain_name %></span>.
                                </p>
                            </div>
                            <div class="content box no-shadow is-info hover-effect choice-block forward-choice">
                                <div class="step-box">
                                    <span class="icon is-medium is-info">
                                        <i class="fa fa-share-square"></i>
                                    </span>
                                    <h2 class="">Forward elsewhere</h2>
                                </div>
                                <p>
                                    Forward <span class='is-bold'><%= listing_info.domain_name %></span> to an entirely different domain or website.
                                </p>
                            </div>
                            <div class="content box no-shadow is-accent hover-effect choice-block build-choice">
                                <div class="step-box">
                                    <span class="icon is-medium is-accent">
                                        <i class="fa fa-pencil-square"></i>
                                    </span>
                                    <h2 class="">Build a website</h2>
                                </div>
                                <p>
                                    Use a website building service to create a new website for <span class='is-bold'><%= listing_info.domain_name %></span> in minutes.
                                    You don&#39;t even have to know how to code!
                                </p>
                            </div>
                        </div>

                        <div id="choices-selected" style="display:none;">
                            <div class="columns is-hidden link-choice-column choice-column">
                                <div class="column">
                                    <div class="control is-grouped">
                                        <p class="control is-expanded has-icon">
                                            <input tabindex="1" id="address-link-input" class="address-input input is-large" type="url" placeholder="A funny picture, a viral meme, or a cat GIF..."/>
                                            <i class="fa fa-link"></i>
                                        </p>
                                        <p class="control">
                                            <button class="address-next-button button is-large is-primary is-stylish">Submit</button>
                                        </p>
                                    </div>
                                    <p class='margin-bottom-10 margin-top-30'>Here are some example websites for inspiration!</p>
                                    <div class='is-flex-wrap'>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://imgur.com" title="Imgur" class="provider-img" style="border-color: #2b2b2b; background-color: #2b2b2b;">
                                              <img src="/images/companies/imgur-logo.png" alt="Imgur" height="40px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Gifs
                                              </li>
                                              <li>
                                                Memes
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://images.google.com" title="Google Images" class="provider-img" style="border-color: #efefef; background-color: #FFF;">
                                              <img src="/images/companies/google-images-logo.png" alt="Google Images" height="45px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Images
                                              </li>
                                              <li>
                                                Literally anything
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://reddit.com" title="Reddit" class="provider-img" style="border-color: #efefef; background-color: #efefef;">
                                              <img src="/images/companies/reddit-logo.png" alt="Reddit" height="40px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Threads
                                              </li>
                                              <li>
                                                Comments
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                    <small>NOTE: We are not sponsored by any of the sites listed above. Clicking the image will send you to the respective website.</small>
                                </div>
                            </div>
                            <div class="columns is-hidden forward-choice-column choice-column">
                                <div class="column">
                                    <div class="control is-grouped">
                                        <p class="control is-expanded has-icon">
                                            <input tabindex="1" id="address-forward-input" class="address-input input is-large" type="url" placeholder="Your company website, your friend's Instagram, or a product page..."/>
                                            <i class="fa fa-link"></i>
                                        </p>
                                        <p class="control">
                                            <button class="address-next-button button is-large is-primary is-stylish">Forward</button>
                                        </p>
                                    </div>
                                    <p class='margin-bottom-10 margin-top-30'>Here are some example websites for inspiration!</p>
                                    <div class='is-flex-wrap'>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://linkedin.com" title="LinkedIn" class="provider-img" style="border-color: #efefef; background-color: #efefef;">
                                              <img src="/images/companies/linkedin-logo.png" alt="LinkedIn"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Someone's profile
                                              </li>
                                              <li>
                                                Company page
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://facebook.com" title="Facebook" class="provider-img" style="border-color: #4867aa; background-color: #4867aa;">
                                              <img src="/images/companies/facebook-logo.png" alt="Facebook" height="50px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Someone's profile
                                              </li>
                                              <li>
                                                Facebook page
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://instagram.com" title="Instagram" class="provider-img" style="border-color: #efefef; background-color: #FFF;">
                                              <img src="/images/companies/Instagram-logo.png" alt="Instagram" height="50px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Account Page
                                              </li>
                                              <li>
                                                A photo
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                    <small>NOTE: We are not sponsored by any of the sites listed above. Clicking the image will send you to the respective website.</small>
                                </div>
                            </div>
                            <div class="columns is-hidden build-choice-column choice-column">
                                <div class="column">
                                    <div class="control is-grouped">
                                        <p class="control is-expanded has-icon">
                                            <input tabindex="1" id="address-build-input" class="address-input input is-large" type="url" placeholder="Your personal portfolio, an eCommerce store, or a new website..."/>
                                            <i class="fa fa-link"></i>
                                        </p>
                                        <p class="control">
                                            <button class="address-next-button button is-large is-primary is-stylish">Submit</button>
                                        </p>
                                    </div>
                                    <p class='margin-bottom-10 margin-top-30'>Here are some premium website creation services!</p>
                                    <div class='is-flex-wrap'>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://gsuite.google.com/products/sites/" title="Google Sites" class="provider-img" style="border-color: #efefef; background-color: #efefef;">
                                              <img src="/images/companies/google-logo.png" alt="Google" height="50px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Free option
                                              </li>
                                              <li>
                                                Collaborative
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://www.weebly.com/themes" title="Weebly" class="provider-img" style="border-color: rgb(41, 144, 234); background-color: rgb(41, 144, 234);">
                                              <img src="/images/companies/weebly-logo.png" alt="Weebly" height="35px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Free option
                                              </li>
                                              <li>
                                                eCommerce
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://www.squarespace.com/templates" title="Squarespace" class="provider-img" style="border-color: rgb(35, 31, 32); background-color: rgb(35, 31, 32);">
                                              <img src="/images/companies/squarespace-logo.png" alt="Squarespace" height="40px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Free option
                                              </li>
                                              <li>
                                                eCommerce
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="http://www.wix.com/website/templates" title="Wix" class="provider-img" style="border-color: rgb(170, 77, 200); background-color: rgb(170, 77, 200);">
                                              <img src="/images/companies/wix-logo.png" alt="Wix" height="35px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Free option
                                              </li>
                                              <li>
                                                eCommerce
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="provider-card">
                                          <a target="_blank" href="https://www.shopify.com/online" title="Shopify" class="provider-img" style="border-color: rgb(122, 181, 92); background-color: rgb(122, 181, 92);">
                                              <img src="/images/companies/shopify-logo.png" alt="Shopify" height="35px"/>
                                          </a>
                                          <div class="content">
                                            <ul class="has-disc">
                                              <li>
                                                Paid only
                                              </li>
                                              <li>
                                                eCommerce
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                    <small>NOTE: We are not sponsored by any of the sites listed above. Clicking the image will send you to the respective website.</small>
                                </div>
                            </div>
                            <div class="control">
                                <button class="button is-danger is-stylish back-button">Cancel</button>
                            </div>
                        </div>
                    </div>

                    <!--PAYMENT STEP-->
                    <header id="step-header-payment" class="step-header header is-disabled margin-top-15">
                        <h2>3. Payment</h2>
                    </header>
                    <div id="step-content-payment" class='step-content is-hidden'>
                        <article class="message">
                            <div class="message-body">
                                <p id="stripe-regular-message" class="regular-message">
                                    Please enter your payment information. By clicking the Confirm & Pay button,
                                    you are agreeing to pay the entire amount shown as well as our <a href="/terms" class='is-accent'>Terms and Conditions</a>.
                                </p>
                                <p id="stripe-error-message" class="error-message is-danger is-hidden"></p>
                            </div>
                        </article>
                        <div id="checkout-card-content" class="success-hide checkout-card-content">
                            <form id="stripe-form" autocomplete="on">
                                <label class="label is-medium">Card Number</label>
                                <p class="control has-icon">
                                    <input tabindex="1" id="cc-num" data-stripe="number" class="input stripe-input is-medium" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
                                    <i id="cc-icon" class="fa fa-credit-card"></i>
                                </p>
                                <div class="control is-grouped">
                                    <p class="control is-expanded">
                                        <label class="label is-medium">Expiration Date</label>
                                        <input tabindex="1" id="cc-exp" maxlength="7" data-stripe="exp" class="input stripe-input is-medium" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
                                    </p>
                                    <p class="control">
                                        <label class="label is-medium">Security Code</label>
                                        <input tabindex="1" id="cc-cvc" data-stripe="cvc" class="input stripe-input is-medium" type="tel" placeholder="•••" autocomplete="off"/>
                                    </p>
                                </div>
                                <p class="control">
                                    <label class="label is-medium">Zip Code</label>
                                    <input tabindex="1" id="cc-zip" maxlength="6" data-stripe="address_zip" class="input stripe-input is-medium" type="tel" autocomplete="postal-code" placeholder="•••••"/>
                                </p>
                            </form>
                            <div class="control margin-top-30">
                                <a id="back-to-address-button" tabindex="1" class="button is-danger no-shadow is-stylish">Go Back</a>
                                <a id="checkout-button" tabindex="1" class="button is-primary no-shadow is-stylish">Confirm & Pay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-5">
                    <div class="card is-checkout">
                        <figure class="card-image img-wrapper" style="background-image:url('<%= listing_info.background_image %>')"></figure>
                        <div class="card-content">
                            <div class="content">
                                <h1 class="is-primary"><%= listing_info.domain_name %></h1>
                            </div>
                            <p id="rental-will-msg" class="content is-hidden">
                            </p>
                            <p id="rental-will-duration-msg" class="content is-hidden">
                                for the duration of the rental below:
                            </p>
                            <div class="columns has-border-bottom">
                                <div class="column is-5">
                                    <p id="preview-start-dates">
                                        Rental Start
                                    </p>
                                    <p id="rental-start"></p>
                                </div>
                                <div class="column is-2">
                                    <span class="icon is-medium is-blacklight is-hidden-mobile">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </span>
                                </div>
                                <div class="column is-5">
                                    <p id="preview-end-dates">
                                        Rental End
                                    </p>
                                    <p id="rental-end"></p>
                                </div>
                            </div>
                            <div class="control-flex">
                                <p id="preview-rates">
                                    <span id="listing-price-rate"></span> x <span id="total-duration"></span>
                                </p>
                                <p class="total-price is-bold"></p>
                            </div>
                            <div class="control-flex">
                                <h3>Total Price</h3>
                                <h3 class="total-price is-bold"></h3>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a tabindex="1" href="/listing/<%= listing_info.domain_name%>" class="button is-stylish no-shadow card-footer-item">Edit Dates</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../templates/footer"); %>
    <%- include("../templates/js_scripts"); %>
    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/lib/wNumb.js" type="text/javascript"></script>
    <script src="https://js.stripe.com/v2/" type="text/javascript" ></script>
    <script src="/js/jquery/jquery.payment.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
    var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
    </script>
    <script src="/js/routes/listings/listing_checkout_logic.js" type="text/javascript"></script>
</body>
</html>
