<!-- page for listings that dont exist -->

<!DOCTYPE html>

<html>

	<head>
		<title>Browse Listings - DomaHub</title>
		<link rel="stylesheet" href="/css/listing_404.css" type="text/css" />
		<link rel="stylesheet" href="/css/listings.css" type="text/css" />
		<link href="/css/lib/nouislider.min.css" rel="stylesheet">
    <%- include("../templates/head_links"); %>
	</head>

	<body>

		<%- include("../templates/navbar", {user: user}); %>

		<section class="section is-medium-top">
			<div class="container">
				<div class="columns">
					<div class="column">
						<p class="control has-icon">
							<input id="domain_name-input" class="input is-medium" tabindex="7" type="text" placeholder="Search domains" />
							<i class="fa fa-search"></i>
						</p>
						<div class="control is-horizontal">
						  <div class="control-label is-padded">
						    <label class="label is-medium">Date Range</label>
						  </div>
						  <div class="control is-grouped">
						    <p class="control is-expanded">
						      <input id="start_date-input" class="input is-medium" tabindex="8" type="date" required="required" placeholder="Rental Start Date">
						    </p>
						    <p class="control is-expanded">
						      <input id="end_date-input" class="input is-medium" tabindex="9" type="date" required="required" placeholder="Rental End Date">
						    </p>
						  </div>
						</div>
						<div class="control is-horizontal">
							<div class="control-label is-padded">
								<label class="label is-medium">Categories</label>
							</div>
							<div class="control checkbox-form">
								<div class="checkbox-wrapper">
									<input class="cat-checkbox" value="startup" id="cb1" type="checkbox" />
									<label class="has-border" tabindex="10" for="cb1">Start-Up</label>
								</div>
								<div class="checkbox-wrapper">
									<input class="cat-checkbox" value="business" id="cb2" type="checkbox" />
									<label class="has-border" tabindex="11" for="cb2">Business</label>
								</div>
								<div class="checkbox-wrapper">
									<input class="cat-checkbox" value="event" id="cb3" type="checkbox" />
									<label class="has-border" tabindex="12" for="cb3">Event</label>
								</div>
								<div class="checkbox-wrapper">
									<input class="cat-checkbox" value="promotion" id="cb4" type="checkbox" />
									<label class="has-border" tabindex="13" for="cb4">Promotion</label>
								</div>
								<div class="checkbox-wrapper">
									<input class="cat-checkbox" value="industry" id="cb5" type="checkbox" />
									<label class="has-border" tabindex="14" for="cb5">Industry</label>
								</div>
								<div class="checkbox-wrapper">
									<input class="cat-checkbox" value="Personal" id="cb6" type="checkbox" />
									<label class="has-border" tabindex="15" for="cb6">Personal</label>
								</div>
							</div>
						</div>
						<div class="control is-horizontal">
							<div class="control-label is-padded">
								<label class="label is-medium">Price / Rate</label>
							</div>
							<div class="control">
								<span class="select is-medium">
							    <select id="category-input">
							      	<option disabled>Select Rate</option>
						      		<%# <option value="minute_price">Minute</option>%>
						      		<option value="hour_price">Hourly</option>
									<option value="day_price">Daily</option>
									<option value="week_price">Weekly</option>
									<option value="month_price">Monthly</option>
									<%# <option>Yearly</option>%>
							    </select>
							  </span>
							</div>
						</div>
						<div id="slider">

						</div>
						<div id="linebreak">

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="is-small">
			<div class="container">
				<div id="filter-dropdown" class="is-hidden">
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label is-medium">Extensions</label>
						</div>
						<div class="control has-addons">
							<input class="input is-medium" tabindex="16" type="text" placeholder="Extensions">
							<span class="select is-medium">
						    <select>
						      <option>.com</option>
						      <option>.net</option>
						      <option>.org</option>
						    </select>
						  </span>
						</div>
					</div>
					<div class="control is-horizontal">
						<div class="control-label is-padded">
							<label class="label is-medium">Domain Length</label>
						</div>
						<div class="control">
							<div id="sliderSmall">

							</div>
						</div>
					</div>
					<div class="listing-buttons jc-flexEnd">
						<a id="filter-cancel-button" class="button is-medium">Cancel</a>
						<a id="filter-apply-button" class="button is-medium is-primary">Apply Filters</a>
					</div>
				</div>
				<div class="listing-buttons">
					<a id="submit-button" class="button is-primary is-medium">Submit</a>
					<a id="filter-open-button" class="button is-medium">Filters</a>
					<%# <a class="button is-medium is-grey">
						<span>4 Characters</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>Hourly</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.com</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.net</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.org</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>
					<a class="button is-medium is-grey">
						<span>.io</span>
						<span class="icon">
							<i class="fa fa-times-circle"></i>
						</span>
					</a>%>
				</div>
				<table id="listings-table" class="table">
					<thead>
						<tr>
							<th>Domain Name</th>
							<th>Hourly</th>
							<th>Daily</th>
							<th>Weekly</th>
							<th>Monthly</th>
							<th>Yearly</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a class="orange-link">happybirthday.com</a></td>
							<td>$500</td>
							<td>$5000</td>
							<td>$15000</td>
							<td>$50000</td>
							<td>$100000</td>
						</tr>
						<tr>
							<td><a class="orange-link">swanclub.com</a></td>
							<td>Unavailable</td>
							<td>$500</td>
							<td>$1500</td>
							<td>$5000</td>
							<td>$9999</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script type="text/javascript">
			var available = <% if(typeof available != "undefined"){ %><%-JSON.stringify(available)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/lib/nouislider.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_hub_logic.js" type="text/javascript"></script>

		</body>
</html>
