<script src="/js/routes/main/random_characters.js" type="text/javascript"></script>
<script src="/js/lib/typed.js" type="text/javascript"></script>
<script src="/js/lib/daterangepicker.js" type="text/javascript"></script>
<script src="/js/routes/listings/listing_listed_logic.js" type="text/javascript"></script>

<div id="page-contents" class="min-height is-hidden">
  <div class="listing-page">
    <div class="listing-left">
      <div class="listing-left-content">
        <div class="control-wrapper">
          <%# BUYABLE TAG %>
          <% if (listing_info.status == 1 && listing_info.buy_price > 0) { %>
            <span id="price-tag" class="tag is-primary is-stylish has-shadow is-medium is-hidden"></span>
          <% } else if (listing_info.status == 1){ %>
            <span id="price-tag" class="tag is-primary is-stylish has-shadow is-medium">Now available!</span>
          <% } else { %>
            <span class="tag is-danger is-stylish has-shadow is-medium">Unavailable</span>
          <% } %>

          <%# RENTABLE TAG %>
          <% if (listing_info.status == 1 && listing_info.rentable) { %>
            <span id="rent-price-tag" class="tag is-primary is-stylish has-shadow is-medium">
              <% if (listing_info.price_rate > 0){ %>
                For rent - $<%= listing_info.price_rate %> / <%= listing_info.price_type %>
              <% } else { %>
                For rent - Free
              <% } %>
            </span>
          <% } %>
          <span id="free-until" class='is-hidden tag is-stylish has-shadow is-medium'></span>
        </div>
        <div id="domain-display" class="content">
          <% if (listing_info.rentable) { %>
            <h1 id="domain-title" class="title is-primary is-inline-block"><%= listing_info.domain_name %></h1>
            <form id="path-input" class="is-hidden is-inline-block">
              <div class="control">
                <input id="typed-slash" class='padding-0' tabindex="0" type="text" autocomplete="off">
                <label id="input-tooltip" style="display:none;" class="input-tooltip" for="typed-slash">Click here to edit.</label>
                <label id="input-tooltip-error" class="input-tooltip is-active is-hidden" for="typed-slash">Input must be alphanumeric!</label>
              </div>
            </form>
          <% } else { %>
            <h1 class="title is-primary is-inline-block"><%= listing_info.domain_name %></h1>
          <% } %>
            <h2 class="subtitle is-4 is-blacklight">
              <% if (listing_info.status == 1) { %>
                is available for purchase.
              <% } else { %>
                is unavailable for purchase.
              <% } %>
            </h2>

        </div>

        <%# INFO MODULE %>
        <%- include("modules/info_module.ejs", {
          listing_info : listing_info
        }); %>

      </div>
    </div>
    <div class="listing-right">
      <div id="buy-rent-tabs" class="tabs is-boxed is-medium is-centered">
        <ul>
          <li id="buy-tab" data-position="1" class="tab module-tab is-active">
            <a tabindex="0">Purchase</a>
          </li>
          <% if (listing_info.rentable && listing_info.status == 1){ %>
            <li id="calendar-tab" data-position="2" class="tab module-tab">
              <a tabindex="0">Rent</a>
            </li>
          <% } %>

          <% if ((listing_info.premium && listing_info.traffic_module) || !listing_info.premium || listing_info.unlisted){ %>
            <li id="traffic-tab" data-position="3" class='tab module-tab'>
              <a tabindex="0">Traffic</a>
            </li>
          <% } %>

          <% if ((listing_info.premium && listing_info.history_module) || !listing_info.premium || listing_info.unlisted){ %>
            <li id="ticker-tab" data-position="4" class="tab module-tab">
              <a tabindex="0">History</a>
            </li>
          <% } %>

          <% if (listing_info.domain_list) { %>
            <li id="domainlist-tab" data-position="5" class="tab module-tab">
              <a tabindex="0">More</a>
            </li>
          <% } %>

        </ul>
      </div>

      <%# SOLD MODULE %>
      <% if (listing_info.deposited) { %>
        <%- include("modules/sold_module.ejs"); %>
      <% } else { %>

        <% if (listing_info.status == 1) { %>
          <%# BUY NOW MODULE %>
          <%- include("modules/buy_now_module.ejs"); %>

        <% if (listing_info.rentable) { %>
          <%# CALENDAR MODULE %>
          <%- include("modules/calendar_module.ejs"); %>
        <% } %>
        <% } %>

      <% } %>

      <%# TRAFFIC MODULE %>
      <% if ((listing_info.premium && listing_info.traffic_module) || !listing_info.premium){ %>
      <%- include("modules/traffic_module.ejs", {
        listing_info : listing_info
      }); %>
      <% } %>

      <%# OTHER DOMAINS MODULE %>
      <% if ((listing_info.premium && listing_info.domain_list) || !listing_info.premium){ %>
      <%- include("modules/domain_list_module.ejs", {
        listing_info : listing_info
      }); %>
      <% } %>

      <%# HISTORY MODULE %>
      <% if ((listing_info.premium && listing_info.history_module) || !listing_info.premium){ %>
        <%- include("modules/ticker_module.ejs", {
          listing_info : listing_info
        }); %>
      <% } %>

    </div>

  </div>
</div>
