<script src="/js/routes/main/random_characters.js" type="text/javascript"></script>
<script src="/js/lib/typed.js" type="text/javascript"></script>
<script src="/js/lib/daterangepicker.js" type="text/javascript"></script>
<script src="/js/routes/listings/listing_listed_logic.js" type="text/javascript"></script>

<div id="page-contents" class="is-hidden">
  <div class="container">
    <div class="columns master right">
      <div class="column">
        <div class="control-wrapper">
          <%# BUYABLE TAG %>
          <% if (listing_info.status == 1 && listing_info.buy_price > 0) { %>
            <span id="price-tag" class="tag is-primary is-hidden is-medium"></span>
          <% } else if (listing_info.status == 1){ %>
            <span id="price-tag" class="tag is-primary is-medium">Now available!</span>
          <% } else { %>
            <span class="tag is-primary is-medium">Currently unavailable</span>
          <% } %>

          <%# RENTABLE TAG %>
          <% if (listing_info.status == 1 && listing_info.rentable) { %>
            <span id="rent-price-tag" class="tag is-primary is-medium">
              <% if (listing_info.price_rate > 0){ %>
                For rent - $<%= listing_info.price_rate %> / <%= listing_info.price_type %>
              <% } else { %>
                For rent - Free
              <% } %>
            </span>
          <% } %>
          <span id="free-until" class='is-hidden tag is-primary is-medium'></span>
        </div>
        <div id="domain-display" class="content">
          <% if (listing_info.rentable) { %>
            <h1 id="domain-title" class="is-primary is-inline-block"><%= listing_info.domain_name %></h1>
            <form id="path-input" class="is-hidden is-inline-block">
              <div class="control">
                <input id="typed-slash" class='padding-0' tabindex="0" type="text" autocomplete="off">
                <label id="input-tooltip" style="display:none;" class="input-tooltip" for="typed-slash">Click here to edit.</label>
                <label id="input-tooltip-error" class="input-tooltip is-active is-hidden" for="typed-slash">Input must be alphanumeric!</label>
              </div>
            </form>
          <% } else { %>
            <h1 class="is-primary is-inline-block"><%= listing_info.domain_name %></h1>
          <% } %>
        </div>

        <%# DESCRIPTION AND CHECK AVAILABILITY MODULE %>
        <%- include("modules/desc_avail_module.ejs", {
            listing_info : listing_info
        }); %>
      </div>

      <div id="buy-rent-column" class="column">
        <%# SOLD MODULE %>
        <% if (listing_info.deposited) { %>
          <%- include("modules/sold_module.ejs"); %>
        <% } else { %>

          <% if (listing_info.rentable && listing_info.status == 1){ %>
            <div id="buy-rent-tabs" class="tabs has-shadow is-medium">
              <ul>
                <li id="buy-now-button" class="top-tab is-active">
                  <a>
                    <span>Purchase</span>
                  </a>
                </li>

                <li id="rent-now-button" class="top-tab">
                  <a>
                    <span>Rent</span>
                  </a>
                </li>
              </ul>
            </div>
          <% } %>

          <% if (listing_info.rentable && listing_info.status == 1){ %>
            <div class='box has-tabs'>
          <% } else { %>
            <div class='box'>
          <% } %>

            <% if (listing_info.status == 1) { %>
              <%# BUY NOW MODULE %>
              <%- include("modules/buy_now_module.ejs"); %>

            <% if (listing_info.rentable) { %>
              <%# CALENDAR MODULE %>
              <%- include("modules/calendar_module.ejs"); %>
            <% } %>

            <% } else { %>
              <%# UNAVAILABLE MODULE %>
              <%- include("modules/unavailable_module.ejs"); %>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>

    <div id="modules-wrapper">

      <%# TABS FOR THE BELOW MODULES %>
      <%- include("modules/tabs_module.ejs", {
        listing_info : listing_info
      }); %>

      <%# INFO MODULE %>
      <%- include("modules/info_module.ejs", {
        listing_info : listing_info
      }); %>

      <%# TRAFFIC MODULE %>
      <%- include("modules/traffic_module.ejs", {
        listing_info : listing_info
      }); %>

      <%# EXAMPLES MODULE %>
      <% if ((listing_info.premium && listing_info.history_module) || !listing_info.premium){ %>
        <%- include("modules/ticker_module.ejs", {
          listing_info : listing_info
        }); %>
      <% } %>

    </div>
  </div>
</div>
