<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub - <%= listing_info.domain_name %></title>
		<%- include("../templates/head_links", {user: user});%>
		<link rel="stylesheet" href="/css/lib/fullcalendar.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/listing_page.css" type="text/css" />
	</head>

	<body>
		<%- include("../templates/navbar", {user: user}); %>
		<%- include("../templates/listing_page") %>

		<div id="listing-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-container-calendar">
				<% if (!user) { %>

					<div id="login-modal-content" class="listing-modal-content">
						<div class="columns">
							<div class="column is-half margin-bottom-50">
								<div class="content">
									<h1>Log In / Create Account</h1>
									<p>
										You may either log into an existing account or proceed as a guest.
										If you do not already have a DomaHub account, we strongly recommend
										<a tabindex="1" href="/signup" class="orange-link">signing up</a> before renting.
									</p>
								</div>
							</div>
						</div>
						<div class="columns">
							<div class="column is-5">
								<div class="content">
									<h2 class="is-bold">Existing User Login</h2>
									<small>
										Enter your information below to proceed.
									</small>
								</div>
								<form>
									<p class="control">
										<label class="label">Email</label>
										<input tabindex="1" required class="input" autofocus name="email" type="email" id="email-input" spellcheck="false" value="" />
									</p>
									<p class="control">
										<label class="label">Password</label>
										<input tabindex="1" required class="input" name="password" type="password" id="pw-input" autocomplete="new-password" value="" />
									</p>
									<p class="control">
										<a tabindex="1" href="/forgot" class="orange-link">Forgot your password?</a>
									</p>
									<p class="control">
										<a tabindex="1" class="button is-primary is-medium is-fullwidth">Log In</a>
									</p>
								</form>
							</div>
							<div class="column is-2">
								<div id="linebreak">

								</div>
							</div>
							<div class="column is-5">
								<div class="content">
									<h2 class="is-bold">Continue as a Guest</h2>
									<small>
										You may continue your transaction as a guest. However,
										you will not have access to essential configuration tools
										until you create a DomaHub account. There will be an option
										to create an account at the end of this transaction.
									</small>
									<p class="control margin-top-25">
										<a tabindex="1" id="guest-button" class="button is-primary is-medium is-fullwidth">Proceed as Guest</a>
									</p>
								</div>
							</div>
						</div>
					</div>

					<div id="calendar-modal-content" class="listing-modal-content is-hidden">
				<% } else { %>
					<div id="calendar-modal-content" class="listing-modal-content">
				<% } %>
					<div id="calendar-modal-top">
						<nav class="level">
							<div class="level-left">
								<% if (!user) { %>
									<div class="level-item">
										<a tabindex="1" id="calendar-back-button" class="button no-shadow">
											<span class="icon">
										    <i class="fa fa-angle-left"></i>
										  </span>
										  <span>Go Back</span>
										</a>
									</div>
								<% } %>
								<div class="level-item">
									<a tabindex="1" class="button is-danger no-shadow" id="remove_events">Remove Selected</a>
								</div>
								<div class="level-item">
									<a tabindex="1" class="button no-shadow" id="month_button">Month View</a>
								</div>
								<div class="level-item">
									<a tabindex="1" class="button no-shadow" id="today-button">Today</a>
								</div>
							</div>
							<div class="level-right">
								<div class="level-item">
									<a tabindex="1" id="redirect-next-button" class="button no-shadow is-primary is-disabled">
										<span>Next</span>
										<span class="icon">
											<i class="fa fa-angle-right"></i>
									  	</span>
									</a>
								</div>
							</div>
						</nav>
						<div class="columns">
							<div class="column is-half has-borderRight">
								<div class="content">
									<h1>Select your desired times.</h1>
									<p id="calendar-error-message">
										Click a cell on the calendar to reserve that time slot.
										You may select whole days by clicking on the date.
										Use the buttons at the top to remove all selected cells or
										change calendar views.
									</p>
								</div>
							</div>
							<div class="column is-3">
								<div class="content padding-5">
									<%- include("../templates/listing_prices") %>
								</div>
							</div>
							<div class="column is-3 flex-column-center">
								<div class="content has-text-centered">
									<h1 id="price" class="is-inline-block">$0</h1>
								</div>
							</div>
						</div>
					</div>
					<div id="calendar-modal-bottom">

					</div>

				</div>
				<div id="redirect-modal-content" class="listing-modal-content is-hidden">
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<a tabindex="1" id="redirect-back-button" class="button no-shadow">
									<span class="icon">
								    <i class="fa fa-angle-left"></i>
								  </span>
								  <span>Go Back</span>
								</a>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<a tabindex="1" id="preview-next-button" class="button is-disabled is-primary no-shadow">
									<span>Review</span>
									<span class="icon">
								    	<i class="fa fa-angle-right"></i>
								  	</span>
								</a>
							</div>
						</div>
					</nav>
					<h1 class="title is-3">Now connect your content to <span class="is-primary is-bold"><%= listing_info.domain_name %></span>.<h1>
					<div class="columns">
						<div class="column is-half">
							<div class="content">
								<p id="address-error-message">
									The content of the URL you link below will be displayed when anyone
									goes to your rental domain name. You may change this URL at any time.
								</p>
							</div>
							<p class="control">
								<input tabindex="1" autofocus required class="input is-medium" id="address_form_input" type="url" placeholder="Enter the URL of your content">
							</p>
							<div class="content margin-top-25">
								<h3 class="is-bold">Need Help?</h3>
								<p>
									You can connect any web content to your new domain name rental.
									A blog, website, portfolio, resume, images, GIFs, videos,
									etc.
								</p>
								<p>
									Below are a examples of some web content creation platforms that you
									can link to your new domain name rental.
								</p>
								<small>
									Know or own something that would be a great fit for this page?
									<a class="orange-link" href="/contact">Let us know</a>!
								</small>
							</div>
						</div>
					</div>
					<div class="columns">
						<div class="column">
							<div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
								<header class="card-header no-shadow is-white">
									<h3 class="is-bold card-header-title">
										<a tabindex="1" class="primary-link" href="https://www.slides.com" target="_blank" title="slides.com">
											Slides.com
										</a>
									</h3>
									<div class="card-header-icon is-marginless">
										<i class="fa fa-external-link"></i>
									</div>
								</header>
								<div class="card-image">
									<figure class="image is-3by2">
										<a tabindex="1" href="https://www.slides.com" target="_blank" title="slides.com">
											<img src="/images/listing/listing-slides.PNG" alt="slides.com capture image" />
										</a>
									</figure>
								</div>
								<div class="card-content">
									<div class="content">
										<p>
											Make better slide presentations right on your browser with Slides.com.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
								<header class="card-header no-shadow is-white">
									<h3 class="is-bold card-header-title">
										<a tabindex="1" class="primary-link" href="https://www.kickresume.com" target="_blank" title="kickresume.com">
											Kickresume.com
										</a>
									</h3>
									<div class="card-header-icon is-marginless">
										<i class="fa fa-external-link"></i>
									</div>
								</header>
								<div class="card-image">
									<figure class="image is-3by2">
										<a tabindex="1" href="https://www.kickresume.com" target="_blank" title="kickresume.com">
											<img src="/images/listing/listing-kickresume.jpg" alt="kickresume.com capture image" />
										</a>
									</figure>
								</div>
								<div class="card-content">
									<div class="content">
										<p>
											Create a resume, cover letter, or personal website in minutes with Kickresume.
										</p>
									</div>
								</div>
							</div>
							</a>
						</div>
						<div class="column">
							<div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
								<header class="card-header no-shadow is-white">
									<h3 class="is-bold card-header-title">
										<a tabindex="1" class="primary-link" href="https://www.openme.com" target="_blank" title="openme.com">Openme.com</a>
									</h3>
									<div class="card-header-icon is-marginless">
										<i class="fa fa-external-link"></i>
									</div>
								</header>
								<div class="card-image">
									<figure class="image is-3by2">
										<a tabindex="1" href="https://www.openme.com" target="_blank" title="openme.com">
											<img src="/images/listing/listing-openme.PNG" alt="kickresume.com capture image" />
										</a>
									</figure>
								</div>
								<div class="card-content">
									<div class="content">
										<p>
											Send a free personalized eCard or greeting for any occasion on Openme.com
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
								<header class="card-header no-shadow is-white">
									<h3 class="is-bold card-header-title">
										<a tabindex="1" class="primary-link" href="https://www.portfoliobox.net" target="_blank" title="openme.com">
											Portfoliobox.net</a>
									</h3>
									<div class="card-header-icon is-marginless">
										<i class="fa fa-external-link"></i>
									</div>
								</header>
								<div class="card-image">
									<figure class="image is-3by2">
										<a tabindex="1" href="https://www.portfoliobox.net" target="_blank" title="portfoliobox.net">
											<img src="/images/listing/listing-portfolio-box.jpg" alt="portfoliobox.net capture image" />
										</a>
									</figure>
								</div>
								<div class="card-content">
									<div class="content">
										<p>
											Build your own online portfolio and manage galleries, blogs, and more with Portfoliobox.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="preview-modal-content" class="listing-modal-content is-hidden">
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<a id="preview-back-button" class="button no-shadow">
									<span class="icon">
										<i class="fa fa-angle-left"></i>
									</span>
									<span>Go Back</span>
								</a>
							</div>
						</div>
					</nav>
					<div class="columns">
						<div class="column is-5">
							<div class="content">
								<h1 class="title is-3">Payment Information</h1>
								<p id="stripe-error-message">
									Please enter your payment information below.
								</p>
							</div>
							<form id="stripe-form" autocomplete="on">
								<label class="label">Credit or Debit Card Number *</label>
								<p class="control has-icon">
									<input tabindex="1" id="cc-num" data-stripe="number" class="input stripe-input is-medium" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
									<i id="cc-icon" class="fa fa-credit-card"></i>
								</p>
								<div class="control is-grouped">
									<p class="control is-expanded">
										<label class="label">Expiration Date *</label>
										<input tabindex="1" id="cc-exp" maxlength="7" data-stripe="exp" class="input stripe-input is-medium" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
									</p>
									<p class="control">
										<label class="label">Security Code *</label>
										<input tabindex="1" id="cc-cvc" data-stripe="cvc" class="input stripe-input is-medium" type="tel" placeholder="•••" autocomplete="off"/>
									</p>
								</div>
								<p class="control">
									<label class="label">Zip Code *</label>
									<input tabindex="1" id="cc-zip" maxlength="6" data-stripe="address_zip" class="input stripe-input is-medium" type="tel" autocomplete="postal-code" placeholder="•••••"/>
								</p>
								<p class="control is-bold">
									* Required fields
								</p>
							</form>
							<form class="checkbox-form margin-top-10">
								<input class="is-small" value="agree-to-terms" id="agree-to-terms" type="checkbox" />
								<label class="is-small" tabindex="1" for="agree-to-terms">
									I agree to the <a class="orange-link">Terms & Conditions</a>. I also agree to pay the total amount
									shown.
								</label>
							</form>
							<p class="control margin-top-20">
								<a id="checkout-button" class="button is-primary is-medium">
									<span class="icon">
										<i class="fa fa-check-circle-o"></i>
									</span>
									<span>Confirm & Pay</span>
								</a>
							</p>

							<% if (!user) { %>
							<div class="content margin-top-25">
								<h3 class="is-bold">Create an Account</h3>
								</br>
								<small>
								You are currently checking out as a guest. If you wish to create
								an account, enter your email below and we will send you a link to
								get your account set up. Creating an account allows you to edit
								your rental at any time.
								</small>
							</div>
							<form>
								<label id="new-user-email-error" class="label">Email Address</label>
								<p class="control has-addons">
									<input tabindex="1" id="new_user_email" class="input is-medium" placeholder="Email" type="email" />
								</p>
							</form>
							<% } %>
						</div>
						<div class="column is-2">
							<div id="linebreak">

							</div>
						</div>
						<div class="column is-4">
							<div class="content">
								<h1 class="title is-3">Rental Summary</h1>
								<p>
									Please take a moment to review the summary below.
									You may edit the information on any of the previous
									pages by clicking the go back button.
								</p>
							</div>
							<div class="box">
								<div class="rental-summary-section">
									<div class="content">
										<h1 class="title is-3 is-primary has-text-centered"><%= listing_info.domain_name %></h1>
									</div>
								</div>
								<div class="rental-summary-section">
									<div class="columns">
										<div class="column is-half">
											<div class="content">
												<p id="preview-start-dates" class="is-bold">
													Rental Start
												</p>
											</div>
										</div>
										<div class="column is-half">
											<div class="content">
												<p id="preview-end-dates" class="is-bold">
													Rental End
												</p>
											</div>
										</div>
									</div>
									<p class="control is-expanded">
										<a tabindex="1" id="edit-dates-button" class="button is-primary is-fullwidth">Edit Dates</a>
									</p>
								</div>
								<div class="rental-summary-section">
									<div class="columns">
										<div class="column is-half">
											<div class="content">
												<h3 class="is-bold">
													Rate
												</h3>
											</div>
										</div>
										<div class="column is-half">
											<div id="preview-rates" class="content has-text-right"></div>
										</div>
									</div>
								</div>
								<div class="rental-summary-section">
									<div class="columns">
										<div class="column is-half">
											<div class="content">
												<h2 class="is-bold">
													Total
												</h2>
											</div>
										</div>
										<div class="column is-half">
											<div class="content has-text-right">
												<h2 id="price-total"></h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="modal-close"></button>
		</div>

		<%# keep calendar outside of modal and move it in with JS to fix weird bug of not appearing%>
		<div id="calendar" class="margin-top-25"></div>

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script src="/js/lib/fullcalendar.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script src="/js/lib/jquery.payment.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var listing_message = <% if(typeof listing_message != "undefined"){ %><%-JSON.stringify(listing_message)%><% }else{ %>""<% } %>;
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
			var rental_info = <% if(typeof rental_info != "undefined"){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/calendar/calendar_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/calendar/calendar_general_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_general_logic.js" type="text/javascript"></script>

	</body>

</html>
