<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub - <%= listing_info.domain_name %></title>
		<%- include("../templates/head_links", {user: user});%>
		<link rel="stylesheet" href="/css/lib/fullcalendar.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/listing_unique.css" type="text/css" />
	</head>

	<body>
		<%- include("../templates/navbar", {user: user}); %>

		<section id="background_image" class="section listing-section landing-img" style="background-image:url('<%= listing_info.background_image || 'https://source.unsplash.com/category/nature' %>')">

		</section>

		<section id="top_wrapper" class="page_wrapper section is-small has-borderBottom">
			<div class="container">
				<div class="columns">
					<div class="column is-half">
						<div class="listing-info-wrapper">
							<div class="content">
								<a class="primary-link" href="http://<%= listing_info.domain_name %>">
								<h1 class="title is-1 is-bold is-primary is-inline-block">
								<%= listing_info.domain_name %></h1></a>
							</div>
							<div class="content is-marginless">
								<% if (listing_info.status == 1) { %>
								<span class="tag is-medium is-primary">Available</span>
								<% } else { %>
								<span class="tag is-medium is-danger">Unavailable</span>
								<% } %>
							</div>
							<div class="content">
								<h3 class="is-blacklight is-bold">Listing Description</h3>
								<p>
									<%= listing_info.description %>
								</p>
							</div>
						</div>
						<div class="listing-info-wrapper is-hidden-mobile">
							<div class="content">
								<h3 class="is-blacklight is-bold">Other Information</h3>
							</div>
						<% if (listing_info.buy_link) { %>
						<div class="columns has-borderBottom">
							<div class="column is-4">
								<div class="content">
									<p>
										Purchase Link
									</p>
								</div>
							</div>
							<div class="column is-4">
								<div class="content">
									<a class="orange-link"><%= listing_info.buy_link %></a>
								</div>
							</div>
						</div>
						<% } %>
						<div class="columns has-borderBottom">
							<div class="column is-4">
								<div class="content">
									<p>
										Date Created
									</p>
								</div>
							</div>
							<div class="column is-4">
								<div class="content">
									<p id="date_created"></p>
								</div>
							</div>
						</div>
						<% if (listing_info.categories) { %>
							<div class="columns has-borderBottom">
								<div class="column is-4">
									<div class="content">
										<p>
											Categories
										</p>
									</div>
								</div>
								<div class="column is-8">
									<div class="content">
										<p>
											<% var categories_array = listing_info.categories.split(" ");
												var display_array = [];
												for (var i = 0; i < categories_array.length; i++) {
													 display_array.push(categories_array[i].charAt(0).toUpperCase() + categories_array[i].substr(1)); %>
											<% } %>
											<%= display_array.join(", ") %>
											</p>
										</div>
									</div>
								</div>
								<% } %>
						</div>
						<div class="listing-info-wrapper is-hidden-mobile">
							<div class="content margin-top-25">
								<h3 class="is-blacklight is-bold">About Owner</h3>
							</div>
							<div class="columns">
								<div class="column is-4">
									<figure class="image is-circle is-96x96">
										<% if (listing_info.profile_pic){ %>
											<img src="<%= listing_info.profile_pic %>">
										<% } else { %>
											<%- "<img src='https://placeholdit.imgix.net/~text?txtsize=25&bg=9e9e9e&txtclr=ffffff&txt=" + listing_info.username + "&w=128&h=128'/>" %>
										<% } %>
									</figure>
								</div>
								<div class="column is-4">
									<div class="content">
										<h3 class="is-primary"><%= listing_info.username %></h3>
										<p class="is-blacklight">User since <span id='user-since'></span></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="column is-2"></div>

					<div class="column is-4">
						<div class="card no-shadow">
							<% if (listing_info.status == 1) { %>
							<div class="card-header no-shadow is-light">
								<h2 class="is-bold card-header-title">$<%= listing_info.month_price %></h2>
								<p class="card-header-title jc-flex-end is-marginless">Per Month</p>
							</div>
							<% } %>
							<div class="card-content">
								<div class="content">
									<% if (listing_info.status == 1) { %>
									<p class="is-bold">Pricing Information</p>
									<nav class="level is-mobile has-borderBottom">
										<div class="level-left">
											<p class="level-item">
												Hourly:
											</p>
										</div>
										<div class="level-right">
											<p class="level-item">
												$<%= listing_info.hour_price %>
											</p>
										</div>
									</nav>
									<nav class="level is-mobile has-borderBottom">
										<div class="level-left">
											<p class="level-item">
												Daily:
											</p>
										</div>
										<div class="level-right">
											<p class="level-item">
												$<%= listing_info.day_price %>
											</p>
										</div>
									</nav>
									<nav class="level is-mobile has-borderBottom">
										<div class="level-left">
											<p class="level-item">
												Weekly:
											</p>
										</div>
										<div class="level-right">
											<p class="level-item">
												$<%= listing_info.week_price %>
											</p>
										</div>
									</nav>
									<nav class="level is-mobile has-borderBottom">
										<div class="level-left">
											<p class="level-item">
												Monthly:
											</p>
										</div>
										<div class="level-right">
											<p class="level-item">
												$<%= listing_info.month_price %>
											</p>
										</div>
									</nav>
									<% } else { %>
									<p>
										This domain is currently unavailable. You may request
										the listing by clicking the button below which will
										notify both DomaHub and the domain owner.
									</p>
									<% } %>
								</div>
							</div>
							<div class="card-footer">
								<% if (listing_info.status == 1) { %>
								<a id="calendar-modal-button" class="card-footer-item button is-primary" data-object="#calendar-modal">Check Availability</a>
								<% } else { %>
								<a class="card-footer-item button is-primary">Request Listing</a>
								<% } %>
							</div>
						</div>
						<!-- <% if (listing_info.status == 1) { %>
							<div class="notification is-primary">
								<nav class="level">
									<div class="level-left">
										<div class="level-item">
											<p class="is-white">
												This domain is available.
											</p>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<a data-can_next="true" class="button next_button is-primary is-inverted">Rent Now</a>
										</div>
									</div>
								</nav>
							</div>
						<% } else { %>
							<div class="notification has-button is-danger">
								<nav class="level">
									<div class="level-left">
										<div class="level-item">
											<p class="is-white">
												This domain is unavailable.
											</p>
										</div>
									</div>
									<div class="level-right">
										<div class="level-item">
											<a class="button is-danger is-inverted">Request</a>
										</div>
									</div>
								</nav>
							</div>
						<% } %>
						<div class="box">
							<canvas id="myChart"></canvas>
						</div> -->
					</div>
				</div>
			</div>
		</section>

		<div id="calendar-modal" class="modal">
			<div class="modal-background is-white"></div>
			<div class="modal-container">
				<div class="modal-content listing-calendar">
					<nav class="level jc-flex-start">
						<div class="level-item is-narrow">
							<a class="button is-danger" id="remove_events">Remove Selected</a>
						</div>
						<div class="level-item is-narrow">
							<a class="button" id="month_button">Month View</a>
						</div>
						<div class="level-item is-narrow">
							<a class="button" id="today-button">Today</a>
						</div>
						<div class="level-item is-narrow">
							<h1 id="price">$0</h1>
						</div>
					</nav>
					<div id="calendar"></div>
				</div>
			</div>
			<button class="modal-close"></button>
		</div>

<!--
		<div id="address_wrapper" class="page_wrapper">

			<div class="info_wrapper">
				<h2 class="listing_info_text listing_info_text_white">Connect your website to <span class="green_text"><%= listing_info.domain_name %></span><h2>
				<input required class="input" id="address_form_input" type="url" placeholder="URL">
				<div class="button next_button" id="address_next">Next</div>
				<div id="faq_wrapper">
					<h3>Don&#39;t know how?</h3>
				</div>
			</div>

		</div>

		<div id="pay_wrapper" class="page_wrapper">

			<div class="info_wrapper">
				<form id="listing_form" action="/listing/<%=listing_info.domain_name%>/pay" method="post">
					<button class="form_submit button btn btn-primary btn-lg" id="stripe-button">
						Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
					</button>
				</form>
			</div>

		</div> -->

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script src="https://checkout.stripe.com/checkout.js"></script>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script src="/js/lib/fullcalendar.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script type="text/javascript">
			var listing_message = <% if(typeof listing_message != "undefined"){ %><%-JSON.stringify(listing_message)%><% }else{ %>""<% } %>;
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var new_rental_info = <% if(typeof new_rental_info != "undefined"){ %><%-JSON.stringify(new_rental_info)%><% }else{ %>""<% } %>;
			var rental_info = <% if(typeof rental_info != "undefined"){ %><%-JSON.stringify(rental_info)%><% }else{ %>""<% } %>;
		</script>
		<script src="/js/routes/calendar/calendar_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/calendar/calendar_general_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_listed_logic.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_general_logic.js" type="text/javascript"></script>

	</body>

</html>
