<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title><%= listing_info.domain_name %> - DomaHub</title>
		<link rel="stylesheet" href="/css/lib/daterangepicker.css" type="text/css" />
		<link rel="stylesheet" href="/css/min/listing_page.min.css" type="text/css" />
		<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" /> -->
		<%- include("../templates/head_links", {user: user});%>
	</head>

	<body>
		<%- include("../templates/js_scripts"); %>
		<script src="/js/lib/moment.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script type="text/javascript">
			<% delete listing_info.owner_email %>
			var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
			var compare = <% if(typeof compare != "undefined"){ %><%-JSON.stringify(compare)%><% }else{ %>""<% } %>;
		</script>

		<%# TOOL TO COMPARE %>
		<% if (compare && listing_info.unlisted) { %>
			<div id="compare-model">
			<%- include("modules/compare_module.ejs") %>
		<% } %>

		<%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
		<% if (listing_info.unlisted && !compare) { %>
			<%- include("unlisted_page.ejs") %>
			</div>
		<% } else { %>
			<%- include("listed_page.ejs") %>
			</div>
		<% } %>

		<%# SHOW OR HIDE FOOTER %>
		<% if (!(compare && listing_info.unlisted)) { %>
		</div>
			<footer class="footer is-dark">
				<div class="container">
					<p id="powered-by" class="is-primary">
						Powered by
					</p>
					<a id="dh_logo" class="logo" href="/" target="_blank" rel="noopener">
						<p tabindex="0" class="flat-logo is-primary"></p>
					</a>
					<img id="custom_logo" />
				</div>
			</footer>
		<% } %>

		<script src="/js/routes/listings/listing_logic.js" type="text/javascript"></script>

	</body>

</html>
