<!DOCTYPE html>
<html>
<head>
	<title>Create Listing - DomaHub</title>
	<%- include("../templates/head_links"); %>
	<link rel="stylesheet" href="/css/listing_create.css" type="text/css" />
	<script type="text/javascript">
		var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
		var message = <% if(typeof message != "undefined"){ %><%-JSON.stringify(message)%><% }else{ %>""<% } %>;
	</script>
	<script src="/js/routes/listing_create_logic.js" type="text/javascript"></script>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="section is-medium clear-nav">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h1 class="is-normal">Multiple listings.</h1>
          </div>
          <div class="content margin-bottom-25">
            <a class="button is-accent" tabindex="7" href="/listing/create">
              <span class="icon">
                <i class="fa fa-angle-left"></i>
              </span>
              <span>Back to single listing.</span>
            </a>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column box margin-bottom-25">
          <table class="table">
            <div class="content">
              <h2>Example .csv file</h2>
            </div>
            <thead>
              <tr>
                <th>Domain name*</th>
                <th>Description*</th>
                <th>Background image</th>
                <th>Purchase link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>bestdomain.com</td>
                <td>We have the greatest domain name ever!</td>
                <td>http://link-to-image.com/image.png</td>
                <td>http://link-to-buy.com/testdomain</td>
              </tr>
              <tr>
                <td>worstdomain.com</td>
                <td>This is the worst domain name in the world.</td>
                <td>http://link-to-image.com/image.png</td>
                <td>http://link-to-buy.com/testdomain</td>
              </tr>
              <tr>
                <td>neutraldomain.com</td>
                <td>I have no feelings regarding this domain.</td>
                <td>http://link-to-image.com/image.png</td>
                <td>http://link-to-buy.com/testdomain</td>
              </tr>
            </tbody>
          </table>
          <div class="content">
            <a class="button" tabindex="8" href="/downloads/csv/Multiple_Upload_Template.csv" download>
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download Template</span>
            </a>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h2>Click the button below to upload.</h2>
            <p class="control">
              <input type="file" name="csv" id="mult-csv" class="input-file" />
              <label for="mult-csv" class="button is-large is-primary"><i class="fa fa-upload"></i>Upload CSV</label>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>

</body>
</html>
