<!-- page to display listing information and calendar for rentals -->

<!DOCTYPE html>

<html>

	<head>
		<title><%= listing_info.domain_name %> - DomaHub</title>
		<link rel="stylesheet" href="/css/lib/daterangepicker.css" type="text/css" />
		<link rel="stylesheet" href="/css/min/listing_page.min.css" type="text/css" />
		<%- include("../templates/head_links", {user: user});%>
	</head>

	<body>

    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/lib/wNumb.js" type="text/javascript"></script>
    <script type="text/javascript">
      var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
      var compare = <% if(typeof compare != "undefined"){ %><%-JSON.stringify(compare)%><% }else{ %>""<% } %>;
    </script>

    <% if (!listing_info.premium){ %>
      <%- include("../templates/navbar", {user: user}); %>
    <% } %>

		<div id="contact-success" class="is-hidden notification is-popup is-primary">
	    <button class="delete"></button>
	    Success! Please check your email for further instructions.
		</div>
		<div id="contact-error" class="is-hidden notification is-popup is-danger">
	    <button class="delete"></button>
	    <span id="contact-error-message">Something went wrong! Please refresh the page and try again.</span>
		</div>

		<%# TOOL TO COMPARE %>
		<% if (compare) { %>
      <div id="contact-success-compare" class="is-hidden notification is-popup is-primary">
        <button class="delete"></button>
        Success! If this were your real domain, you would receive a notification with the details of this new offer.
      </div>
			<%- include("modules/compare_module.ejs") %>
		<% } %>

		<%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
		<% if (listing_info.unlisted && !compare) { %>
			<%- include("unlisted_page.ejs") %>
		<% } else { %>
			<%- include("listed_page.ejs") %>
		<% } %>

		<%# SHOW OR HIDE FOOTER %>
		<% if (!listing_info.premium ){ %>
			<footer class="footer is-hidden">
			  <div class="container">
			    <div class="footer-bar">
			      <div class="bar-left">
			        <a tabindex="0" class="circle-logo footer-item" href="/" title="Home"></a>
							<img id="custom_logo"/>
			        <p class="footer-item">
			          <i class="fa fa-copyright v-align-bottom"></i> DomaHub, Inc.
			        </p>
			      </div>
						<div class="bar-right">
							<p class="footer-item">
								Simple, clean sales pages for your domains.
							</p>
						</div>
			    </div>
			  </div>
			</footer>
		<% } %>

		<script src="/js/routes/listings/listing_logic.js" type="text/javascript"></script>

	</body>

</html>
