<!DOCTYPE html>
<html>
<head>
  <title><%= domain_name_puny %> - Offer Verification</title>
  <%- include("../templates/head_links.ejs"); %>
  <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
  <link rel="stylesheet" href="/css/min/listing_page.min.css" type="text/css" />
  <script type="text/javascript">
    var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
    var compare = false;
  </script>
</head>

<body>

  <section class="page-contents is-hidden section is-medium min-height">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">

          <div class="content has-text-centered clear-nav">
            <h1 class="margin-bottom-5 has-text-centered">
              <% if (listing_info.premium) { %>
                <a href="http://<%= domain_name_puny %>" class="is-primary"><%= domain_name_puny %></a>
              <% } else { %>
                <a class='is-inline-block flat-logo is-primary' tabindex="0" title="Home" href="/">
                  <div class='is-inline-block flat-logo is-primary'></div>
                </a>
              <% } %>
            </h1>
          </div>

          <div class="box">
            <div class="content">
              <p>
                Your offer has been verified and the owner of <%= domain_name_puny %> has been notified!
              </p>
              <p>
                There is no further action required on your end. Please wait for the owner to accept or reject your offer.
              </p>
            </div>
            <div class="has-text-centered">
              <a href="http://<%= domain_name_puny %>" id="gohome-button" class='button is-stylish'>
                <span class="icon is-small"><i class="fal fa-long-arrow-left"></i></span>
                <span>Back to <%= domain_name_puny %></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-contents">
    <%# LISTING FOOTER %>
    <%- include("listing_footer.ejs") %>
  </section>

  <script src="/js/routes/listings/theming.js" type="text/javascript"></script>
</body>
</html>
