<!DOCTYPE html>
<html>
<head>
  <title><%= listing_info.domain_name %> - Ownership Transfer Verification</title>
  <%- include("../templates/head_links.ejs"); %>
  <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
  <link rel="stylesheet" href="/css/min/listing_page.min.css" type="text/css" />
  <script type="text/javascript">
    var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
    var offer_info = <% if(typeof offer_info != "undefined"){ %><%-JSON.stringify(offer_info)%><% }else{ %>""<% } %>;
    var compare = false;
  </script>
</head>

<body>
  <div>

    <div class="content has-text-centered clear-nav">
      <h1 class="margin-bottom-5 has-text-centered">
        <% if (listing_info.premium) { %>
          <a href="http://<%= listing_info.domain_name %>" class="is-primary"><%= listing_info.domain_name %></a>
        <% } else { %>
          <a class='is-inline-block flat-logo is-primary' tabindex="0" title="Home" href="/">
            <div class='is-inline-block flat-logo is-primary'></div>
          </a>
        <% } %>
      </h1>
    </div>

    <div class="account-form">
      <div class="control">
        <p id="message">
          Hello, <%= offer_info.name %>! Please verify that the domain has been transferred to you by
          clicking the button below.
        </p>
      </div>
      <div class="has-text-centered">
        <a id="verify-button" class='button is-stylish is-primary'>
          <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
          <span>I own <%= listing_info.domain_name %></span>
        </a>
        <a id="gohome-button" class='button is-stylish is-primary is-hidden'>
          <span class="icon is-small"><i class="fa fa-undo"></i></span>
          <span>Back to <%= listing_info.domain_name %></span>
        </a>
        <a id="reload-button" class='button is-stylish is-primary is-hidden'>
          <span class="icon is-small"><i class="fa fa-refresh"></i></span>
          <span>Refresh page</span>
        </a>
      </div>
    </div>

  </div>

  <%# LISTING FOOTER %>
  <%- include("listing_footer.ejs") %>

  <script src="/js/routes/listings/transfer_verify_logic.js" type="text/javascript"></script>
  <% if (listing_info.premium) { %>
    <script src="/js/routes/listings/theming.js" type="text/javascript"></script>
  <% } else { %>
    <script>
      $(document).ready(function(){
        $("#dh-footer").removeClass('is-hidden');
      });
    </script>
  <% } %>
</body>
</html>
