<section id="compare-preview" class="min-height">
    <div class="container">
        <div class="columns master right">
            <div class="column is-6">

                <span class="tag is-primary margin-bottom-5 is-medium">
                  <% if (listing_info.available){ %>
                      Available for purchase
                  <% } else { %>
                      Currently unavailable
                  <% } %>
                </span>

                <div id="domain-display" class="content margin-top-15">
                  <h1 class="is-primary is-inline-block margin-bottom-0"><%= listing_info.domain_name %></h1>
                </div>

            </div>
            <div class="column is-6">
                <div class='box has-tabs'>
                  <%# UNAVAILABLE MODULE %>
                  <%- include("modules/unavailable_module.ejs"); %>
                </div>
            </div>
        </div>

        <%# TABS FOR THE BELOW MODULES %>
        <%- include("modules/tabs_module.ejs", {
            listing_info : listing_info
        }); %>

        <%# INFO MODULE %>
        <%- include("modules/info_module.ejs", {
          listing_info : listing_info
        }); %>

        <%# TRAFFIC MODULE %>
        <%- include("modules/traffic_module.ejs", {
          listing_info : listing_info
        }); %>

        <%# TICKER MODULE %>
        <%- include("modules/ticker_module.ejs", {
            listing_info : listing_info
        }); %>

</section>
