<section id="background-image" class="min-height">
    <div class="container">
        <div class="columns master right">
            <div class="column is-6">

                <span class="tag is-primary margin-bottom-5 is-medium">
                  <% if (listing_info.available){ %>
                      Available for Purchase
                  <% } else { %>
                      Unavailable
                  <% } %>
                </span>

                <div id="domain-display" class="content margin-top-15">
                  <h1 class="is-primary is-inline-block margin-bottom-0"><%= listing_info.domain_name %></h1>
                </div>

            </div>
            <div class="column is-6">
                <div class='box has-tabs'>
                    <%# UNAVAILABLE MODULE %>
                    <%- include("modules/unavailable_module.ejs"); %>
                </div>
            </div>
        </div>

    <div class="container margin-top-100">

      <%# TABS %>
      <div class="tabs is-boxed has-shadow margin-bottom-0">
        <ul>
          <li id="traffic-tab" class='tab is-active'>
            <a>
                <span class="is-hidden-mobile icon is-small"><i class="fa fa-line-chart"></i></span>
                <span>Traffic</span>
            </a>
          </li>
          <li id="info-tab" class="tab is-attached">
            <a>
                <span class="is-hidden-mobile icon is-small"><i class="fa fa-info-circle"></i></span>
                <span>Information</span>
            </a>
          </li>
          <li id="ticker-tab" class="tab is-attached">
            <a>
                <span class="is-hidden-mobile icon is-small"><i class="fa fa-history"></i></span>
                <span>History</span>
            </a>
          </li>
        </ul>
      </div>

        <%# TRAFFIC MODULE %>
        <%- include("modules/traffic_module.ejs", {
          listing_info : listing_info
        }); %>

        <%# INFO MODULE %>
        <%- include("modules/info_module.ejs", {
          listing_info : listing_info
        }); %>

        <%# TICKER MODULE %>
        <%- include("modules/ticker_module.ejs", {
            listing_info : listing_info
        }); %>

  </div>
</section>
