<% if (!listing_info.premium || (listing_info.premium && listing_info.social_sharing)) { %>
  <div id="social-sharing-module" class="footer-item">
      <% if (listing_info.premium) { %>
        <a class="social-share" title="Share on Facebook!" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://<%= listing_info.domain_name %>&title=Check out this awesome domain!">
      <% } else { %>
        <a class="social-share" title="Share on Facebook!" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://domahub.com/listing/<%= listing_info.domain_name %>&title=Check out this awesome domain!">
      <% } %>
        <div class="icon is-small">
          <i class="far fa-facebook-f"></i>
        </div>
      </a>
      <% if (listing_info.premium) { %>
        <a class="social-share" title="Share on Twitter!" target="_blank" href="http://twitter.com/intent/tweet?status=Check out this awesome domain!+https://<%= listing_info.domain_name %>">
      <% } else { %>
        <a class="social-share" title="Share on Twitter!" target="_blank" href="http://twitter.com/intent/tweet?status=Check out this awesome domain!+https://domahub.com/listing/<%= listing_info.domain_name %>">
      <% } %>
        <div class="icon is-small">
          <i class="far fa-twitter"></i>
        </div>
      </a>
      <% if (listing_info.premium) { %>
        <a class="social-share" title="Share on LinkedIn!" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://<%= listing_info.domain_name %>&title=Check out this awesome domain!">
      <% } else { %>
        <a class="social-share" title="Share on LinkedIn!" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://domahub.com/listing/<%= listing_info.domain_name %>&title=Check out this awesome domain!">
      <% } %>
        <div class="icon is-small">
          <i class="far fa-linkedin-in"></i>
        </div>
      </a>
      <% if (listing_info.premium) { %>
        <a class="social-share" title="Share via email!" target="_blank" href="mailto:?body=https://<%= listing_info.domain_name %>&subject=Check out this awesome domain!">
      <% } else { %>
        <a class="social-share" title="Share via email!" target="_blank" href="mailto:?body=https://domahub.com/listing/<%= listing_info.domain_name %>&subject=Check out this awesome domain!">
      <% } %>
        <div class="icon is-small">
          <i class="far fa-envelope"></i>
        </div>
      </a>
  </div>
<% } %>
