<!DOCTYPE html>

<html>

	<head>
		<title><%= listing_info.hub_title || listing_info.domain_name %></title>
		<link rel="stylesheet" href="/css/min/listing_hub.min.css" type="text/css" />
    <%- include("../../templates/head_links", {user: user});%>
	</head>

	<%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
	<% if (listing_info.status == 0) { %>
		<%- include("../unlisted_page.ejs") %>
	<% } else if (listing_info.deposited) { %>
		<%- include("../sold_page.ejs") %>
	<% } else { %>
		<%- include("listed_hub_page.ejs", {listing_info : listing_info}); %>
	<% } %>

</html>
