<html>

	<head>
		<title>Domain Hub</title>
		<link rel="stylesheet" href="/css/min/marketplace.min.css" type="text/css" />
    <%- include("../../templates/head_links", {user: user});%>
	</head>

	<body id="page-contents" class="is-hidden">

    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/lib/wNumb.js" type="text/javascript"></script>
    <script type="text/javascript">
      var listing_info = <% if(typeof listing_info != "undefined"){ %><%-JSON.stringify(listing_info)%><% }else{ %>""<% } %>;
      var compare = <% if(typeof compare != "undefined"){ %><%-JSON.stringify(compare)%><% }else{ %>""<% } %>;
      var categories = <% if(typeof categories != "undefined"){ %><%-JSON.stringify(categories)%><% }else{ %>""<% } %>;
    </script>

    <section class="hero is-small gradient-left-right">

      <div class="hero-body min-height">
        <div class="container">
          <div class="content">
            <h1 class="title is-1 is-primary"><%= listing_info.domain_name %></h1>
						<p class="subtitle is-5" style="max-width: 500px;">
							<%= listing_info.description %>
						</p>
          </div>
        </div>
      </div>

    </section>

    <section class="section is-small" style="background-color:#f2f5f7;">
      <div class="container">
				<div class="control has-addons" style="max-width:500px;margin-left:auto;margin-right:auto;">
					<input id="search-domain-main" class="input is-medium" type="text" placeholder="Search domains..."/>
					<input id="search-domain-tld" class="input is-medium" type="text" value=".com" style="max-width:100px;color:#3cbc8d"/>
				</div>
				<div class="control is-spaced is-mobile">
					<div class="control-left">
						<p id="total-domain-count"></p>
					</div>
					<div class="control-right">
						<div class="select is-stylish no-borders">
							<select id="categories-select">
                <option value="" selected>
                  All Categories
                </option>
              </select>
						</div>
            <button id="layout-button" class="button is-icon">
              <div class="icon">
                <i class="far fa-align-justify"></i>
              </div>
            </button>
						<button id="prev-page" class="is-disabled page-button button is-icon">
							<div class="icon">
								<i class="far fa-angle-left"></i>
							</div>
						</button>
						<button id="next-page" class="is-disabled page-button button is-icon">
							<div class="icon">
								<i class="far fa-angle-right"></i>
							</div>
						</button>
					</div>
				</div>
      </div>
    </section>

		<section class="section is-small" style="background-color:#f2f5f7;min-height:800px;">
			<div class="container">
				<table id="domains-table" class="domains-table is-hidden table is-transparent-head">
					<thead>
						<tr>
							<th colspan="1"></th>
							<th class="sort-header" data-sort-by="domain_name" colspan="2">
                <span>Domain Name</span>
                <div class="icon is-small"><i class="far fa-sort" data-fa-transform="down-2"></i></div>
              </th>
							<th class="sort-header" data-sort-by="buy_price" colspan="1">
                <span>Buy It Now Price</span>
                <div class="icon is-small"><i class="far fa-sort" data-fa-transform="down-2"></i></div>
              </th>
							<th class="sort-header" data-sort-by="min_price" colspan="1">
                <span>Minimum Price</span>
                <div class="icon is-small"><i class="far fa-sort" data-fa-transform="down-2"></i></div>
              </th>
							<th class="sort-header" data-sort-by="price_rate" colspan="1">
                <span>Rent</span>
                <div class="icon is-small"><i class="far fa-sort" data-fa-transform="down-2"></i></div>
              </th>
						</tr>
					</thead>
					<tbody id="domain-table-body">
						<tr id="clone-row" class="is-hidden table-row no-hover-effect">
							<td colspan="1" class="img-col">
								<figure class="image is-48x48 left-aligned">
									<img class="domain-row-logo" alt="Domain Logo"/>
								</figure>
							</td>
							<td colspan="2" class="domain-col">
								<p class="domain-row-domain"></p>
							</td>
							<td colspan="1" class="bin-col">
								<div class="control-item">
									<span class="tag is-primary is-dot"></span>
									<p class="domain-row-bin"></p>
								</div>
							</td>
							<td colspan="1" class="min-col">
								<div class="control-item">
									<span class="tag is-accent is-dot"></span>
									<p class="domain-row-min"></p>
								</div>
							</td>
							<td colspan="1" class="rent-col">
                <div class="control-item">
                  <span class="tag is-info is-dot"></span>
                  <p class="domain-row-rent"></p>
                </div>
              </td>
							<td colspan="1" class="misc-col">
								<button class="button no-shadow is-icon is-transparent is-black misc-button">
									<div class="icon"><i class="far fa-ellipsis-h"></i></div>
								</button>
								<div class="misc-options is-hidden">
									<ul>
                    <li><i class="far fa-comment"></i></li>
										<li><i class="far fa-share"></i></li>
										<li><i class="far fa-info-circle"></i></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
        <table id="no-domains-table" class="domains-table is-hidden table is-transparent-head">
          <tbody>
            <tr class="no-hover-effect">
              <td>
                <div>
                  <div class="nothing-exists-row has-text-centered">
                    <img src="/images/lib/ggface.png">
                    <p>Oh, no! There are no matching domains!</p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table id="loading-domains-table" class="domains-table table is-transparent-head">
          <tbody>
            <tr class="no-hover-effect">
              <td>
                <div>
                  <div class="nothing-exists-row has-text-centered">
                    <p class="icon is-medium"><i class="far fa-spin fa-sync-alt"></i></p>
                    <p>Now loading domains.</p>
                    <p>This may take some time.</p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
			</div>
		</section>

		<%- include("../listing_footer.ejs") %>

    <script src="/js/routes/listings/hub/listing_hub_logic.js" type="text/javascript"></script>
    <script src="/js/routes/listings/hub/hub_theming.js" type="text/javascript"></script>

  </body>

  </html>
